{{ Mimoto.module('MimotoCMS_modules_Button', { label:'Add new', icon:'plus', onclick:"MimotoCMS.contentNew('"~Mimoto.meta('id')~"');" }) }}

<div class="MimotoCMS_pages_content_ContentOverview-container" {{ Mimoto.sortable() }} {{ Mimoto.realtime('contentItems', 'MimotoCMS_content_ContentOverview_ListItem') }}>
    {{ Mimoto.data('contentItems', 'MimotoCMS_content_ContentOverview_ListItem') }}
</div>
