a.MimotoCMS_modules_Button {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    outline: none;
    background-color: #000000;
    color: #ffffff;
    box-shadow: none;

    &:hover {
        text-decoration: none;
        background-color: $tower-gray;
    }

    & span.MimotoCMS_modules_Button--text {
        color: #ffffff;
        background-color: transparent;
    }
}

a.MimotoCMS_modules_Button--loading {
    pointer-events: none;
    background-color: rgba($black, .7);
}

a.MimotoCMS_modules_Button--secondary {

    background-color: $tower-gray;
    color: #ffffff;
    text-decoration: none;

    &:hover {
        background-color: $black;
    }

    svg.MimotoCMS_modules_Button-icon {
        fill: $white;
    }
}

a.MimotoCMS_modules_Button--alert {

    text-decoration: none;
    background-color: $fuzzy-wuzzy-brown;
    color: #ffffff;

    &:hover {
        background-color: $black;
    }

    svg.MimotoCMS_modules_Button-icon {
        fill: $white;
    }
}

a.MimotoCMS_modules_Button--small {
    padding: 6px 10px;
    font-size: rem-calc(10px);
    color: #ffffff;
    text-decoration: none;
}

    div.MimotoCMS_modules_Button-content {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        white-space: nowrap;
        text-decoration: none;
    }

        span.MimotoCMS_modules_Button--text {
            text-decoration: underline;
            color: #555;
            background-color: transparent;
            white-space: nowrap;
            user-select: none;

            &:hover {
                color: #000;
            }
        }


        span.MimotoCMS_modules_Button-text {
            font-family: $font-family-futura;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            background-color: transparent;
            flex: 1 1 auto;
            white-space: nowrap;
            user-select: none;
        }

        svg.MimotoCMS_modules_Button-icon {
            display: block;
            width: 10px;
            height: 10px;
            margin: 5px 0 5px 15px;
            fill: $tower-gray;
            flex: 0 0 auto;
        }

        a.MimotoCMS_modules_Button-icon--loading {
            width: 12px;
            height: 12px;
            margin: 4px 0 4px 13px;
            stroke: $tower-gray;
        }

        a.MimotoCMS_modules_Button-icon--success {

        }
