div.MimotoCMS_pages_components_ComponentTemplate {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    background-color: #f5f5f5;

    padding: 15px
}

div.MimotoCMS_pages_components_ComponentTemplate-info {
    flex: auto;
}

    div.MimotoCMS_pages_components_ComponentTemplate-fileName {


        &.empty {
            font-style: italic;
            color: $tower-gray;
        }
    }

div.MimotoCMS_pages_components_ComponentTemplate-menu {
    flex: none;
    text-align: right;
}