add settings (filter etc)

<div class="mimoto_list" mls_container="faqitem" mls_filter="">
    
    loop door viewmodels
    get template
    include viewmodel.template with listitems:viewmodel.data
    
</div>