{% set list_items = [
    {
        "title": "Teju Cole",
        "subtitle": "Amerika-deskundingen",
        "removeable": true
    },
    {
        "title": "Taryn Simon - An American Index of the Hidden and Unfamiliar",
        "subtitle": "Boek"
    },
    {
        "title": "Kobe Bryant",
        "subtitle": "NBA Superster",
        "removeable": true,
        "image": "http://cbssports1.cbsistatic.com/hub/i/2016/01/19/3f35db9e-0917-4362-824b-3beddae2a5a9/resize/600x465/usatsi9044225.jpg?hash=74534a5ba46be35690d9237387db2854"
    },
    {
        "title": "MF DOOM - Mm.. Food",
        "subtitle": "Album",
        "image": "https://images.genius.com/5815d7f7ae232dd64ace634964f52448.650x430x1.jpg"
    }
] %}

{% embed "MimotoCMS/components/forms/FormComponent.twig" with {"type": "list"} %}
    {% block form_component_element %}
        <div class="MimotoCMS_forms_input_List js-list js-list-sortable">


            '_MimotoAimless__interaction__form_input_list--item

            {% for list_item in list_items %}
                {% include 'MimotoCMS/components/forms/input/ListItem/ListItem.twig' with {
                    "list_item": list_item,
                    "sortable": true
                } only %}
            {% endfor %}
        </div>
    {% endblock %}
{% endembed %}
