{% embed "MimotoCMS/components/forms/FormComponent.twig" with {"type": "list", button:true, buttonOnClick:"Mimoto.CMS.formFieldAddItemToList('/mimoto.cms/formfield/add/"~Aimless.meta('type')~"/"~Aimless.meta('id')~"/"~Aimless.fieldId()~"')", target:'page' } %}
    {% block form_component_element %}
        <div class="MimotoCMS_forms_input_List js-list js-list-sortable" data-aimless-id="{{ Aimless.fieldId() }}" data-aimless-component="_MimotoAimless__interaction__form_input_list_item">

            {{ Aimless.value(true, '_MimotoAimless__interaction__form_input_list-item', { 'title': 'label', 'subtitle': 'value' }) }}

            {#
                // 1. mapping in settings
                // 2. type: { 'componentVar1':'entityVar1', 'componentVar2':'entityVar2' } general key/value pair
                // 3.

            #}

        </div>
    {% endblock %}
{% endembed %}
