{% embed "MimotoCMS/components/forms/FormComponent.twig" with {"type": "list", button:true } %}
    {% block form_component_element %}
        <div class="MimotoCMS_forms_input_List js-list js-list-sortable" data-aimless-id="{{ Aimless.fieldId() }}" data-aimless-component="_MimotoAimless__interaction__form_input_list-item">

            {{ Aimless.value(true, '_MimotoAimless__interaction__form_input_list-item', { 'title': 'value', 'subtitle': 'key' }) }}

        </div>
    {% endblock %}
{% endembed %}
