#{$pr-input}_ColorPicker {
    position: relative;

    &-wrapper {
        background: transparent;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        padding: 20px 0;
        animation: none;
        direction: ltr;
        border: 0;
        font-size: 14px;
        line-height: 24px;
        border-radius: 5px;
        position: absolute;
        width: 320px;
        box-sizing: border-box;
        background: #fff;
        box-shadow: 1px 0 0 #eee, -1px 0 0 #eee, 0 1px 0 #eee, 0 -1px 0 #eee, 0 3px 13px rgba(0,0,0,0.08);
    }

    &-wrapper.open {
        opacity: 1;
        visibility: visible;
        overflow: visible;
        max-height: 640px;
        animation: flatpickrFadeInDown 300ms cubic-bezier(0, 1, 0.5, 1);
        z-index: 999;
        display: block;
        top: calc(100% + 10px);
    }

    &-wrapper::before {
        position: absolute;
        display: block;
        pointer-events: none;
        border: solid transparent;
        content: '';
        height: 0;
        width: 0;
        left: 22px;
        bottom: 100%;
        border-bottom-color: #fff;
        border-width: 5px;
        margin: 0 -5px;
    }

    &-input {
        display: block;
        width: 100%;
        height: 50px;
        margin: 0 0 10px;
        padding: 14px 15px;
        font-family: $font-family-helvetica;
        font-size: rem-calc(14px);
        line-height: rem-calc(20px);
        color: $black;
        border: 1px solid $pale-slate;
        outline: none;
        background: $alabaster;
        transition: all 100ms ease-out;

        &:focus {
            border-color: $tower-gray;
            background: $white;

            + #{$pr-forms}_FormComponent-element-prefix {
                border-color: $tower-gray;
                background: $white;
            }
        }
    }
}
