{% embed "MimotoCMS/components/forms/FormComponent.twig" with {"type": "colorpicker" } %}
    {% block form_component %}

        <div>color rectangle</div>
        <div>button die popup opent</div>

        input wordt "hidden"
        <input {{ Mimoto.input() }} type="type" class="MimotoCMS_forms_input_ColorPicker" value="{{ Mimoto.value() }}"/>

    {% endblock %}
{% endembed %}
