.button {
  display: inline-flex;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  outline: none;
  background-color: $black;
  box-shadow: none;
  flex-wrap: nowrap;
  align-items: center;

  .button-text {
    font-family: $font-family-futura;
    font-size: rem-calc(14px);
    font-weight: 500;
    line-height: rem-calc(20px);
    color: $white;
  }

  .button-icon {
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 0 0 20px;
    fill: $tower-gray;
  }
}

.button.button--grey {
  background-color: $silver;
}
