.button {
  display: inline-flex;
  padding: 10px 20px;
  text-decoration: none;
  background: $black;
  flex-wrap: nowrap;
  align-items: center;

  .button-text {
    font-family: $font-family-futura;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $white;
  }

  .button-icon {
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 0 0 20px;
    fill: $tower-gray;
  }
}
