.MimotoCMS_forms_input_Button {
  display: inline-flex;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  outline: none;
  background-color: $black;
  box-shadow: none;
  flex-wrap: nowrap;
  align-items: center;

  .MimotoCMS_forms_input_Button__text {
    font-family: $font-family-futura;
    font-size: rem-calc(14px);
    font-weight: 500;
    line-height: rem-calc(20px);
    color: $white;
  }

  .MimotoCMS_forms_input_Button__icon {
    display: block;
    margin: 5px 0 5px 20px;
    font-size: rem-calc(10px);
    color: $tower-gray;
  }
}

.MimotoCMS_forms_input_Button.button--grey {
  background-color: $silver;
}
