//@import 'EntityProperty/EntityProperty';
//@import 'EntityPropertySetting/EntityPropertySetting';
//@import 'EntityPropertySettingAllowedEntityType/EntityPropertySettingAllowedEntityType';
//@import 'EntityPropertyExample/EntityPropertyExample';


div.MimotoCMS_pages_contentsections_ContentSectionDetail__panel {
    margin-bottom: 25px;
    background-color: #ffffff;
    padding: 15px;
    max-width: 800px;
}

div.MimotoCMS_pages_contentsections_ContentSectionDetail_Structure {
    position: relative;
    background-color: #ffffff;
}

div.MimotoCMS_pages_contentsections_ContentSectionDetail_Structure__meta {

    padding: 10px 15px 15px 15px;
    margin-bottom: 5px;
    background-color: $offwhite;
    display: flex;
    flex-wrap: nowrap;

    //& a {
    //    color: $tower-gray;
    //}

    &>div.MimotoCMS_pages_contentsections_ContentSectionDetail_Structure__meta_info {
        flex-grow: 5;
    }

    &>div.MimotoCMS_pages_contentsections_ContentSectionDetail_Structure__meta_menu {
        flex-grow: 1;
        text-align: right;
        padding-top: 5px;
    }

    div.MimotoCMS_pages_contentsections_ContentSectionDetail_Structure__contentsectionname {
        font-size: 24px;
        font-weight: bold;
    }

    div.MimotoCMS_pages_contentsections_ContentSectionDetail_Structure__contentsectiontype {
        font-style: italic;
        color: $tower_gray;
    }
    div.MimotoCMS_pages_contentsections_ContentSectionDetail_Structure__contentsectionformname {
        color: #000000;
    }

}



div.MimotoCMS_pages_contentsections_ContentSectionDetail_Structure__properties {

    padding: 15px 15px 10px 15px;
    background-color: $offwhite;
}

div.MimotoCMS_pages_contentsections_ContentSectionDetail_Structure__usage {
    color: #000000;
}

div.MimotoCMS_pages_contentsections_ContentSectionDetail_Structure__properties_empty {

    display: flex;
    flex-wrap: nowrap;

    &>div:first-child {
        flex-grow: 5;
    }

    &>div:last-child {
        flex-grow: 1;
        text-align: right;
    }
}

div.MimotoCMS_pages_contentsections_ContentSectionDetail_Structure__properties_menu {
    padding: 20px 0 10px 0;
    text-align: left;
}

div.MimotoCMS_pages_contentsections_ContentSectionDetail_Structure__properties_container {

    &>div {
        margin-bottom: 5px;
    }

    &>div:last-child {
        margin-bottom: 0;
    }

}

div.MimotoCMS_pages_contentsections_ContentSectionDetail__example {
    padding: 15px;
    overflow: scroll;
    border: 1px solid #f5f5f5;
    background-color: #f1f1f1;
    white-space: nowrap;
}

div.MimotoCMS_pages_contentsections_ContentSectionDetail__example-container {
    padding: 20px;
    background-color: #ffffff;
}

div.MimotoCMS_pages_contentsections_ContentSectionDetail__codeexample-title {
    font-weight: bold;
    margin-bottom: 10px;
}

iframe.MimotoCMS_pages_contentsections_ContentSectionDetail {
    width: 100%;
    height: auto;
}