div.TheTimeline_Moment {

    position: absolute;
    display: inline-block;

    padding: 12px 16px 12px 16px;

    background-color: #ffffff;
}

div.TheTimeline_Moment-title {
    font-weight: bold;
    font-size: 16px;
}

div.TheTimeline_Moment-shortDescription {
    font-style: italic;
    font-size: 12px;
}

div.TheTimeline_Moment-date {
    display: none;
}

div.TheTimeline_Moment-importance {
    display: none;
}
