div.MimotoCMS_forms_layout_GroupStart {
    width: 100%;
    padding: 22px 29px 29px 29px;
    border: 1px solid #d6d6d6;
    margin-bottom: 25px;
}

div.MimotoCMS_forms_layout_GroupStart__title {
    color: $tower-gray;
    margin-bottom: 25px;
}
