div.MimotoCMS_pages_entities_EntityDetail-EntityPropertySetting {

    color: #000000;
    padding: 3px 7px 4px 7px;
    background-color: #ffffff;

    & div.MimotoCMS_pages_entities_EntityDetail-EntityPropertySetting__allowedEntityTypes {
        padding-left: 20px;
    }
}