<div class="MimotoCMS_pages_entities_EntityDetail-EntityPropertySetting">
    {{ Aimless.render('key') }}:<br>
    {% if Aimless.data('key') == 'allowedEntityType' %}
        <a href="/mimoto.cms/entity/{{ Aimless.meta('id') }}/view">{{ entityStructure.entityNames[Aimless.data('value')] }}</a>
    {% else %}
        {{ Aimless.render('value')|raw }}
    {% endif %}
</div>
