<div class="MimotoCMS_pages_entities_EntityDetail-EntityPropertySetting">
    {{ Aimless.render('key') }}:<br>
    {% if Aimless.data('key') == 'allowedEntityType' %}
        {{ Aimless.render('allowedEntityType', 'Mimoto.CMS_entities_EntityDetail-EntityPropertySettingAllowedEntityType')|raw }}
    {% elseif Aimless.data('key') == 'allowedEntityTypes' %}
        [
            <div class="MimotoCMS_pages_entities_EntityDetail-EntityPropertySetting__allowedEntityTypes">
            {{ Aimless.render('allowedEntityTypes', 'Mimoto.CMS_entities_EntityDetail-EntityPropertySettingAllowedEntityType')|raw }}
            </div>
        ]
    {% else %}
        {{ Aimless.render('value')|raw }}
    {% endif %}
</div>
