{% embed "MimotoCMS/modules/Tabmenu/Tabmenu.twig" %}

    {% block panels %}

        <!-- structure -->

        <div data-mimotocms-tabmenu-tab="User roles" class="MimotoCMS_pages_configuration_userroles_Detail__panel">

            <div class="MimotoCMS_pages_configuration_userroles_Detail_Structure">

                <div class="MimotoCMS_pages_configuration_userroles_Detail_Structure__meta">
                    <div class="MimotoCMS_pages_configuration_userroles_Detail_Structure__meta_info">

                        <div class="MimotoCMS_pages_configuration_userroles_Detail_Structure__name" {{ Mimoto.realtime('name') }}>{{ Mimoto.data('name') }}</div>

                    </div>

                    <div class="MimotoCMS_pages_configuration_userroles_Detail_Structure__meta_menu">
                        {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Edit', icon:'', directive:Mimoto.edit('_Mimoto_user_role'), type:'secondary' }) }}
                    </div>

                </div>

            </div>

        </div>

    {% endblock %}
{% endembed %}
