#{$pr-mimoto}_Pagecontent {
    position: absolute;
    z-index: $z-pagecontent;
    top: $header-height-collapsed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;

    @include breakpoint(large up) {
        top: $header-height;
        left: $navigation-width;
        padding: 30px 30px 30px 40px;
        transition: top .25s, left .25s;
    }
}
