<div class="MimotoCMS_pages_entities_EntityDetail-EntityPropertySettingFormattingOption js-sortable-draghandle" {{ Mimoto.realtime() }}>
    <span {{ Mimoto.realtime('name') }}>{{ Mimoto.render('name') }}</span>
</div>
