<div class="MimotoCMS_pages_entities_EntityDetail-EntityPropertySettingFormattingOption" {{ Mimoto.sortHandle() }} {{ Mimoto.realtime() }}>
    <span {{ Mimoto.realtime('name') }}>{{ Mimoto.data('name') }}</span>
</div>
