div.MimotoPublisher_Article {
    width: 100%;
}

div.MimotoPublisher-Article-lede-container {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

div.MimotoPublisher-Article-lede {
    padding: 25px 100px 20px 50px;
    width: 550px;
    font-size: 18px;
    line-height: 30px;

    & > span.MimotoPublisher-Article-articletype {
        color: #000000;
        background-color : #ffffff;
        font-size: 14px;
        padding: 3px 7px 3px 7px;
    }
}

div.MimotoPublisher-Article-authors-container {

    text-align: right;

    & > div {
        display: inline-block;
        margin-right: 5px;
    }

    & > div:last-child {
        margin-right: 0;
    }
}

div.MimotoPublisher-Article-header {
    position: relative;
}

div.MimotoPublisher-Article-title {
    padding: 0 50px 40px 50px;
    font-size: 48px;
    line-height: 50px;
    font-weight: bold;
    font-family: "Futura PT W02 Book", sans-serif;
}

@include breakpoint(medium up) {

    div.MimotoPublisher-Article-title {
        padding: 0 200px 30px 100px;
        overflow: visible;
    }
}

img.MimotoPublisher-Article-headerImage {
    position: relative;
    width: 100%;
    z-index: 0;
}

.ql-editor, .ql-container{
    overflow-y: auto;
    height: auto;
}

.ql-editor {
    padding: 0;
    line-height: inherit;
}

div.MimotoPublisher-Article-body {

    position: relative;
    font-size: 18px;
    font-family: "Futura PT W02 Book", sans-serif;
    line-height: 30px;
    width: 100%;
    height: auto;
    max-width: 750px;
    background-color: #ffffff;
    padding: 50px 50px 80px 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    outline: none;

    //&::first-letter {
    //    color: #DF5B57;
    //    float: left;
    //    font-size: 65px;
    //    font-weight: bold;
    //    line-height: 55px;
    //    padding-top: 4px;
    //    padding-right: 8px;
    //    padding-left: 3px;
    //}

    & p {
        margin-bottom: 20px;
    }
    & p:last-child {
        margin-bottom: 0;
    }

    & h1 {
        font-weight: bold;
        font-family: "Futura PT W02 Book", sans-serif;
        color: #DF5B57;
        font-size: 30px;
        margin-bottom: 20px;
    }

    & h2 {
        font-weight: bold;
        font-family: "Futura PT W02 Book", sans-serif;
        color: #DF5B57;
        font-size: 24px;
        margin-bottom: 20px;
    }

    & strong {
        font-weight: bold;
    }

    & em {
        font-style: italic;
    }
}

div.MimotoPublisher_Article-others {

}

div.MimotoPublisher_Article-others-container {

    & > div:first-child {
        display: none;
    }

    & > div {
        float: right;
        margin-left: 5px;
    }

    & > div:last-child {
        margin-left: 0;
    }
}


// --- Also on this page


div.MimotoPublisher_Article-others {

    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;

    visibility: hidden;
}

div.MimotoPublisher_Article-others-label {
    flex: none;
    white-space: nowrap;

    padding: 15px 25px 15px 25px;
    color: #e5e5e5;
}

div.MimotoPublisher_Article-others-other {

    width: 40px;
    height: 40px;
    //transition: height 1s ease-out;

    flex: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    background-size: cover;
    background-position: center
}

span.MimotoPublisher_Article-others-other-initials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000000;
}
