div.MimotoPublisher_Article {
    width: 100%;
}

div.MimotoPublisher-Article-lede-container {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

div.MimotoPublisher-Article-lede {
    padding: 100px 100px 20px 100px;
    width: 550px;
    font-size: 18px;
    line-height: 30px;

    & > span.MimotoPublisher-Article-articletype {
        color: #000000;
        background-color : #ffffff;
        font-size: 14px;
        padding: 3px 7px 3px 7px;
    }
}

div.MimotoPublisher-Article-authors-container {

    text-align: right;

    & > div {
        display: inline-block;
        margin-right: 5px;
    }

    & > div:last-child {
        margin-right: 0;
    }
}

div.MimotoPublisher-Article-header {
    position: relative;
}

div.MimotoPublisher-Article-title {
    margin: 0 50px 30px 50px;
    font-size: 48px;
    line-height: 50px;
    font-weight: bold;
    font-family: "Futura PT W02 Book", sans-serif;
}

@include breakpoint(medium up) {

    div.MimotoPublisher-Article-title {
        margin: 0 200px 30px 100px;
        overflow: visible;
    }
}

img.MimotoPublisher-Article-headerImage {
    position: relative;
    width: 100%;
    z-index: 0;
}

.ql-editor, .ql-container{
    overflow-y: auto;
    height: auto;
}

.ql-editor {
    padding: 0;
    line-height: inherit;
}

div.MimotoPublisher-Article-body {

    position: relative;
    font-size: 18px;
    font-family: "Futura PT W02 Book", sans-serif;
    line-height: 30px;
    width: 100%;
    height: auto;
    max-width: 750px;
    background-color: #ffffff;
    padding: 50px 50px 80px 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;

    //&::first-letter {
    //    color: #DF5B57;
    //    float: left;
    //    font-size: 65px;
    //    font-weight: bold;
    //    line-height: 55px;
    //    padding-top: 4px;
    //    padding-right: 8px;
    //    padding-left: 3px;
    //}

    & p {
        margin-bottom: 20px;
    }
    & p:last-child {
        margin-bottom: 0;
    }

    & h1 {
        font-weight: bold;
        font-family: "Futura PT W02 Book", sans-serif;
        color: #DF5B57;
        font-size: 30px;
        margin-bottom: 20px;
    }

    & h2 {
        font-weight: bold;
        font-family: "Futura PT W02 Book", sans-serif;
        color: #DF5B57;
        font-size: 24px;
        margin-bottom: 20px;
    }

    & strong {
        font-weight: bold;
    }

    & em {
        font-style: italic;
    }
}

div.MimotoPublisher-Article-comments {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;

    & > h1 {
        padding: 30px 50px 15px 50px;
        font-size: 24px;
        font-weight: bold;
        color: #858585;
    }
}

div.MimotoPublisher-Article-comments-container-empty {
    color: #858585;
    font-style: italic;
    padding: 0 50px 0 50px;
}

div.MimotoPublisher-Article-comments-container {

    & > div {
        margin-bottom: 10px;
    }

    & > div:last-child {
        margin-bottom: 0;
    }
}

div.MimotoPublisher-Article-commentform {
    padding: 30px 50px 30px 50px;
    font-size: 18px;
}

input.MimotoPublisher-Article-comment {
    background-color: #ffffff;
    padding: 10px;
    border: solid 1px #858585;
    display:inline-block;
    min-height:10px;
    width: 500px;
    max-width: 100%;
    color: #858585;
    font-size: 18px;
    margin-bottom: 10px;
}

div.MimotoPublisher-Article-commentform-button {
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    padding: 13px 15px 12px 15px;
    font-weight: bold;
    cursor: pointer;
}

// --- temp --- //

div.otmenu {
    background-color: #867adb;
    padding: 20px;
}

div.otbutton {
    display: inline-block;
    padding: 5px 8px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
}