{% extends "examplebase.twig" %}

{% block content %}
    <h1>Admin / Entity / Example 1  - Create entity</h1>
    <i>create entity | <a href='/admin/example2'>edit entity</a> | <a href='/admin/example3'>remove entity</a></i><br>
    <br>
    <br>
    <div class="example_entitylist" {{ Aimless.realtime('entities')|raw }}>
        {{ Aimless.selection('entities')|raw }}
    </div>
{% endblock %}
