{% block content %}
<div class="example_feeditem2" {{ Aimless.realtime() }} onClick="window.open('/article/{{ Aimless.meta('id') }}', '_self')">
    <b>Explainer - <span {{ Aimless.realtime('title') }}>{{ Aimless.data('title') }}</span></b><br>
</div>
{% endblock %}
