{% extends "examples/components/examplebase.twig" %}

{% block content %}
    <h1>Example - Article feed</h1>
    <div class="example_feed">
        {{ Aimless.render('contentItems', 'article_feeditem') }}
    </div>
{% endblock %}
