<html>
    <head>
        <title>Mimoto.Aimless examples</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <link rel="stylesheet" type="text/css" href="/static/css/mimoto.cms.css">
        <link rel="stylesheet" type="text/css" href="/static/css/mimoto.cms.min.css">
        <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
        <script src="/static/js/jquery-3.1.0.min.js"></script>
        <script src="/static/js/Mimoto.Aimless.js"></script>
        <script src="/static/js/Mimoto.CMS.js"></script>
    </head>
    <body>
        {% include "MimotoCMS/components/svg.twig" %}


        <div class="example_page">{% block content %}{% endblock %}</div>
    </body>
</html>
