{% extends "examples/components/examplebase.twig" %}

{% block content %}
    <div class="form_holder">
        {#{% include 'MimotoCMS/components/forms/input/Image/Image.twig'  %}#}
        {#{% include 'MimotoCMS/components/forms/input/Textline/Textline.twig'  %}#}
        {#{% include 'MimotoCMS/components/forms/input/Radiobutton/Radiobutton.twig'  %}#}
        {#{% include 'MimotoCMS/components/forms/input/Checkbox/Checkbox.twig'  %}#}
        {#% include 'MimotoCMS/components/forms/input/Dropdown/Dropdown.twig'  %}#}
        <div class="example_form_fields">
            {{ Aimless.form() }}
        </div>
        <div class="MimotoCMS_forms_Form__menu">
            <span {{ Aimless.submit() }}>
                {{ Aimless.module('Mimoto.CMS.ButtonModule', { label:'Save', icon:'plus', onclick:"Mimoto.form.submit();" }) }}
            </span>
        </div>
    </div>
{% endblock %}
