<html>
    <head>
        <title>Mimoto.Aimless</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

        <link rel="stylesheet" type="text/css" href="/static/css/main.css">

        <script src="https://js.pusher.com/3.0/pusher.min.js"></script>

        <script src="/static/js/mimoto.aimless.min.js"></script>
        <script src="/static/js/mimoto.cms.min.js"></script>


    </head>
    <body>
        {% include "MimotoCMS/components/svg.twig" %}

        <div class="example_page">{% block content %}{% endblock %}</div>
    </body>
</html>
