{% extends "examples/components/examplebase.twig" %}

{% block content %}
    <h1>Example 4 - Feed</h1>
    <i>A feed containing previews of articles, all presented with feed item template assigned based on the type of the article.</i><br>
    <br>
    <br>
    <div class="example_feed">
        {{ Aimless.selection('articles')|raw }}
    </div>
{% endblock %}
