<html>
<head>
    <title>Mimoto.CMS</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/css/mimoto.cms.min.css">
    <script src="https://js.pusher.com/3.0/pusher.min.js"></script>

    <!--<script src="/static/js/diff_match_patch.js"></script>-->
    <script src="/static/js/diff_match_patch_uncompressed.js"></script>

    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/mimoto.aimless.min.js"></script>
    <script src="/static/js/mimoto.cms.min.js"></script>

</head>
<body>

{% include "MimotoCMS/components/svg.twig" %}

<div class="layer_application">

    {% include "MimotoCMS/components/interface/Header/Header.twig" %}
    {% include "MimotoCMS/components/interface/Menu/Menu.twig" %}

    <section class="pagecontent">
        <form class="js-form">
            <div class="MimotoCMS_forms_FormComponent js-form-component js-form-component-textline">
                <label for="" class="MimotoCMS_forms_FormComponent-title">Name <span class="MimotoCMS_forms_FormComponent-title-information">(optioneel)</span><svg class="js-error-icon  MimotoCMS_forms_FormComponent-title-icon"><use xlink:href=""></use></svg></label>
                <div class="MimotoCMS_forms_FormComponent-content">

                    <div class="MimotoCMS_forms_FormComponent-element js-error-parent">
                        <input type="text" class="MimotoCMS_forms_input_Textline js-textline" placeholder="Property name" data-fv-min-length="5" data-fv-max-length="15" data-fv-min-numbers="2" data-fv-max-numbers="4" data-fv-min-special-characters="1" data-fv-max-special-characters="2">
                    </div>

                    <p class="MimotoCMS_forms_FormComponent-description">The property name should be unique</p>
                </div>
            </div>

            <div class="MimotoCMS_forms_FormComponent js-form-component js-form-component-textline">
                <label for="" class="MimotoCMS_forms_FormComponent-title">Amex <span class="MimotoCMS_forms_FormComponent-title-information">(optioneel)</span><svg class="js-error-icon  MimotoCMS_forms_FormComponent-title-icon"><use xlink:href=""></use></svg></label>
                <div class="MimotoCMS_forms_FormComponent-content">

                    <div class="MimotoCMS_forms_FormComponent-element js-error-parent">
                        <input type="text" class="MimotoCMS_forms_input_Textline js-textline" placeholder="Amex credit card number" data-fv-regex="^[0-9]{4} *[0-9]{6} *[0-9]{5}$" data-fv-error-message="Enter a valid Amex Credit Card number.">
                    </div>

                    <p class="MimotoCMS_forms_FormComponent-description">The requested format is: **** ******* *****</p>
                </div>
            </div>

            <div class="MimotoCMS_forms_FormComponent js-form-component js-form-component-textline">
                <label for="" class="MimotoCMS_forms_FormComponent-title">Credit card <span class="MimotoCMS_forms_FormComponent-title-information">(optioneel)</span><svg class="js-error-icon  MimotoCMS_forms_FormComponent-title-icon"><use xlink:href=""></use></svg></label>
                <div class="MimotoCMS_forms_FormComponent-content">

                    <div class="MimotoCMS_forms_FormComponent-element js-error-parent">
                        <input type="text" class="MimotoCMS_forms_input_Textline js-textline" placeholder="Credit card number" data-fv-regex="^[0-9]{13,16}$" data-fv-error-message="Enter a valid Amex Credit Card number.">
                    </div>

                    <p class="MimotoCMS_forms_FormComponent-description">The requested format is a number between 13 and 16 digits in length.</p>
                </div>
            </div>

            <div class="MimotoCMS_forms_FormComponent js-form-component js-form-component-radio-button">
                <div class="MimotoCMS_forms_FormComponent-header">
                    <label for="" class="MimotoCMS_forms_FormComponent-title">Project phase <svg class="js-error-icon MimotoCMS_forms_FormComponent-title-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href=""></use></svg></label>
                </div>

                <div class="MimotoCMS_forms_FormComponent-content form-component-content--no-description">
                    <div class="MimotoCMS_forms_FormComponent-element js-error-parent">
                        <div class="MimotoCMS_forms_FormComponent-element-container">
                            <input name="subproject.5.phase" type="radio" value="request" class="MimotoCMS_forms_input_RadioButton js-radio-button">
                            <label for="yes" class="MimotoCMS_forms_FormComponent-element-label">Aanvraag</label>
                        </div>
                        <div class="MimotoCMS_forms_FormComponent-element-container">
                            <input name="subproject.5.phase" type="radio" value="currentproject" class="MimotoCMS_forms_input_RadioButton js-radio-button">
                            <label for="yes" class="MimotoCMS_forms_FormComponent-element-label">Lopend project</label>
                        </div>
                        <div class="MimotoCMS_forms_FormComponent-element-container">
                            <input name="subproject.5.phase" type="radio" value="archived" class="MimotoCMS_forms_input_RadioButton js-radio-button">
                            <label for="yes" class="MimotoCMS_forms_FormComponent-element-label">Archief</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="MimotoCMS_forms_FormComponent js-form-component js-form-component-checkbox">
                <div class="MimotoCMS_forms_FormComponent-header">
                    <label for="" class="MimotoCMS_forms_FormComponent-title">Good job <svg class="js-error-icon MimotoCMS_forms_FormComponent-title-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href=""></use></svg></label>
                </div>

                <div class="MimotoCMS_forms_FormComponent-content form-component-content--no-description">
                    <div class="MimotoCMS_forms_FormComponent-element js-error-parent">
                        <div class="MimotoCMS_forms_FormComponent-element-container">
                            <div class="MimotoCMS_forms_input_Checkbox-container">
                                <input id="" type="checkbox" class="MimotoCMS_forms_input_Checkbox js-checkbox" data-fv-min-checked="1" />
                                <svg class="MimotoCMS_forms_input_Checkbox-icon"><use xlink:href="#ico-checkmark"></use></svg>
                            </div>
                            <label for="" class="MimotoCMS_forms_FormComponent-element-label">Wow</label>
                        </div>
                    </div>
                </div>
            </div>





            <a class="MimotoCMS_forms_input_Button js-form-submit">Verstuur</a>
        </form>

        {% block content %}{% endblock %}
    </section>

</div>

{% include "MimotoCMS/components/interface/Popup/Popup.twig" %}

</body>
</html>
