{% extends "examplebase.twig" %}

{% block content %}
    <h1>Example 3 - Article overview</h1>
    <i>An overview of all articles, every one of which is presented with the same feed item template.</i><br>
    <br>
    <br>
    <div class="example_feed">
        {{ Aimless.collection('articles')|raw }}
    </div>
{% endblock %}
