{% extends "examplebase.twig" %}

{% block content %}
    <h1>Example 10 - Client overview</h1>
    <i>Works together with example 8 (updating an existing client) and 9 (creating a new client)</i><br>
    <br>
    <br>
    <div class="example_clientlist" {{ Aimless.realtime('clients')|raw }}>
        {{ Aimless.selection('clients')|raw }}
    </div>
{% endblock %}
