<html>
    <head>
        <title>Mimoto.CMS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    </head>
    <body>
        <div>tabs: projecten | prognose | resultaat</div> <div>New project +</div>


        <div>filter: aanvragen - lopend - archief</div>

        {% include section %}
    </body>
</html>


