*[class*="MimotoCMS"],
*[class*="MimotoCMS"]::after,
*[class*="MimotoCMS"]::before {
    box-sizing: border-box;
}

body[class*="MimotoCMS"] {
    font-family: $font-family-futura;
    font-size: rem-calc(16px);
    line-height: 1.5;
    background-color: $wild-sand;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html[class*="MimotoCMS"], body[class*="MimotoCMS"], button[class*="MimotoCMS"], div[class*="MimotoCMS"], span[class*="MimotoCMS"], applet[class*="MimotoCMS"], object[class*="MimotoCMS"], iframe[class*="MimotoCMS"], h1[class*="MimotoCMS"], h2[class*="MimotoCMS"], h3[class*="MimotoCMS"], h4[class*="MimotoCMS"], h5[class*="MimotoCMS"], h6[class*="MimotoCMS"], p[class*="MimotoCMS"], blockquote[class*="MimotoCMS"], pre[class*="MimotoCMS"], a[class*="MimotoCMS"], abbr[class*="MimotoCMS"], acronym[class*="MimotoCMS"], address[class*="MimotoCMS"], big[class*="MimotoCMS"], cite[class*="MimotoCMS"], code[class*="MimotoCMS"], del[class*="MimotoCMS"], dfn[class*="MimotoCMS"], em[class*="MimotoCMS"], img[class*="MimotoCMS"], ins[class*="MimotoCMS"], kbd[class*="MimotoCMS"], q[class*="MimotoCMS"], s[class*="MimotoCMS"], samp[class*="MimotoCMS"], small[class*="MimotoCMS"], strike[class*="MimotoCMS"], strong[class*="MimotoCMS"], sub[class*="MimotoCMS"], sup[class*="MimotoCMS"], tt[class*="MimotoCMS"], var[class*="MimotoCMS"], b[class*="MimotoCMS"], u[class*="MimotoCMS"], i[class*="MimotoCMS"], center[class*="MimotoCMS"], dl[class*="MimotoCMS"], dt[class*="MimotoCMS"], dd[class*="MimotoCMS"], ol[class*="MimotoCMS"], ul[class*="MimotoCMS"], li[class*="MimotoCMS"], fieldset[class*="MimotoCMS"], form[class*="MimotoCMS"], label[class*="MimotoCMS"], legend[class*="MimotoCMS"], table[class*="MimotoCMS"], caption[class*="MimotoCMS"], tbody[class*="MimotoCMS"], tfoot[class*="MimotoCMS"], thead[class*="MimotoCMS"], tr[class*="MimotoCMS"], th[class*="MimotoCMS"], td[class*="MimotoCMS"], article[class*="MimotoCMS"], aside[class*="MimotoCMS"], canvas[class*="MimotoCMS"], details[class*="MimotoCMS"], embed[class*="MimotoCMS"], figure[class*="MimotoCMS"], figcaption[class*="MimotoCMS"], footer[class*="MimotoCMS"], header[class*="MimotoCMS"], hgroup[class*="MimotoCMS"], menu[class*="MimotoCMS"], nav[class*="MimotoCMS"], output[class*="MimotoCMS"], ruby[class*="MimotoCMS"], section[class*="MimotoCMS"], summary[class*="MimotoCMS"], time[class*="MimotoCMS"], mark[class*="MimotoCMS"], audio[class*="MimotoCMS"], video[class*="MimotoCMS"], input[class*="MimotoCMS"] {
    font-family: $font-family-futura;
    font-size: 16px;
    line-height: 1.5;
}

b[class*="MimotoCMS"] {
    font-weight: bold;
}

.svg-definitions[class*="MimotoCMS"] {
    display: none;
    visibility: hidden;
}

.hidden[class*="MimotoCMS"] {
    display: none !important;
}
