li.MimotoCMS_pages_entities_EntityDetail-EntityProperty {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #f5f5f5;

    & > div {
        overflow: hidden;
    }

    & > div:last-child {
        text-align: right;
        padding-right: 0;
    }

    div.MimotoCMS_pages_entities_EntityDetail-EntityProperty__data {

        flex-grow: 10;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        width: 75%;

        div.MimotoCMS_pages_entities_EntityDetail-EntityProperty__name {

            flex-grow: 2;

            padding: 3px 7px 4px 7px;
            vertical-align: top;
            background-color: $sinbad;
            color: #ffffff;
            width: 28%;

            & > a {
                text-decoration: none;
                color: #ffffff;
            }

            & > a:hover {
                text-decoration: underline;
            }
        }

        div.MimotoCMS_pages_entities_EntityDetail-EntityProperty__type {

            flex-grow: 0;

            padding: 3px 10px 4px 10px;
            vertical-align: top;
            background-color: #f5f5f5;
            color: #000000;
            width: 17%;
        }

        div.MimotoCMS_pages_entities_EntityDetail-EntityProperty__propertysettingscontainer {

            flex-grow: 3;

            padding: 5px 0;
            margin-top: -1px;
            background-color: #f5f5f5;
            width: 55%;

            & > div {
                margin-bottom: 4px;
            }

            & > div:last-child {
                margin-bottom: 0;
            }
        }
    }

    div.MimotoCMS_pages_entities_EntityDetail-EntityProperty__menu {
        white-space: nowrap;
        padding: 5px;
        width: 20%;
        flex-direction: row;
        text-align: right;
    }

    div.MimotoCMS_pages_entities_EntityDetail-EntityProperty__menu-handle {
        padding: 7px 0 0 0;
        flex-direction: row;
        display: inline-block;
    }
}
