{% extends "publisher/base.twig" %}

{% block content %}

    <div class="MimotoPublisher_Feed-container" {{ Mimoto.realtime('contentItems', 'feeditem') }}>
        {{ Mimoto.render('contentItems', 'feeditem') }}
    </div>

{% endblock %}
