{% extends "publisher/base.twig" %}

{% block content %}

    <div class="MimotoPublisher_Feed-container" {{ Mimoto.realtime('contentItems', 'FeedItem') }}>
        {{ Mimoto.data('contentItems', 'FeedItem') }}
    </div>

{% endblock %}
