<div class="settings_page_header">
    <hr><br>
    <div class="page_title settings_page_title">Agencies</div>
    <div class="button settings_header_alignright" onclick="Maido.data.newEntity('agency');">Add new agency +</div>
</div>

<div id="simplelist" class="simplelist">
    {% for agency in agencies %}
        {% include 'pages/settings/agencies/AgencyListItem.twig' with { agency:agency } %}
    {% endfor %}
</div>