{% include 'Mimoto.CMS/forms/output/title.twig' with
    {
        title:'Design your entity',
        subtitle:'',
        description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
    }
%}


{% include 'Mimoto.CMS/forms/output/group_start.twig' %}

    {% include 'Mimoto.CMS/forms/input/textline.twig' with
        {
            label:'Name',
            name:'name',
            value: Aimless.data('name'),
            validation:aPropertyNameValidation
        }
    %}

{% include 'Mimoto.CMS/forms/output/group_end.twig' %}

<div class="form_menu">
    <div class="button_text" onClick="Maido.popup.close();">Cancel</div>
    <div class="button" onClick="Mimoto.CMS.entityCreate({
                    name:document.getElementById('form_data_name').value
                });">Save</div>
</div>



<div class="form_menu">
    <div class="button_text" onClick="Maido.popup.close();">Cancel</div>
    <div class="button" onClick="Mimoto.CMS.entityUpdate({{ Aimless.meta('id') }}, {
            name:document.getElementById('form_data_name').value
            });">Save</div>
</div>