<div id="Mimoto_layer_overlay" class="Mimoto_layer_overlay Mimoto_hidden"></div>
<div id="Mimoto_layer_popup" class="Mimoto_layer_popup Mimoto_hidden">
    <div id="popup" class="MimotoCMS_interface_Popup">
        <div class="MimotoCMS_interface_Popup__closebutton" onClick="Mimoto.popup.close();">Close</div>
        <div id="Mimoto_popup_content" class="MimotoCMS_interface_Popup__content"></div>
    </div>
</div>
