<div id="layer_overlay" class="layer_overlay hidden"></div>
<div id="layer_popup" class="layer_popup hidden">
    <div id="popup" class="MimotoCMS_interface_Popup">
        <div class="MimotoCMS_interface_Popup__closebutton" onClick="Mimoto.popup.close();">Close</div>
        <div id="popup_content" class="MimotoCMS_interface_Popup__content"></div>
    </div>
</div>