<div id="Mimoto_layer_overlay" class="MimotoCMS_layer_overlay MimotoCMS_hidden"></div>
<div id="Mimoto_layer_popup" class="MimotoCMS_layer_popup MimotoCMS_hidden">
    <div id="popup" class="MimotoCMS_interface_Popup">
        <div class="MimotoCMS_interface_Popup__closebutton" onClick="MimotoX.closePopup();">Close</div>
        <div id="Mimoto_popup_content" class="MimotoCMS_interface_Popup__content"></div>
    </div>
</div>
