<div id="Mimoto_layer_popup" class="MimotoCMS_layer_popup Mimoto--hidden">
    <div id="Mimoto_layer_overlay" class="MimotoCMS_layer_overlay" onClick="Mimoto.closePopup();"></div>
    <div id="popup" class="MimotoCMS_interface_Popup">
        <div class="MimotoCMS_interface_Popup__closebutton" onClick="Mimoto.closePopup();">Close</div>
        <div id="Mimoto_popup_content" class="MimotoCMS_interface_Popup__content"></div>
    </div>
</div>
