.navigation-menu {
  margin: 0 10px;
  padding: 16px 0;
  border-bottom: 1px solid $mine-shaft;

  @include breakpoint(large up) {
    width: 216px;
    margin: 0 auto;
  }

  .navigation-menu-item-link {
    display: flex;
    text-decoration: none;
    transition: padding .25s;
    flex-wrap: nowrap;

    @include breakpoint(large up) {
      padding: 0 14px;
    }
  }

  .navigation-menu-item-link:hover,
  .navigation-menu-item-link.navigation-menu-item-link--active {
    .navigation-menu-item-text {
      color: $white;
    }
  }

  .navigation-menu-item-icon {
    width: 40px;
    margin-right: 12px;
    padding: 13px 0;
    font-size: rem-calc(14px);
    text-align: center;
    color: $white;
    transition: color .05s;
    flex: 0 0 auto;
  }

  .navigation-menu-item-text {
    padding: 8px 0;
    font-size: rem-calc(17px);
    font-weight: 700;
    line-height: rem-calc(24px);
    color: $sinbad;
    transition: color .05s;
    flex: 1 1 auto;
  }
}

.navigation-menu.navigation-menu--last {
  border-bottom: 0;
}
