div.MimotoPublisher-FeedItemExplainer {
    background-color: #ffffff;
    margin: auto;
    width: 750px;
}

div.MimotoPublisher-FeedItemExplainer-header {
    position: relative;
}

div.MimotoPublisher-FeedItemExplainer-titlecontainer {
    position: absolute;
    z-index: 1;
    padding: 50px;

}

h1.MimotoPublisher-FeedItemExplainer-title {

    position: relative;
    z-index: 1;
    color: #000000;

    margin: auto;
    width: 90%;

    text-align: center;

    font-size: 48px;
    font-weight: bold;
    font-family: "Futura PT W02 Book", sans-serif;


    & > span {
        background-color : #F6BFA5;
        line-height: 1.4;

        & > a {
            text-decoration: none;
        }

        & > a:hover {
            text-decoration: underline;
        }
    }
}

img.MimotoPublisher-FeedItemExplainer-headerImage {
    position: relative;
    width: 100%;
    z-index: 0;
}
