//@import 'components/components';
//@import 'layouts/layouts';
//@import 'modules/modules';


div.mimoto_cms[class*="MimotoCMS"] {
    z-index: 19761019;
}

.test-name-red {
    color: #ffffff;
    background-color: red;
}

.test-name-whitelabel {
    color: #ffffff;
}


@import 'MimotoProto';
