<div class="MimotoCMS_pages_forms_FormDetail-FormFieldValue">
    {{ Aimless.module('Mimoto.CMS.ButtonModule', { label:'Value', types:['small', ''], onclick:"Mimoto.CMS.formFieldValueEdit('" ~ Aimless.meta('id') ~ "');" }) }}
</div>
