<div class="MimotoCMS_modules_SortHandle {{ Mimoto.sortHandle() }}">
    <div class="MimotoCMS_modules_SortHandle-dot"></div>
    <div class="MimotoCMS_modules_SortHandle-dot"></div>
    <div class="MimotoCMS_modules_SortHandle-dot"></div>
    <div class="MimotoCMS_modules_SortHandle-dot"></div>
    <div class="MimotoCMS_modules_SortHandle-dot"></div>
    <div class="MimotoCMS_modules_SortHandle-dot"></div>
    <div class="MimotoCMS_modules_SortHandle-dot"></div>
    <div class="MimotoCMS_modules_SortHandle-dot"></div>
    <div class="MimotoCMS_modules_SortHandle-dot"></div>
    <div class="MimotoCMS_modules_SortHandle-dot"></div>
</div>
