{% embed "MimotoCMS/components/forms/FormField.twig" %}

    {% block input %}

        <input {{ Mimoto.input() }} type="password" class="MimotoCMS_forms_input_Password" placeholder="{% if Mimoto.value() is empty %}{{ Mimoto.data('placeholder') }}{% else %}***********{% endif %}" value=""/>

        <div data-mimoto-form-input-password-strength class="MimotoCMS_forms_input_Password-strength Mimoto--hidden">
            <div class="MimotoCMS_forms_input_Password-strengthblock"></div>
            <div class="MimotoCMS_forms_input_Password-strengthblock"></div>
            <div class="MimotoCMS_forms_input_Password-strengthblock"></div>
            <div class="MimotoCMS_forms_input_Password-strengthblock"></div>
            <div class="MimotoCMS_forms_input_Password-strengthblock"></div>
        </div>

    {% endblock %}

{% endembed %}
