<div class="MimotoCMS_pages_notifications_NotificationOverviewSmall">
    <div class="MimotoCMS_pages_notifications_NotificationOverviewSmall__container" {{ Aimless.realtime('notifications.{state="open"}') }}>
        {{ Aimless.selection('notifications') }}
    </div>
    <div class="MimotoCMS_pages_notifications_NotificationOverviewSmall__viewall"><a href="/notifications">View all notifications</a></div>
</div>
