<div class="SectionModule">
    <div class="SectionModule-header">
        <div class="SectionModule-name">
            <h1>{{ sTitle }}</h1>
        </div>
        <div class="SectionModule-menu">
            {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:sButtonLabel, icon:sButtonIcon, onclick:sButtonOnClick }) }}
        </div>
    </div>

    <ul class="SectionModule-container js-list js-list-sortable" {{ Mimoto.realtime(sDataSelector, sComponentName) }}>
        {{ Mimoto.data(sDataSelector, sComponentName) }}
    </ul>
</div>
