div.MimotoCMS_pages_notifications_NotificationOverview__container {

    position: relative;
    margin-bottom: 25px;

    & > div {
        margin-bottom: 10px;
    }

    & > div:last-child {
        margin-bottom: 0;
    }
}

div.MimotoCMS_pages_notifications_NotificationOverview__empty
{
    max-width: 350px;
    font-style: italic;
    color: #959394;
}

div.MimotoCMS_pages_notifications_NotificationOverview__clearall {

    font-style: italic;
    color: #959394;
    font-size: 12px;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}