div.MimotoCMS_pages_notifications_NotificationOverview__container {
  position: relative;
  margin-bottom: 25px;
}

div.MimotoCMS_pages_notifications_NotificationOverview__container>div {
  margin-bottom: 10px;
}

div.MimotoCMS_pages_notifications_NotificationOverview__container:last-child {
  margin-bottom: 0;
}