div.MimotoCMS_pages_notifications_NotificationOverview__container {
    position: relative;
    margin-bottom: 25px;

    & > div {
        margin-bottom: 10px;
    }

    & > div:last-child {
        margin-bottom: 0;
    }
}
