<div class="MimotoCMS_pages_notifications_NotificationOverview__container" {{ Aimless.realtime('notifications.{state="open"}', 'Mimoto.CMS_notifications_Notification') }}>
    {{ Aimless.render('notifications.{state="open"}', 'Mimoto.CMS_notifications_Notification') }}
</div>

<div class="MimotoCMS_pages_notifications_NotificationOverview__empty" onclick="Mimoto.CMS.notificationsCloseAll()" {{ Aimless.showWhenEmpty('notifications') }}>
    Congratulations! In a world flooded with task lists, agenda items and pending requests, at least this list is empty for now. No actions needed!
</div>

<div class="MimotoCMS_pages_notifications_NotificationOverview__clearall" onclick="Mimoto.CMS.notificationsCloseAll()" {{ Aimless.hideWhenEmpty('notifications') }}>Clear all</div>