@import 'DropdownOption/DropdownOption';

div.MimotoCMS_forms_input_Dropdown-container {
    position: relative;
}

    select.MimotoCMS_forms_input_Dropdown {
        display: block;
        width: 100%;
        max-width: none;
        height: 50px;
        margin: 0 0 10px;
        padding: 0 15px;
        font-family: $font-family-helvetica;
        font-size: rem-calc(14px);
        color: $black;
        border: 1px solid $pale-slate;
        border-radius: 0;
        outline: none;
        background-color: $alabaster;
        transition: all 100ms ease-out;
        appearance: none;

        &:focus {
            border-color: $pale-slate;
            background-color: $bon-jour;
        }
    }

    svg.MimotoCMS_forms_input_Dropdown-icon {
        position: absolute;
        top: 18px;
        right: 15px;
        width: 10px;
        height: 16px;
        transform: rotate(90deg);
        fill: $black;
    }
