.form-select-container {
  position: relative;

  .form-select {
    display: block;
    width: 100%;
    max-width: none;
    height: 50px;
    margin: 0 0 10px;
    padding: 0 15px;
    font-family: $font-family-helvetica;
    font-size: rem-calc(14px);
    line-height: rem-calc(50px);
    color: $black;
    border: 1px solid $pale-slate;
    background-color: $alabaster;
    transition: all 100ms ease-out;
    -webkit-appearance: none;
  }

  .form-select:focus {
    border-color: $pale-slate;
    background-color: $bon-jour;
  }

  .form-select-icon {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: rem-calc(10px);
  }
}
