<div class="entity_listitem" onclick="window.open('/mimoto.cms/entity/{{ Aimless.meta('id') }}', '_self');">
    <div class="entity_listitem_label" {{ Aimless.realtime('name')|raw }}>{{ Aimless.data('name')|raw }}</div>
</div>