<div class="entity_listitem" onclick="window.open('/mimoto.cms/entity/{{ Aimless.meta('id') }}/view', '_self');">
    <div class="entity_listitem_label" {{ Aimless.realtime('name')|raw }}>{{ Aimless.data('name') }}</div>
</div>