div.MimotoPublisher_Editor {
    width: 100%;
    padding-top: 100px;
}

div.MimotoPublisher_Editor-header {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;

    & > h1 {
        padding: 30px 50px 15px 50px;
        font-size: 24px;
        font-weight: bold;
        color: #858585;
    }
}

article.MimotoPublisher_Editor-input {
    min-height: 100px;
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    background-color: #ffffff;

    & > b {
        font-weight: bold;
    }

    & > i {
        font-style: italic;
    }

    & > u {
        text-decoration: underline;
    }
}
