{% extends "publisher/base.twig" %}

{% block content %}

    <div class="MimotoPublisher_Editor">


        <div class="MimotoPublisher_Editor-header">
            <h1>Start editing ..</h1>
        </div>

        <article id="editor" class="MimotoPublisher_Editor-input"></article>

    </div>

    <script>setupEditabeField();</script>

{% endblock %}
