.MimotoCMS_ListItemModule {
    margin: 0;
    padding: 0;
    list-style: none;
    flex: 0 0 100%;

    @include breakpoint(medium up) {
        flex: 0 0 percentage(1 / 2);
    }

    @include breakpoint(xlarge up) {
        flex: 0 0 percentage(1 / 3);
    }
}

    .MimotoCMS_ListItemModule-content {
        display: flex;
        font-family: $font-family-futura;
        color: $black;
        background-color: $white;
        align-items: center;
        flex-wrap: nowrap;
    }

        .MimotoCMS_ListItemModule-info {
            padding: 8px 7px 8px 15px;
            flex: 1 1 auto;
        }

            .MimotoCMS_ListItemModule-label {
                font-size: rem-calc(18px);
                line-height: rem-calc(24px);
            }

            .MimotoCMS_ListItemModule-sublabel {
                font-size: rem-calc(14px);
                font-style: italic;
                line-height: rem-calc(20px);
                color: $sinbad;
            }

        .MimotoCMS_ListItemModule-menu {
            padding: 10px 10px 10px 5px;
            flex: 0 0 auto;
        }
