<div class="MimotoCMS_forms_output_Description">
    <div class="MimotoCMS_forms_output_Description__title">{{ Mimoto.data('title') }}</div>
    <div class="MimotoCMS_forms_output_Description__description">{{ Mimoto.data('description') }}</div>
</div>
