<html>
    <head>
        <title>Mimoto.CMS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<link rel="stylesheet" type="text/css" href="/static/css/main.css">-->
        <link rel="stylesheet" type="text/css" href="/static/css/mimoto.cms.css">
        <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
        <script src="/static/js/jquery-3.1.0.min.js"></script>
        <script src="/static/js/MaidoProjects.js"></script>
        <script src="/static/js/Mimoto.CMS.js"></script>
        <script src="/static/js/Mimoto.Aimless.js"></script>
        <script src="https://use.typekit.net/rtu1vra.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
    </head>
    <body>
        <div class="layer_application">
            {% include "Mimoto.CMS/interface/Sidemenu/Sidemenu.twig" %}
            {% include "Mimoto.CMS/interface/ContentPanel/ContentPanel.twig" %}
        </div>
        <div id="layer_overlay" class="layer_overlay hidden"></div>
        <div id="layer_popup" class="layer_popup hidden">
            {% include "Mimoto.CMS/interface/Popup/Popup.twig" %}
        </div>
    </body>
</html>
