* {
    box-sizing: border-box;
    color: #000000;
}

body {
    background-color: #f5f5f5;
    font-family: "Arial", sans-serif;
    font-size: 17px;
    padding: 0;
    margin: 0;
}


div.layer_application {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
}

div.layer_overlay {
    background-color: #000000;
    background:rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

div.layer_popup {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
    padding: 25px;
}


/* -------- cleanup! ---------- */




div.page_title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

td.header {
    padding: 7px;
    font-weight: bold;
}

td.property {
    padding: 14px;
}

td.options {
    padding: 7px;
}



/* ---------- Pages ---------- */


div.entity_container, div.entityproperty_container {
    position: relative;
    margin-bottom: 25px;
}

div.entity_listitem {
    position: relative;
    display: block;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}
    
    div.entity_listitem_label {
        font-size: 14px;
        font-weight: bold;
    }

    div.entity_listitem_sublabel {
        font-size: 14px;
        font-style: italic;
    }

div.entity_listitem:hover {
    background-color: #06afea;
    color: #ffffff;
}

    

a {
    color: #06afea;
}

.mimoto_list {
    background-color: #d6d6d6;
    border: #000000 solid 1px;
    width: 500px;
    margin: 20px;
}