<div class="MimotoCMS_pages_entities_EntityDetail-EntityPropertySettingAllowedEntityType" {{ Mimoto.realtime() }}>
    <a href="/mimoto.cms/entity/{{ Mimoto.meta('id') }}/view" class="MimotoCMS_pages_entities_EntityDetail-EntityPropertySettingAllowedEntityType" {{ Mimoto.realtime('name') }}>{{ Mimoto.render('name') }}</a>
</div>
