{% extends "examplebase.twig" %}

{% block content %}
    <h1>Form</h1>
    <i>The first example with an actual form containing a few fields</i><br>
    <br>
    <br>
    <div class="example_feed">
        {{ Aimless.form('form_person')|raw }}

        <!--{ { Aimless.data('form.{type="request"}')|raw } }-->
    </div>
{% endblock %}
