div.MimotoCMS_pages_entities_EntityDetail-EntityPropertyExample {

}

span.MimotoCMS_pages_entities_EntityDetail-EntityPropertyExample-aimless-code {
    color: $tower-gray;
}

span.MimotoCMS_pages_entities_EntityDetail-EntityPropertyExample-aimless-value {
    color: $fuzzy-wuzzy-brown;
    font-weight: bold;
}