@import 'ListItem/ListItem';

div.MimotoCMS_pages_content_ContentOverview__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 25px;
    margin-top: 30px;

    &>div {
        margin-bottom: 5px;
        margin-right: 5px;
    }

    &>div:last-child {
        margin-bottom: 0;
    }
}
