div.MimotoCMS_forms_input_ButtonSmall {
    color: #ffffff;
    background-color: #06AFEA;
    display: inline-block;
    padding: 3px 6px 3px 6px;
    cursor: pointer;
    white-space:nowrap;
    font-size: 12px;
    margin: 15px 0 15px 0;
}

div.MimotoCMS_forms_input_ButtonSmall>span {
    color: #06afea;
    margin-left: 12px;
    font-size: 12px;
}