#{$pr-input}_Textblock {
    display: block;
    width: 100%;
    height: 120px;
    margin: 0 0 10px;
    padding: 14px 15px;
    resize: vertical;
    font-family: $font-family-helvetica;
    font-size: rem-calc(14px);
    line-height: rem-calc(20px);
    color: $black;
    border: 1px solid $pale-slate;
    outline: none;
    background: $alabaster;
    transition: all 100ms ease-out;

    &:focus {
        border-color: $tower-gray;
        background: $white;
    }

    b, strong {
        font-weight: bold;
    }

    i, em {
        font-style: italic;
    }

    a {
        color: #000000;
        text-decoration: underline;
    }

    p {
        margin-bottom: 20px;
    }

    pre, .ql-syntax {
        border: 1px solid #c5c5c5 !important;
        background-color: #fafafa !important;
        color: #858585 !important;
    }
}


.ql-editor, .ql-container{
    overflow-y: visible;
    height: auto;
}
