$textblock-min-height: 120px;

div.MimotoCMS_forms_input_Textblock {

    display: block;
    width: 100%;
    min-height: $textblock-min-height;
    margin: 0 0 10px;
    padding: 14px 15px;
    resize: vertical;
    font-family: $font-family-helvetica;
    font-size: 14px;
    line-height: 20px;
    color: $black;
    border: 1px solid $pale-slate;
    outline: none;
    background: $alabaster;
    transition: all 100ms ease-out;

    position: relative;
    height: auto;
    overflow: visible;

    // fix for some quill style that is added on quill init
    & > p:first-child {
        margin-top: 0;
    }

    & .ql-editor, & .ql-container{
        overflow-y: auto;
        height: auto;
        min-height: $textblock-min-height;
    }

    & .ql-editor {
        line-height: inherit;
        padding: 0 0 0 0;
    }

    & * {
        font-family: $font-family-helvetica;
        font-size: 14px;
        line-height: 20px;
    }

    &:focus {
        border-color: $tower-gray;
        background: $white;
    }

    b, strong {
        font-weight: bold;
    }

    i, em {
        font-style: italic;
    }

    a {
        color: #000000;
        text-decoration: underline;
    }

    p {
        margin-bottom: 20px;
    }

    pre, .ql-syntax {
        border: 1px solid #c5c5c5 !important;
        background-color: #fafafa !important;
        color: #858585 !important;
    }

    h1, h2, h3 {
        margin-top: 25px;
        margin-bottom: 10px;
    }
}



