{% embed "MimotoCMS/components/forms/FormComponent.twig" with {"type": "textblock"} %}
    {% block form_component_element %}
        <textarea class="MimotoCMS_forms_input_Textblock" name=""></textarea>
    {% endblock %}
{% endembed %}

{#
<div class="MimotoCMS_forms_FormComponent js-form-component js-form-component-dropdown">
    <div class="MimotoCMS_forms_FormComponent-header">
        <label for="food" class="MimotoCMS_forms_FormComponent-title">Schrijf hier een verhaal <svg class="js-error-icon MimotoCMS_forms_FormComponent-title-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href=""></use></svg></label>
    </div>
    <div class="MimotoCMS_forms_FormComponent-content ">
        <div class="MimotoCMS_forms_FormComponent-element js-error-parent">
            <textarea class="MimotoCMS_forms_input_Textblock" name=""></textarea>
        </div>
        <p class="MimotoCMS_forms_FormComponent-description">Het plot is erg belangrijk</p>
    </div>
</div>
#}
