{% embed "MimotoCMS/components/forms/FormField.twig" %}

    {% block input %}

        <div {{ Mimoto.input() }} class="MimotoCMS_forms_input_Textblock">{{ Mimoto.value() }}</div>

    {% endblock %}

{% endembed %}
