<span {{ Aimless.realtime() }}>
    -&nbsp;<i>
        Project manager =
        <span>
            <div class="examples__ProjectManager" {{ Aimless.realtime('name') }}>
                {{ Aimless.render('name') }}
            </div>
        </span>
    </i>
</span>
