<span>
    -&nbsp;<i>
        Project manager =
        <span>
            <div class="examples__ProjectManager">
                {{ Aimless.render('name') }}
            </div>
        </span>
    </i>
</span>
