<span {{ Aimless.realtime()|raw }}>
    -&nbsp;<i>
        Project manager =
        <span>
            <div class="examples__ProjectManager" {{ Aimless.realtime('name')|raw }}>
                {{ Aimless.render('name') }}
            </div>
        </span>
    </i>
</span>
