div.MimotoCMS_pages_selections_SelectionDetail-Rule {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #f5f5f5;

    & > div {
        overflow: hidden;
    }

    & > div:last-child {
        text-align: right;
        padding-right: 0;
    }

    div.MimotoCMS_pages_selections_SelectionDetail-Rule__data {

        flex-grow: 10;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        width: 80%;

        div.MimotoCMS_pages_selections_SelectionDetail-Rule__name {

            flex-grow: 2;

            padding: 3px 7px 4px 7px;
            vertical-align: top;
            background-color: $sinbad;
            color: #ffffff;
            width: 28%;

            & > a {
                text-decoration: none;
                color: #ffffff;
            }

            & > a:hover {
                text-decoration: underline;
            }
        }

        div.MimotoCMS_pages_selections_SelectionDetail-Rule__type {

            flex-grow: 0;

            padding: 3px 10px 4px 10px;
            vertical-align: top;
            background-color: #f5f5f5;
            color: #000000;
            width: 17%;
        }
    }

    div.MimotoCMS_pages_selections_SelectionDetail-Rule__menu {
        white-space: nowrap;
        padding: 5px;
        flex-grow: 1;
        width: 20%;
        text-align: right;
    }
}
