<div class="MimotoCMS_pages_forms_FormListItem" onclick="window.open('/mimoto.cms/form/{{ Aimless.meta('id') }}/view', '_self');">
    <div class="MimotoCMS_pages_forms_FormListItem__label" {{ Aimless.realtime('name')|raw }}>{{ Aimless.data('name') }}</div>
    <div class="MimotoCMS_pages_forms_FormListItem__sublabel">id = {{ Aimless.meta('id') }}</div>
</div>
