div.GridPrototypeSlide {
    width: 100%;
    height: 100%;
}

div.GridPrototypeSlide-menu {
    width: 100%;
    overflow: hidden;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
}

div.GridPrototypeSlide-menu-label {
    display: inline-block;
    float: left;
    margin-left: 10px;
    font-size: 20px;

    & > span.GridPrototypeSlide-courseName {
        font-weight: bold;
    }
}

div.GridPrototypeSlide-menu-navigation {
    display: inline-block;
    float: right;
}

div.GridPrototypeSlide-button {
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    padding: 5px 8px;
    cursor: pointer;
}

div.GridPrototypeSlide-container {
    padding: 50px;
    width: 100%;
}
