<html>
    <head>
        <title>Grid prototype</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/css/mimoto.cms.css">
        <script src="/static/js/grid.js"></script>

    </head>
    <body class="GridPrototype">

        {% block content %}{% endblock %}

    </body>
</html>
