@import 'FormFieldWrapper/FormFieldWrapper';
@import 'FormFieldTypeSelector/FormFieldTypeSelector';


div.MimotoCMS_pages_forms_FormDetail_Structure {
    position: relative;
    background-color: #ff0000;
}

div.MimotoCMS_pages_forms_FormDetail_Structure__meta {

    padding: 10px 15px 15px 15px;
    margin-bottom: 5px;
    background-color: $offwhite;
    display: flex;
    flex-wrap: nowrap;

    & a {
        color: $tower-gray;
    }

    &>div.MimotoCMS_pages_forms_FormDetail_Structure__meta_info {
        flex-grow: 5;
    }

    &>div.MimotoCMS_pages_forms_FormDetail_Structure__meta_menu {
        flex-grow: 1;
        text-align: right;
        padding-top: 5px;
    }

    div.MimotoCMS_pages_forms_FormDetail_Structure__formname {
        font-size: 24px;
        font-weight: bold;
    }
}



div.MimotoCMS_pages_forms_FormDetail_Structure__fields {

    padding: 15px 15px 10px 15px;
    background-color: $offwhite;
}

div.MimotoCMS_pages_forms_FormDetail_Structure__usage {
    color: #000000;
}

div.MimotoCMS_pages_forms_FormDetail_Structure__fields_empty {

    display: flex;
    flex-wrap: nowrap;

    &>div:first-child {
        flex-grow: 5;
    }

    &>div:last-child {
        flex-grow: 1;
        text-align: right;
    }
}

div.MimotoCMS_pages_forms_FormDetail_Structure__fields_menu {
    padding: 20px 0 10px 0;
    text-align: left;
}

div.MimotoCMS_pages_forms_FormDetail_Structure__fields_container {

    &>div {
        margin-bottom: 5px;
    }

    &>div:last-child {
        margin-bottom: 0;
    }

}
