@include breakpoint(large up) {
    .navigation-collapsed {

        nav.MimotoCMS_interface_Menu {
            width: $navigation-collapsed-width;
        }

        div.MimotoCMS_interface_Header-logo-container {
            flex: 0 0 $navigation-collapsed-width;
            width: $navigation-collapsed-width;
            transition: width .25s;
        }

        div.MimotoCMS_interface_Header-logo {
            background-image: url('/mimoto/static/images/mimoto_logo_collapsed.png');
            background-size: 64px 64px;
        }

        div.MimotoCMS_interface_Header-navigation-collapse-toggle {
            right: -32px;
            transform: rotate(0deg);
        }

        div.MimotoCMS_interface_Header-navigation-collapse-toggle:hover {
            svg.MimotoCMS_interface_Header-navigation-collapse-toggle-icon {
                fill: $black;
            }
        }

        svg.MimotoCMS_interface_Header-navigation-collapse-toggle-icon {
            fill: $sinbad;
        }

        a.MimotoCMS_interface_Menu-item-link {
            padding: 0;
        }

        a.MimotoCMS_interface_Menu-item-link:hover,
        a.MimotoCMS_interface_Menu-item-link--active {
            svg.MimotoCMS_interface_Menu-item-icon {
                fill: $white;
            }
        }

        span.MimotoCMS_interface_Menu-item-text {
            display: none;
        }

        svg.MimotoCMS_interface_Menu-item-icon {
            margin: 0 auto;
            fill: $sinbad;
        }

        section.MimotoCMS_Pagecontent {
            left: $navigation-collapsed-width;
        }
    }
}
