<nav class="MimotoCMS_interface_Menu js-navigation">
    <div class="MimotoCMS_interface_Menu__content">

        {# #todo - make menu editable, core elements are always there behind 'settings' or 'tools' (1 page with subpages) #}

        <ul class="navigation-menu">
            <li class="navigation-menu-item">
                <a href="/mimoto.cms/messages" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-daily-update'/></svg>
                    <span class="navigation-menu-item-text">Messages</span>
                </a>
            </li>
            <li class="navigation-menu-item">
                <a href="/mimoto.cms/contacts" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-team'/></svg>
                    <span class="navigation-menu-item-text">Contacts</span>
                </a>
            </li>
            <li class="navigation-menu-item">
                <a href="/mimoto.cms/notes" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-files'/></svg>
                    <span class="navigation-menu-item-text">Notes</span>
                </a>
            </li>
        </ul>

        <ul class="navigation-menu">
            <li class="navigation-menu-item">
                <a href="/mimoto.cms/entities" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-drafts'/></svg>
                    <span class="navigation-menu-item-text">Entities</span>
                </a>
            </li>
            <li class="navigation-menu-item">
                <a href="/mimoto.cms/forms" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-publications'/></svg>
                    <span class="navigation-menu-item-text">Forms</span>
                </a>
            </li>
            <li class="navigation-menu-item">
                <a href="/mimoto.cms/content" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-files'/></svg>
                    <span class="navigation-menu-item-text">Content</span>
                </a>
            </li>
            <li class="navigation-menu-item">
                <a href="/mimoto.cms/components" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-featured'/></svg>
                    <span class="navigation-menu-item-text">Components</span>
                </a>
            </li>
            <li class="navigation-menu-item">
                <a href="/mimoto.cms/notifications" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-tools'/></svg>
                    <span class="navigation-menu-item-text">Notifications</span>
                </a>
            </li>
            <li class="navigation-menu-item">
                <a href="/mimoto.cms/actions" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-schedule'/></svg>
                    <span class="navigation-menu-item-text">Actions</span>
                </a>
            </li>
            <li class="navigation-menu-item">
                <a href="/mimoto.cms/users" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-team'/></svg>
                    <span class="navigation-menu-item-text">Users</span>
                </a>
            </li>
        </ul>


{#
        <ul class="navigation-menu">
            <li class="navigation-menu-item">
                <a href="#" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-drafts'/></svg>
                    <span class="navigation-menu-item-text">Drafts</span>
                </a>
            </li>
            <li class="navigation-menu-item">
                <a href="#" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-publications'/></svg>
                    <span class="navigation-menu-item-text">Publications</span>
                </a>
            </li>
            <li class="navigation-menu-item">
                <a href="#" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-files'/></svg>
                    <span class="navigation-menu-item-text">Themes</span>
                </a>
            </li>
            <li class="navigation-menu-item">
                <a href="#" class="navigation-menu-item-link">
                    <span class="navigation-menu-item-icon icon icon-arrow-down"></span>
                    <span class="navigation-menu-item-text">Oproepen</span>
                </a>
            </li>
        </ul>

        <ul class="navigation-menu">
            <li class="navigation-menu-item">
                <a href="#" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-schedule'/></svg>
                    <span class="navigation-menu-item-text">Schedule</span>
                </a>
            </li>
            <li class="navigation-menu-item">
                <a href="#" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-featured'/></svg>
                    <span class="navigation-menu-item-text">Featured</span>
                </a>
            </li>
            <li class="navigation-menu-item">
                <a href="#" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-daily-update'/></svg>
                    <span class="navigation-menu-item-text">Daily update</span>
                </a>
            </li>
            <li class="navigation-menu-item">
                <a href="#" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-all-publications'/></svg>
                    <span class="navigation-menu-item-text">All publications</span>
                </a>
            </li>
            <li class="navigation-menu-item">
                <a href="#" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-all-files'/></svg>
                    <span class="navigation-menu-item-text">All dossiers</span>
                </a>
            </li>
        </ul>

        <ul class="navigation-menu navigation-menu--last">
            <li class="navigation-menu-item">
                <a href="#" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-members'/></svg>
                    <span class="navigation-menu-item-text">Members</span>
                </a>
            </li>
            <li class="navigation-menu-item">
                <a href="#" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-stats'/></svg>
                    <span class="navigation-menu-item-text">Stats</span>
                </a>
            </li>
            <li class="navigation-menu-item">
                <a href="#" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-preferences'/></svg>
                    <span class="navigation-menu-item-text">Preferences</span>
                </a>
            </li>
            <li class="navigation-menu-item">
                <a href="#" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-tools'/></svg>
                    <span class="navigation-menu-item-text">Tools</span>
                </a>
            </li>
            <li class="navigation-menu-item">
                <a href="#" class="navigation-menu-item-link">
                    <svg class="navigation-menu-item-icon"><use xlink:href='#ico-team'/></svg>
                    <span class="navigation-menu-item-text">Team</span>
                </a>
            </li>
        </ul>
        #}

    </div>
</nav>
