<nav class="MimotoCMS_interface_Menu js-navigation">
    <div class="MimotoCMS_interface_Menu-content">

        {# #todo - make menu editable, core elements are always there behind 'settings' or 'tools' (1 page with subpages) #}

        {# {{ Aimless.hideOnEmpty('menuContentSections') }} #}
        {#{% if Aimless.data('menuContentSections') is not empty %}#}
        {# {{ Aimless.realtime('menuContentSections') }} #}
            <ul class="MimotoCMS_interface_Menu-group">
                {{ Aimless.render('menuContentSections', 'MimotoCMS_interface_Menu_MenuButton') }}
            </ul>
        {#{% endif %}#}
        {# .{type="page"} #}
        {# addProperty() #}


        {#
        <ul class="MimotoCMS_interface_Menu-group">
            <li class="MimotoCMS_interface_Menu-item">
                <a href="/mimoto.cms/messages" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-daily-update'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Messages</span>
                </a>
            </li>
            <li class="MimotoCMS_interface_Menu-item">
                <a href="/mimoto.cms/contacts" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-team'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Contacts</span>
                </a>
            </li>
            <li class="MimotoCMS_interface_Menu-item">
                <a href="/mimoto.cms/notes" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-files'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Notes</span>
                </a>
            </li>
        </ul>
        #}

        <ul class="MimotoCMS_interface_Menu-group">
            <li class="MimotoCMS_interface_Menu-item">
                <a href="/mimoto.cms/entities" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-drafts'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Structure</span>
                </a>
            </li>
            <li class="MimotoCMS_interface_Menu-item">
                <a href="/mimoto.cms/forms" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-publications'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Forms</span>
                </a>
            </li>
            <li class="MimotoCMS_interface_Menu-item">
                <a href="/mimoto.cms/contentsections" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-files'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Data</span>
                </a>
            </li>
            <li class="MimotoCMS_interface_Menu-item">
                <a href="/mimoto.cms/components" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-featured'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Components</span>
                </a>
            </li>
            <li class="MimotoCMS_interface_Menu-item">
                <a href="/mimoto.cms/notifications" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-tools'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Notifications</span>
                </a>
            </li>
            <li class="MimotoCMS_interface_Menu-item">
                <a href="/mimoto.cms/actions" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-schedule'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Actions</span>
                </a>
            </li>
            <li class="MimotoCMS_interface_Menu-item">
                <a href="/mimoto.cms/users" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-team'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Users</span>
                </a>
            </li>
        </ul>


{#
        <ul class="MimotoCMS_interface_Menu-group">
            <li class="MimotoCMS_interface_Menu-item">
                <a href="#" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-drafts'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Drafts</span>
                </a>
            </li>
            <li class="MimotoCMS_interface_Menu-item">
                <a href="#" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-publications'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Publications</span>
                </a>
            </li>
            <li class="MimotoCMS_interface_Menu-item">
                <a href="#" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-files'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Themes</span>
                </a>
            </li>
            <li class="MimotoCMS_interface_Menu-item">
                <a href="#" class="MimotoCMS_interface_Menu-item-link">
                    <span class="MimotoCMS_interface_Menu-item-icon icon icon-arrow-down"></span>
                    <span class="MimotoCMS_interface_Menu-item-text">Oproepen</span>
                </a>
            </li>
        </ul>

        <ul class="MimotoCMS_interface_Menu--group">
            <li class="MimotoCMS_interface_Menu-item">
                <a href="#" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-schedule'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Schedule</span>
                </a>
            </li>
            <li class="MimotoCMS_interface_Menu-item">
                <a href="#" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-featured'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Featured</span>
                </a>
            </li>
            <li class="MimotoCMS_interface_Menu-item">
                <a href="#" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-daily-update'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Daily update</span>
                </a>
            </li>
            <li class="MimotoCMS_interface_Menu-item">
                <a href="#" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-all-publications'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">All publications</span>
                </a>
            </li>
            <li class="MimotoCMS_interface_Menu-item">
                <a href="#" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-all-files'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">All dossiers</span>
                </a>
            </li>
        </ul>

        <ul class="MimotoCMS_interface_Menu-group navigation-menu--last">
            <li class="MimotoCMS_interface_Menu-item">
                <a href="#" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-members'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Members</span>
                </a>
            </li>
            <li class="MimotoCMS_interface_Menu-item">
                <a href="#" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-stats'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Stats</span>
                </a>
            </li>
            <li class="MimotoCMS_interface_Menu-item">
                <a href="#" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-preferences'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Preferences</span>
                </a>
            </li>
            <li class="MimotoCMS_interface_Menu-item">
                <a href="#" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-tools'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Tools</span>
                </a>
            </li>
            <li class="MimotoCMS_interface_Menu-item">
                <a href="#" class="MimotoCMS_interface_Menu-item-link">
                    <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-team'/></svg>
                    <span class="MimotoCMS_interface_Menu-item-text">Team</span>
                </a>
            </li>
        </ul>
        #}

    </div>
</nav>
