header.MimotoCMS_interface_Header {
    position: fixed;
    z-index: $z-header;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    height: $header-height-collapsed;
    border-bottom: 1px solid $alto;
    background: $white;

    @include breakpoint(large up) {
        height: $header-height;
        padding-left: 0;
    }
}

    div.MimotoCMS_interface_Header-logo-container {
        position: relative;
        z-index: 1;
        flex: 0 0 $header-height-collapsed;
        width: $header-height-collapsed;
        height: $header-height-collapsed;
        background-color: $black;

        @include breakpoint(large up) {
            flex: 0 0 $navigation-width;
            width: $navigation-width;
            height: $header-height;
            transition: width .25s;
        }
    }

        div.MimotoCMS_interface_Header-logo {
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            background-image: url('/mimoto/static/images/mimoto_logo_collapsed.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50px 50px;

            @include breakpoint(large up) {
                width: 100%;
                height: 100%;
                background-image: url('/mimoto/static/images/mimoto_logo.png');
                background-size: 230px 64px;
            }
        }

        div.MimotoCMS_interface_Header-navigation-collapse-toggle {
            display: none;

            @include breakpoint(large up) {
                position: absolute;
                z-index: 2;
                top: 16px;
                right: 0;
                display: block;
                width: 32px;
                height: 32px;
                padding: 10px;
                cursor: pointer;
                transform: rotate(180deg);
                transition: all .25s;
            }

            &:hover {
                div.MimotoCMS_interface_Header-navigation-collapse-toggle-icon {
                    fill: $sinbad;
                }
            }
        }

            div.MimotoCMS_interface_Header-navigation-collapse-toggle-icon {
                @include breakpoint(large up) {
                    display: block;
                    width: 6px;
                    height: 12px;
                    margin: 0 auto;
                    fill: $white;
                }
            }

@import 'Header-breadcrumbs';
@import 'Header-menu';
@import 'Header-mobile-navigation-toggle';

