.MimotoCMS_interface_Header-menu {
    @include clearfix();
    flex: 0 0 auto;
}

    .MimotoCMS_interface_Header-menu-item {
        display: flex;
        float: right;
        height: $header-height-collapsed;
        border-left: 1px solid $alto;

        @include breakpoint(large up) {
            height: $header-height;
        }
    }

        .MimotoCMS_interface_Header-menu-user {
            display: flex;
            color: $dusty-gray;
            align-items: center;

            @include breakpoint(small up) {
                padding-left: 20px;
            }

            &:hover {
                text-decoration: none;
                color: $black;
            }
        }

            .MimotoCMS_interface_Header-menu-user-text {
                display: none;

                @include breakpoint(small up) {
                    display: block;
                    margin-right: 20px;
                    font-size: rem-calc(17px);
                }
            }

                .MimotoCMS_interface_Header-menu-user-text-last-name {
                    display: none;

                    @include breakpoint(medium up) {
                        display: inline;
                    }
                }

            .MimotoCMS_interface_Header-menu-user-figure {
                display: flex;
                width: 49px;
                height: 49px;
                margin-bottom: 1px;
                align-items: center;
                justify-content: center;
                background-color: $sinbad;

                @include breakpoint(large up) {
                    width: 63px;
                    height: 63px;
                    margin-bottom: 1px;
                }
            }

                .MimotoCMS_interface_Header-menu-user-image {
                    display: inline-block;
                    max-width: 49px;
                    max-height: 49px;

                    @include breakpoint(large up) {
                        max-width: 63px;
                        max-height: 63px;
                    }
                }

        .MimotoCMS_interface_Header-menu-dropdown {
            position: relative;
            display: flex;
            width: $header-height-collapsed;
            align-items: center;
            justify-content: center;

            @include breakpoint(large up) {
                width: $header-height;
            }
        }

            .MimotoCMS_interface_Header-menu-dropdown-icon {
                display: block;
                width: 40px;
                height: 40px;
                cursor: pointer;
                fill: $dusty-gray;

                &:hover {
                    fill: $black;
                }
            }

            .MimotoCMS_interface_Header-menu-dropdown-notification {
                position: absolute;
                top: 4px;
                right: 4px;
                min-width: 20px;
                height: 20px;
                padding: 0 4px;
                font-size: rem-calc(12px);
                line-height: rem-calc(20px);
                text-align: center;
                color: $black;
                border-radius: 10px;
                background-color: $tower-gray;

                @include breakpoint(large up) {
                    top: 10px;
                    right: 10px;
                }
            }

            .MimotoCMS_interface_Header-menu-dropdown-content {
                position: absolute;
                top: $header-height-collapsed - 1;
                right: 0;
                display: none;
                width: 200px;
                height: auto;
                padding: 1px;
                border: 1px solid $alto;
                border-top: 0;
                background-color: $white;

                @include breakpoint(large up) {
                    top: $header-height - 1;
                }
            }

            .MimotoCMS_interface_Header-menu-dropdown-content--active {
                display: block;
            }
