#{$pr-interface}_Header-breadcrumbs {
    display: none;

    @include breakpoint(large up) {
        @include clearfix;
        flex: 0 1 100%;
        display: block;
        padding: 22px 0 22px 40px;
        overflow: hidden;
    }
}

    #{$pr-interface}_Header-breadcrumbs-list-item {
        color: $dusty-gray;

        &:hover {
            color: $black;
        }

        &:not(:last-child) {
            #{$pr-interface}_Header-breadcrumbs-list-item-link::after {
                margin: 0 7px;
                content: '/';
                color: $dusty-gray;
            }
        }
    }

        #{$pr-interface}_Header-breadcrumbs-list-item-link {
            display: block;
            font-size: rem-calc(17px);
            line-height: rem-calc(20px);
            text-decoration: none;
            color: inherit;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
