.header-menu {
  @include clearfix();
  float: right;

  .header-menu-item {
    float: right;
    height: 64px;
    margin-left: 30px;
  }

  .header-menu-link {
    text-decoration: none;
    color: $dusty-gray;

    &:hover {
      color: $black;
    }
  }

  .header-menu-user {
    display: flex;
    align-items: center;

    .header-menu-user-text {
      margin-right: 20px;
      font-size: rem-calc(17px);
    }

    .header-menu-user-figure {
      display: flex;
      width: 50px;
      height: 50px;
      background-color: $sinbad;
      align-items: center;
      justify-content: center;

      @include breakpoint(large up) {
        width: 64px;
        height: 64px;
      }
    }

    .header-menu-user-image {
      display: inline-block;
      max-width: 45px;
      max-height: 45px;

      @include breakpoint(large up) {
        max-width: 60px;
        max-height: 60px;
      }
    }
  }

  .header-menu-message {
    position: relative;

    .header-menu-message-icon {
      display: block;
      width: 30px;
      height: 64px;
      padding: 22px 0;
      cursor: pointer;
      fill: $dusty-gray;
    }

    .header-menu-message-icon:hover {
      fill: $black;
    }

    .header-menu-message-notification {
      position: absolute;
      top: 10px;
      right: -5px;
      width: 20px;
      height: 20px;
      font-size: rem-calc(12px);
      line-height: rem-calc(20px);
      text-align: center;
      color: $black;
      border-radius: 100%;
      background-color: $tower-gray;
    }

    .header-menu-message-dropdown {
      position: absolute;
      top: 63px;
      right: 0;
      display: none;
      width: 200px;
      height: 300px;
      border: 1px solid $alto;
      border-top: 0;
      background-color: $white;
    }

    .header-menu-message-dropdown--active {
      display: block;
    }
  }
}
