div.MimotoCMS_actions_ActionOverview_ActionSetting {

}

span.MimotoCMS_actions_ActionOverview_ActionSetting-name {
    color: #000000;
}

span.MimotoCMS_actions_ActionOverview_ActionSetting-menu {
    color: $pale-slate;
    white-space: nowrap;
}

span.MimotoCMS_actions_ActionOverview_ActionSetting-menuitem {

    cursor: pointer;
    white-space: nowrap;

    &:hover {
        text-decoration: underline;
        color: #000000;
    }
}

span.MimotoCMS_actions_ActionOverview_ActionSetting-menuitem-move {
    cursor: move;
}