div.MimotoCMS_components_ListItem {
    padding: 10px 15px 10px 15px;
    background-color: $white;
    color: $black;

    font-family: $font-family-futura;

    justify-content: center;

    flex-direction: row;
    align-items: center;
    flex: 1 300px;

    display: flex;
    flex-wrap: nowrap;
}

div.MimotoCMS_components_ListItem {
    flex-grow: 4;
    align-items: stretch;
}

    div.MimotoCMS_components_ListItem__label {
        font-size: 20px;
    }

    div.MimotoCMS_components_ListItem__sublabel {
        font-size: 14px;
        font-style: italic;
        color: $sinbad;
    }

div.MimotoCMS_components_ListItem__menu {
    flex-grow: 1;
    align-items: stretch;
    text-align: right;
    margin-left: 10px;
}