@import 'section/Section';
@import 'userroles/UserRoles';
@import 'formattingoptions/FormattingOptions';

div.MimotoCMS_pages_Configuration {

    & > div {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    & > div:last-child {
        margin-right: 0;
        margin-bottom: 0;
    }

}
