<div class="MimotoCMS_pages_Configuration">

    {{ Mimoto.module('MimotoCMS_configuration_Overview_Section', { sLabel:'Formatting', sURL:'/mimoto.cms/configuration/formatting' }) }}
    {{ Mimoto.module('MimotoCMS_configuration_Overview_Section', { sLabel:'User roles', sURL:'/mimoto.cms/configuration/userroles' }) }}
    {{ Mimoto.module('MimotoCMS_configuration_Overview_Section', { sLabel:'Services', sURL:'/mimoto.cms/configuration/services' }) }}

</div>
