<div class="MimotoCMS_pages_Configuration">

    <ul>
        <li><a href="/mimoto.cms/configuration/formatting">Formatting</a></li>
        <li><a href="/mimoto.cms/configuration/userroles">User roles</a></li>
        <li><a href="/mimoto.cms/configuration/services">Services</a></li>
    </ul>
</div>
