@import 'Message/Message';


div.MimotoPublisher_Conversation {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    & > h1 {
        padding: 30px 50px 15px 50px;
        font-size: 24px;
        font-weight: bold;
        color: #858585;
    }
}

div.MimotoPublisher_Conversation-comments-container-empty {
    color: #858585;
    font-style: italic;
    padding: 0 50px 0 50px;
}

div.MimotoPublisher_Conversation-comments-container {

    & > div {
        margin-bottom: 10px;
    }

    & > div:last-child {
        margin-bottom: 0;
    }
}

div.MimotoPublisher_Conversation-commentform {
    padding: 30px 50px 10px 50px;
    font-size: 18px;
}

input.MimotoPublisher_Conversation-comment {
    background-color: #ffffff;
    padding: 10px;
    border: solid 1px #858585;
    display:inline-block;
    min-height:10px;
    width: 500px;
    max-width: 100%;
    color: #858585;
    font-size: 18px;
    margin-bottom: 10px;
}

div.MimotoPublisher_Conversation-commentform-button {
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    padding: 13px 15px 12px 15px;
    font-weight: bold;
    cursor: pointer;
}

div.MimotoPublisher_Conversation-others {
    padding-left: 60px;
    color: #858585;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
}
