@import 'Message/Message';

div.MimotoPublisher_Comment
{
    width: 100%;
    background-color: #EfEeEe;
    padding: 20px;
}

div.MimotoPublisher_Comment-user {
    font-style: italic;
    color: #858585;
    font-size: 14px;
}

div.MimotoPublisher_Comment-message {
    color: #000000;
    font-size: 18px;
}

span.MimotoPublisher_Comment-options {
    padding-top: 5px;
    font-size: 12px;
    color: #858585;
    cursor: pointer;

    & > a {
        color: #858585;
        text-decoration: none;
    }

    & > a:hover {
        text-decoration: underline;
    }
}
