{% extends "Mimoto.CMS/base.twig" %}

{% block content %}
    <h2><a href="/mimoto.cms/entities">entities</a> / entity detail</h2>
    <br>
    Name = <b><span {{ Aimless.realtime('name')|raw }}>{{ Aimless.data('name') }}</span></b> -
    {% include 'Mimoto.CMS/forms/input/ButtonSmall/ButtonSmall.twig' with { label:'Edit', icon:'', action:"Mimoto.CMS.entityEdit('" ~ Aimless.meta('id') ~ "');" } %}<br>
    <br>
    Properties:<br>
    {% include 'Mimoto.CMS/forms/input/Button/Button.twig' with { label:'Add new property', icon:'+', action:"Mimoto.CMS.entityPropertyNew('" ~ Aimless.meta('id') ~ "');" } %}
    <br>
    <div class="MimotoCMS_pages_entities_EntityDetail__container" {{ Aimless.realtime('properties')|raw }}>
        {{ Aimless.data('properties')|raw }}
    </div>
    <br>
    <hr>
    <br>
    <b>Danger zone!</b><br>
    <br>
    <i><u>WARNING</u> - Deleting the entity will result in the LOSS OF ALL DATA related to this entity.</i><br>
    {% include 'Mimoto.CMS/forms/input/Button/Button.twig' with { label:'Delete entity', icon:'X', action:"Mimoto.CMS.entityDelete(" ~ Aimless.meta('id') ~ ", '" ~ Aimless.data('name') ~ "');", type:'red' } %}
{% endblock %}