{{ Mimoto.module('MimotoCMS_modules_Button', { label:'Add new entity', icon:'plus', onclick:"MimotoCMS.entityNew();", types:['secondary'] }) }}

<div class="MimotoCMS_pages_entities_EntityOverview__container js-list js-list-sortable" {{ Mimoto.realtime('entities', 'MimotoCMS_entities_EntityOverview_Entity') }}>
    {{ Mimoto.data('entities', 'MimotoCMS_entities_EntityOverview_Entity') }}
</div>

<div {{ Mimoto.showWhenEmpty('entities') }}>
    <b>Start building</b> your project by:
    <ul>
        <li>1) starting with <u>entities</u> <i>(the data structure)</i></li>
        <li>2) followed by <u>forms</u> <i>(the data input)</i> to populate them with data</li>
        <li>3) and finishing with <u>components</u> <i>(the data output)</i> to present the data to the user</li>
    </ul>
</div>
