{{
    Mimoto.module('Mimoto.CMS.ListModule',
    {
        button_label: 'Add page',
        button_icon: 'plus',
        button_directive: Mimoto.add('pages', '_Mimoto_route'),
        property_name: 'pages',
        listitem_component: 'MimotoCMS_pages_Overview-ListItem'
    })
}}

<div {{ Mimoto.showWhenEmpty('pages') }}>
    <b>Start adding pages</b><br>
    Easily build pages by combining your layouts and components to selection you
    configured add data as you build the page.
</div>