div.MimotoCMS_actions_ActionOverview_ActionConditional {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    padding: 4px;
    width: 100%;

    background-color: #f7f7f7;
}

div.MimotoCMS_actions_ActionOverview_ActionConditional-data {
    flex: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    margin-right: 45px;

    & > div {
        flex: none;
        margin-right: 5px;
    }

    & > div:last-child {
        margin-left: 3px;
    }
}

div.MimotoCMS_actions_ActionOverview_ActionConditional-menu {

    flex: auto;
    text-align: right;
    color: $pale-slate;
    white-space: nowrap;
    padding-right: 8px;

}

span.MimotoCMS_actions_ActionOverview_ActionConditional-menuitem {

    cursor: pointer;
    white-space: nowrap;

    &:hover {
        text-decoration: underline;
        color: #000000;
    }
}

span.MimotoCMS_actions_ActionOverview_ActionConditional-menuitem-move {
    cursor: move;
}