{% extends "MimotoCMS/components/base.twig" %}

{% block content %}

    {{ Aimless.module('Mimoto.CMS.ButtonModule', { label:'Add new component', icon:'plus', onclick:"Mimoto.CMS.componentNew();" }) }}

    <div class="MimotoCMS_pages_components_ComponentOverview__container" {{ Aimless.realtime('components') }}>
        {{ Aimless.selection('components') }}
    </div>

{% endblock %}
