{% extends "base.twig" %}

{% block page %}

<div class="silent_container">
    <div class="silent_entityshadows">
        <div id="silent_entityshadow_1" class="silent_shadow"></div>
    </div>
    <div class="silent_entities">
        <div id="silent_entity_1" class="silent_block"></div>
    </div>
</div>

<script>

// connect
var $block1 = $('#silent_entity_1');
var $blockShadow1 = $('#silent_entityshadow_1');

// init
var xpos = 350;
var ypos = 350;
var xfactor = 2;


setInterval(moveBlock, 20);

function moveBlock()
{
    
    xpos--;
    ypos--;
    
    if (ypos < 25) { xpos = 350; ypos = 350; }
    
    positionBlock();
}

function positionBlock()
{
    $block1.css('top', ypos);
    $block1.css('left', xpos * xfactor);
    $blockShadow1.css('top', ypos);
    $blockShadow1.css('left', xpos * xfactor);
}


    
</script>

{% endblock %}
