<div class="MimotoCMS_interface_Sidemenu open">
    <div class="MimotoCMS_interface_Sidemenu__logo"></div>
    <div class="MimotoCMS_interface_Sidemenu__appname"><b>mimoto</b><br>cms</div>
    <div class="MimotoCMS_interface_Sidemenu__menuitems">
        <div class="MimotoCMS_interface_Sidemenu__menuitem" onclick="window.open('/mimoto.cms/entities', '_self');">Entities</div>
        <div class="MimotoCMS_interface_Sidemenu__menuitem" onclick="window.open('/mimoto.cms/forms', '_self');">Forms</div>
        <div class="MimotoCMS_interface_Sidemenu__menuitem" onclick="window.open('/mimoto.cms/content', '_self');">Content</div>
    </div>
</div>
