div.GridPrototypeSlideVideo {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    background-color: #EAE9E9;
    padding: 20px 30px 30px 30px;

    & > video {
        width: 100%;
    }
}


