{% extends "grid/base_slide.twig" %}

{% block slide %}

    <div class="GridPrototypeSlideVideo" {{ Mimoto.realtime() }}>
        <h1 {{ Mimoto.realtime('title') }}>{{ Mimoto.render('title') }}</h1>

        <video width="320" height="240" controls src="{{ Mimoto.render('video') }}">
            Your browser does not support the video tag.
        </video>
    </div>

{% endblock %}



