div.MimotoCMS_modules_ListItem {
    margin: 0;
    padding: 0;
    list-style: none;
    flex: 0 0 100%;
    min-width: 0;

    //@include breakpoint(medium up) {
    //    flex-basis: calc(50% - 5px);
    //}
    //
    //@include breakpoint(xlarge up) {
    //    flex-basis: calc(33% - 5px);
    //}
}

    div.MimotoCMS_modules_ListItem-content {
        display: flex;
        font-family: $font-family-futura;
        color: $black;
        background-color: $white;
        align-items: center;
        flex-wrap: nowrap;
    }

        div.MimotoCMS_modules_ListItem-info {
            padding: 8px 7px 8px 15px;
            flex: 1 1 auto;
            overflow: hidden;
        }

            div.MimotoCMS_modules_ListItem-label {
                font-size: rem-calc(18px);
                line-height: rem-calc(24px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            div.MimotoCMS_modules_ListItem-sublabel {
                font-size: rem-calc(14px);
                font-style: italic;
                line-height: rem-calc(20px);
                color: $sinbad;
            }

        div.MimotoCMS_modules_ListItem-menu {
            padding: 10px 10px 10px 5px;
            flex: 0 0 auto;
        }

div.MimotoCMS_modules_ListItem--drag {
    background-color: $white;
}

div.MimotoCMS_modules_ListItem--ghost {
    opacity: 0;
}