div.MimotoCMS_modules_EditableField {
    position: relative;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .ql-container {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    .ql-editor {
        font-size: inherit;
        line-height: inherit;
    }

    .ql-bubble,
    .ql-container,
    .ql-editor {
        height: auto;
        padding: inherit;
        box-sizing: inherit;
    }
}

div.MimotoCMS_modules_EditableField-menu {
    position: absolute;
    color: $silver;
    flex: none;
    right: -25px;
    margin-top: 2px;
    cursor: pointer;

    &:hover {
        color: $tower-gray;
    }
}

span.MimotoCMS_modules_EditableField-menu-button-edit {
    display: inline-block;

    .Mimoto--ineditmode & {
        display: none;
    }

    &:hover {
        color: $fuzzy-wuzzy-brown;
        text-decoration: underline;
    }
}

span.MimotoCMS_modules_EditableField-menu-button-ok {
    display: none;

    .Mimoto--ineditmode & {
        display: inline-block;
    }

    &:hover {
        color: $fuzzy-wuzzy-brown;
        text-decoration: underline;
    }
}

div.MimotoCMS_modules_EditableField-field {
    position: relative;
    display: inline-block;
    flex: auto;
    min-width: 20px;

    & > div:empty:before {
        content:'...'
    }

    // & .ql-editor {
    //     font-size: inherit;
    //     height: inherit;
    //     padding: inherit;

    //     & p {
    //         font-size: inherit;
    //     }
    // }

    // & .ql-container {
    //     height: inherit;
    //     padding: inherit;

    //     & p {
    //         font-size: inherit;
    //     }
    // }
}
