li.MimotoCMS_forms_input_ListItem {
    display: flex;
    padding: 0 20px 0 0;
    border: 1px solid $pale-slate;
    align-items: center;
}

li.MimotoCMS_forms_input_ListItem--drag {
    background-color: $white;
}

li.MimotoCMS_forms_input_ListItem--ghost {
    opacity: 0;
}

    figure.MimotoCMS_forms_input_ListItem-figure {
        width: 72px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        flex: 0 0 auto;
        align-self: stretch;
    }

    div.MimotoCMS_forms_input_ListItem-text {
        padding: 15px 20px;
        flex: 1 1 auto;
        overflow: hidden;
    }

        p.MimotoCMS_forms_input_ListItem-title,
        p.MimotoCMS_forms_input_ListItem-subtitle {
            font-size: rem-calc(14px);
        }

        p.MimotoCMS_forms_input_ListItem-title {
            font-weight: 500;
            color: $black;
        }

        p.MimotoCMS_forms_input_ListItem-subtitle {
            color: $gray;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    div.MimotoCMS_forms_input_ListItem-handle {
        @include clearfix;
        display: block;
        overflow: hidden;
        width: 10px;
        margin-left: 20px;
        padding-top: 2px;
        cursor: move;
        flex: 0 0 auto;
    }

    div.MimotoCMS_forms_input_ListItem-handle-dot {
        float: left;
        width: 3px;
        height: 3px;
        margin: 0 1px 2px;
        background-color: $tower-gray;
    }

div.MimotoCMS_forms_input_ListItem-menu {

    white-space: nowrap;

    & > div {
        margin-right: 3px;
    }
    & > div:last-child {
        margin-right: 0;
    }
}
