li.MimotoCMS_pages_forms_FormDetail-FormField {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    padding: 20px 10px 20px 20px;

    background-color: #f5f5f5;

    & > div:last-child {
        text-align: right;
        padding-right: 0;
    }

    div.MimotoCMS_pages_forms_FormDetail-FormField__field {

        flex-grow: 1;


        & > div.MimotoCMS_pages_forms_FormDetail-FormField__field-label
        {
            font-size: 18px;
            font-family: "Futura PT W02 Book",sans-serif;
            font-weight: bold;
        }
        
        & > div.MimotoCMS_pages_forms_FormDetail-FormField__field-type {
            font-style: italic;
        }
    }

    div.MimotoCMS_pages_forms_FormDetail-FormField__menu {
        white-space: nowrap;

        flex-grow: 1;


        text-align: right;

        & > div {
            float: right;
            margin-left: 10px;
        }

        & > div > button {
            margin-bottom: 5px;
        }
    }

    div.MimotoCMS_pages_forms_FormDetail-FormField__menu-handle {
        padding: 2px 0 0 5px;
        flex-direction: row;

        display: inline-block;
    }
}
