div.MimotoCMS_modules_Tabmenu {
    
}

div.MimotoCMS_modules_Tabmenu-panel {
    margin-bottom: 25px;
    background-color: #ffffff;
    padding: 15px;
    max-width: 800px;

    //& a {
    //    color: $tower-gray;
    //    text-decoration: underline;
    //}
    //
    //& a:hover {
    //    color: #000000;
    //}
}


div.MimotoCMS_modules_Tabmenu-panel-menu {
    margin-bottom: 20px;
    text-align: right;
}

ul.MimotoCMS_modules_Tabmenu-panel-container {
    background-color: $wild-sand;
    padding: 1px;

    & > li {
        margin-bottom: 1px;
    }

    & > li:last-child {
        margin-bottom: 0;
    }
}


div.MimotoCMS_modules_Tabmenu__menu {

    overflow: scroll;

    & > div {
        margin-right: 2px;
    }

    & > div:last-child {
        margin-right: 0;
    }
}

div.MimotoCMS_modules_Tabmenu__menu_tab {

    display: inline-block;
    padding: 10px 30px 10px 30px;
    color: #000000;
    background-color: #dedede;
    font-family: $font-family-futura;
    user-select: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    &.active {
        cursor: default;
        text-decoration: none;
        background-color: #ffffff;
    }

    &.secondary {
        background-color: inherit;
        color: #ff0000;
    }
}

div.MimotoCMS_modules_Tabmenu-panels {

    &.hidden {
        display: none;
    }
}
