<div data-mimotocms-tabmenu class="MimotoCMS_modules_Tabmenu">
    <div data-mimotocms-tabmenu-tab-container class="MimotoCMS_modules_Tabmenu__menu">
        <div data-mimotocms-tabmenu-tab-template class="MimotoCMS_modules_Tabmenu__menu_tab hidden"></div>
    </div>
    <div class="MimotoCMS_modules_Tabmenu-panels">
        {% block panels %}{% endblock %}
    </div>
</div>
