.form-checkbox-container {
  position: relative;
  flex: 0 0 auto;
}

.form-checkbox {
  position: relative;
  z-index: 1;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &::after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    content: '';
    cursor: pointer;
    opacity: 1;
    border: 1px solid $pale-slate;
    background: $alabaster;
  }
}

.form-checkbox-icon {
  position: absolute;
  z-index: 2;
  top: 4px;
  left: 3px;
  display: none;
  width: 14px;
  height: 11px;
  pointer-events: none;
  fill: $tower-gray;
}

.form-checkbox:checked {
  &::before {
    display: block;
  }

  &::after {
    background: $white;
  }

  + .form-checkbox-icon {
    display: block;
  }
}
