@import 'MultiSelectOption/MultiSelectOption';

div.MimotoCMS_forms_input_MultiSelect-container {
    position: relative;
    flex: 0 0 auto;
}

    input.MimotoCMS_forms_input_MultiSelect {
        position: relative;
        z-index: 1;
        width: 20px;
        height: 20px;
        cursor: pointer;

        &:checked {
            &::after {
                background-color: $white;
            }

            + svg.MimotoCMS_forms_input_MultiSelect-icon {
                display: block;
            }
        }

        &::after {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            display: block;
            width: 20px;
            height: 20px;
            content: '';
            cursor: pointer;
            opacity: 1;
            border: 1px solid $pale-slate;
            background-color: $alabaster;
        }
    }

    svg.MimotoCMS_forms_input_MultiSelect-icon {
        position: absolute;
        z-index: 2;
        top: -2px;
        left: 4px;
        display: none;
        width: 12px;
        height: 24px;
        pointer-events: none;
        fill: $tower-gray;
    }
