{% embed "MimotoCMS/components/forms/form_component.twig" with {"type": "checkbox"} %}
    {% block form_component_element %}
        <div class="MimotoCMS_forms_FormComponent-element-container">
            <div class="form-checkbox-container">
                <input {{ Aimless.input()|raw }} type="checkbox" class="form-checkbox" {% if Aimless.value() %}checked{% endif %} />
                <svg class="form-checkbox-icon"><use xlink:href="#ico-checkmark"></use></svg>
            </div>
            <label for="" class="MimotoCMS_forms_FormComponent-element-label">{{ Aimless.data('option') }}</label>
        </div>
    {% endblock %}
{% endembed %}
