<div class="form_output_header">
    <div class="form_output_header_title">{{ Aimless.data('title') }}</div>
    {% if Aimless.data('subtitle') is not empty %}<div class="form_output_header_subtitle">{{ Aimless.data('subtitle') }}</div>{% endif %}
    {% if Aimless.data('description') is not empty %}<div class="form_output_header_description">{{ Aimless.data('description') }}</div>{% endif %}
</div>

