div.MimotoCMS_forms_input_VideoUpload {
    position: relative;
    margin: 0 0 10px;
    border: 1px solid $pale-slate;
    background-color: $mercury;
}

div.MimotoCMS_forms_input_VideoUpload--show-preview {
    div.MimotoCMS_forms_input_VideoUpload-preview {
        display: block;
    }
}

div.MimotoCMS_forms_input_VideoUpload--hide-upload-progess {
    div.MimotoCMS_forms_input_VideoUpload-preview-upload-progress {
        opacity: 0;
    }
}

div.MimotoCMS_forms_input_VideoUpload--show-preview-image {
    img.MimotoCMS_forms_input_VideoUpload-preview-image {
        opacity: 1;
    }
}

div.MimotoCMS_forms_input_VideoUpload-fulltrigger {
    cursor: pointer;
}


div.MimotoCMS_forms_input_VideoUpload-trigger {
    padding: 120px 20px;
    cursor: pointer;
}

    div.MimotoCMS_forms_input_VideoUpload-trigger-button {
        overflow: hidden;
        width: 35px;
        height: 35px;
        margin: 0 auto 15px;
        border-radius: 100%;
        background-color: $silver-chalice;
    }

        svg.MimotoCMS_forms_input_VideoUpload-trigger-button-icon {
            display: block;
            width: 17px;
            height: 17px;
            margin: 9px;
            fill: $mercury;
            color: #ffffff;
        }

        p.MimotoCMS_forms_input_VideoUpload-trigger-text {
            font-size: rem-calc(14px);
            font-weight: 500;
            text-align: center;
            color: rgba($black, .5);
        }

div.MimotoCMS_forms_input_VideoUpload-preview {
    position: relative;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
}

div.MimotoCMS_forms_input_VideoUpload-preview-template {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding: 0 80px;
}

div.MimotoCMS_forms_input_VideoUpload-preview-button {
    position: absolute;
    right: 0;
    bottom: -30px;
}

img.MimotoCMS_forms_input_VideoUpload-preview-image {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    margin: 0 auto;
    transform: translate3d(0, -50%, 0);
    opacity: 0;
    transition: opacity 100ms ease-out;
}

div.MimotoCMS_forms_input_VideoUpload-preview-upload-progress {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 0;
    width: 100%;
    height: 20px;
    margin-top: -5px;
    padding: 0 120px;
    transition: opacity 100ms ease-out;
}

div.MimotoCMS_forms_input_VideoUpload-preview-upload-progess-bar {
    width: 0;
    height: 20px;
    border-radius: 10px;
    background-color: $tower-gray;
    transition: width 300ms ease-out;
}

video.MimotoCMS_forms_input_VideoUpload-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

div.MimotoCMS_forms_input_VideoUpload-delete {
    text-align: right;
    font-size: 12px;
    color: #858585;
    font-style: italic;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    & > .hidden {
        display: none;
    }
}