<html>
<head>
    <title>Mimoto.CMS</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/mimoto/static/css/mimoto.cms.css">

    <style>

        body.MimotoCMS_Login {

        }

        div.MimotoCMS_Login-screen {
            padding:100px
        }

        h1.MimotoCMS_Login-header {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 20px;
        }

        input.MimotoCMS_Login-username, input.MimotoCMS_Login-password {
            width: 350px;
            padding: 12px 15px;
        }

        input.MimotoCMS_Login-submit {
            padding: 7px 12px;
            margin-top: 30px;
            background-color: #000000;
            color: #ffffff;
        }

    </style>

</head>
<body class="MimotoCMS_Login">

    <div class="MimotoCMS_Login-screen">
        <h1 class="MimotoCMS_Login-header">Mimoto.CMS</h1>

        <form action="/mimoto.cms" method="post" class="MimotoCMS">
            <input type="hidden" name="request" value="{{ requestedPage }}">
            <fieldset class="MimotoCMS">
                <legend class="MimotoCMS">email</legend>
                <input type="test" name="username" id="username" value="{{ username }}" class="MimotoCMS_Login-username" />
            </fieldset>
            <fieldset class="MimotoCMS">
                <legend class="MimotoCMS">password</legend>
                <input type="password" name="password" id="password" class="MimotoCMS_Login-password" />
            </fieldset>
            <input type="submit" value="Login" class="MimotoCMS_Login-submit" />
        </form>

    </div>

</body>
</html>
