<html>
  <head>
    <title>Mimoto.CMS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/css/mimoto.cms.min.css">
    <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
    <script src="/static/js/jquery-3.1.0.min.js"></script>
    <script src="/static/js/MaidoProjects.js"></script>
    <script src="/static/js/Mimoto.CMS.js"></script>
    <script src="/static/js/Mimoto.Aimless.js"></script>
    <script src="/static/js/app.min.js"></script>

    <script src="//use.typekit.net/utk0rsh.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
    {% include "MimotoCMS/components/svg.twig" %}

    <header class="js-header header">
      <div class="header-logo-container">
        <a href="/dev">
          <div class="header-logo-large"></div>
          <div class="header-logo-small"></div>
        </a>

        <div class="js-navigation-toggle header-navigation-collapse-toggle">
          <svg class="header-navigation-collapse-toggle-icon"><use xlink:href='#ico-arrow'/></svg>
        </div>
      </div>

      <button class="header-mobile-navigation-toggle js-mobile-navigation-toggle">
        <span class="header-mobile-navigation-toggle-line"></span>
        <span class="header-mobile-navigation-toggle-line"></span>
        <span class="header-mobile-navigation-toggle-line"></span>
      </button>
      
      <ul class="header-breadcrumbs">
        <li class="header-breadcrumbs-list-item"><a href="#" class="header-breadcrumbs-list-item-link">Statistieken</a></li>
        <li class="header-breadcrumbs-list-item"><a href="#" class="header-breadcrumbs-list-item-link">Leden</a></li>
      </ul>

      <ul class="header-menu">
        <li class="header-menu-item">
          <a href="#" class="header-menu-link header-menu-user">
            <span class="header-menu-user-text">David de Lusenet</span>
            <figure class="header-menu-user-figure">
              <img src="/static/img/mimoto.cms/avatar.png" class="header-menu-user-image" />
            </figure>
          </a>
        </li>
      </ul>
    </header>

    <nav class="js-navigation navigation">
      <div class="navigation-content">

        <ul class="navigation-menu">
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <svg class="navigation-menu-item-icon"><use xlink:href='#ico-drafts'/></svg>
              <span class="navigation-menu-item-text">Drafts</span>
            </a>
          </li>
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <svg class="navigation-menu-item-icon"><use xlink:href='#ico-publications'/></svg>
              <span class="navigation-menu-item-text">Publications</span>
            </a>
          </li>
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <svg class="navigation-menu-item-icon"><use xlink:href='#ico-files'/></svg>
              <span class="navigation-menu-item-text">Themes</span>
            </a>
          </li>
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <span class="navigation-menu-item-icon icon icon-arrow-down"></span>
              <span class="navigation-menu-item-text">Oproepen</span>
            </a>
          </li>
        </ul>

        <ul class="navigation-menu">
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <svg class="navigation-menu-item-icon"><use xlink:href='#ico-schedule'/></svg>
              <span class="navigation-menu-item-text">Schedule</span>
            </a>
          </li>
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <svg class="navigation-menu-item-icon"><use xlink:href='#ico-featured'/></svg>
              <span class="navigation-menu-item-text">Featured</span>
            </a>
          </li>
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <svg class="navigation-menu-item-icon"><use xlink:href='#ico-daily-update'/></svg>
              <span class="navigation-menu-item-text">Daily update</span>
            </a>
          </li>
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <svg class="navigation-menu-item-icon"><use xlink:href='#ico-all-publications'/></svg>
              <span class="navigation-menu-item-text">All publications</span>
            </a>
          </li>
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <svg class="navigation-menu-item-icon"><use xlink:href='#ico-all-files'/></svg>
              <span class="navigation-menu-item-text">All dossiers</span>
            </a>
          </li>
        </ul>

        <ul class="navigation-menu navigation-menu--last">
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <svg class="navigation-menu-item-icon"><use xlink:href='#ico-members'/></svg>
              <span class="navigation-menu-item-text">Members</span>
            </a>
          </li>
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <svg class="navigation-menu-item-icon"><use xlink:href='#ico-stats'/></svg>
              <span class="navigation-menu-item-text">Stats</span>
            </a>
          </li>
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <svg class="navigation-menu-item-icon"><use xlink:href='#ico-preferences'/></svg>
              <span class="navigation-menu-item-text">Preferences</span>
            </a>
          </li>
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <svg class="navigation-menu-item-icon"><use xlink:href='#ico-tools'/></svg>
              <span class="navigation-menu-item-text">Tools</span>
            </a>
          </li>
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <svg class="navigation-menu-item-icon"><use xlink:href='#ico-team'/></svg>
              <span class="navigation-menu-item-text">Team</span>
            </a>
          </li>
        </ul>

      </div>
    </nav>

    <section class="pagecontent">
      <p>Put your content here</p>
      {% block content %}{% endblock %}
    </section>
  </body>
</html>
