<!DOCTYPE html>
<head>
    <title>Mimoto.CMS</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="//cdn.quilljs.com/1.2.3/quill.bubble.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/mimoto/static/css/mimoto.cms.css">



    <script type="text/javascript" src="/mimoto/static/js/mimoto.js"></script>
    <script type="text/javascript" src="/mimoto/static/js/mimoto.cms.js"></script>

    <script>
        MimotoX.autoloadCSS = false;
        MimotoX.debug = true;
    </script>

</head>
<body>
    {% include "MimotoCMS/components/svg.twig" %}

    <div class="layer_application">

        {% include "MimotoCMS/components/interface/Header/Header.twig" %}
        {% include "MimotoCMS/components/interface/Menu/Menu.twig" %}

        <section class="MimotoCMS_Pagecontent">
            {{ Mimoto.component('content') }}
        </section>

    </div>

    {% include "MimotoCMS/components/interface/Popup/Popup.twig" %}

</body>
</html>
