<html>
  <head>
    <title>Mimoto.CMS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/mimoto.cms.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mimoto.cms.min.css">
    <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
    <script src="/static/js/jquery-3.1.0.min.js"></script>
    <script src="/static/js/MaidoProjects.js"></script>
    <script src="/static/js/Mimoto.CMS.js"></script>
    <script src="/static/js/Mimoto.Aimless.js"></script>
    <script src="/static/js/app.min.js"></script>
    <script>try {
        Typekit.load({async: true});
      } catch (e) {
      }</script>
  </head>
  <body>

    <header class="js-header header">
      <ul class="header-menu">
        <li class="header-menu-item">
          <a href="#" class="header-menu-link header-menu-user">
            <span class="header-menu-user-text">David de Lusenet</span>
            <figure class="header-menu-user-figure">
              <img src="/static/img/mimoto.cms/avatar.png" class="header-menu-user-image" />
            </figure>
          </a>
        </li>
      </ul>
    </header>

    <aside class="js-sidebar sidebar">
      <div class="sidebar-logo-container">
        <a href="/dev">
          <div class="sidebar-logo-large"></div>
          <div class="sidebar-logo-small"></div>
        </a>
      </div>

      <div class="js-sidebar-toggle sidebar-collapse-toggle">
        <span class="sidebar-collapse-toggle-icon icon icon-arrow-left"></span>
      </div>

      <div class="sidebar-content">
        <ul class="sidebar-menu">
          <li class="sidebar-menu-item">
            <a href="#" class="sidebar-menu-item-link">
              <span class="sidebar-menu-item-icon icon icon-arrow-down"></span>
              <span class="sidebar-menu-item-text">Publicaties</span>
            </a>
          </li>
        </ul>

        <ul class="sidebar-menu sidebar-menu--last">
          <li class="sidebar-menu-item">
            <a href="#" class="sidebar-menu-item-link">
              <span class="sidebar-menu-item-icon icon icon-checkmark"></span>
              <span class="sidebar-menu-item-text">Statistieken</span>
            </a>
          </li>
          <li class="sidebar-menu-item">
            <a href="#" class="sidebar-menu-item-link">
              <span class="sidebar-menu-item-icon icon icon-plus"></span>
              <span class="sidebar-menu-item-text">Team</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>

    {% block content %}{% endblock %}

  </body>
</html>
