<html>
<head>
  <title>Mimoto.CMS</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/static/css/mimoto.cms.min.css">
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  <script src="/static/js/jquery-3.1.0.min.js"></script>

  <!--<script src="/static/js/diff_match_patch.js"></script>-->
  {#<script src="/static/js/diff_match_patch_uncompressed.js"></script>#}
  {#<script src="/static/js/Mimoto.CMS.js"></script>#}
  {#<script src="/static/js/Mimoto.Aimless.js"></script>#}
  <script src="/static/js/app.min.js"></script>

  <script src="//use.typekit.net/utk0rsh.js"></script>
  <script>try {Typekit.load({async: true});} catch (e) {}</script>
</head>
<body>

  {% include "MimotoCMS/components/svg.twig" %}

  <div class="layer_application">

    {% include "MimotoCMS/components/interface/Header/Header.twig" %}
    {% include "MimotoCMS/components/interface/Menu/Menu.twig" %}

    <section class="pagecontent">

      <div class="form-component js-form-component-textline">
        <label for="" class="form-component-title">Name <span class="form-component-title-information">(optioneel)</span><svg class="js-error-icon form-component-title-icon"><use xlink:href=""></use></svg></label>
        <div class="form-component-content">

          <div class="form-component-element js-error-parent">
            <input type="text" class="js-form-input form-input" placeholder="Property name" value="name" data-min-length="1" data-max-length="10" data-min-numbers="1" data-max-numbers="2">
          </div>

          <p class="form-component-description">The property name should be unique</p>
        </div>
      </div>

      {% block content %}{% endblock %}
    </section>

  </div>

  {% include "MimotoCMS/components/interface/Popup/Popup.twig" %}

</body>
</html>
