<html>
  <head>
    <title>Mimoto.CMS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/mimoto.cms.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mimoto.cms.min.css">
    <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
    <script src="/static/js/jquery-3.1.0.min.js"></script>
    <script src="/static/js/MaidoProjects.js"></script>
    <script src="/static/js/Mimoto.CMS.js"></script>
    <script src="/static/js/Mimoto.Aimless.js"></script>
    <script src="/static/js/app.min.js"></script>
    <script>try {
        Typekit.load({async: true});
      } catch (e) {
      }</script>
  </head>
  <body>

    <header class="js-header header">
      <div class="header-logo-container">
        <a href="/dev">
          <div class="header-logo-large"></div>
          <div class="header-logo-small"></div>
        </a>

        <div class="js-navigation-toggle header-navigation-collapse-toggle">
          <span class="header-navigation-collapse-toggle-icon icon icon-arrow-left"></span>
        </div>
      </div>

      <button class="header-mobile-navigation-toggle js-mobile-navigation-toggle">
        <span class="header-mobile-navigation-toggle-line"></span>
        <span class="header-mobile-navigation-toggle-line"></span>
        <span class="header-mobile-navigation-toggle-line"></span>
      </button>
      
      <ul class="header-breadcrumbs">
        <li class="header-breadcrumbs-list-item"><a href="#" class="header-breadcrumbs-list-item-link">Statistieken</a></li>
        <li class="header-breadcrumbs-list-item"><a href="#" class="header-breadcrumbs-list-item-link">Leden</a></li>
      </ul>

      <ul class="header-menu">
        <li class="header-menu-item">
          <a href="#" class="header-menu-link header-menu-user">
            <span class="header-menu-user-text">David de Lusenet</span>
            <figure class="header-menu-user-figure">
              <img src="/static/img/mimoto.cms/avatar.png" class="header-menu-user-image" />
            </figure>
          </a>
        </li>
      </ul>
    </header>

    <nav class="js-navigation navigation">
      <div class="navigation-content">
        <ul class="navigation-menu">
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <span class="navigation-menu-item-icon icon icon-arrow-down"></span>
              <span class="navigation-menu-item-text">Publicaties</span>
            </a>
          </li>
        </ul>

        <ul class="navigation-menu navigation-menu--last">
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <span class="navigation-menu-item-icon icon icon-checkmark"></span>
              <span class="navigation-menu-item-text">Statistieken</span>
            </a>
          </li>
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <span class="navigation-menu-item-icon icon icon-plus"></span>
              <span class="navigation-menu-item-text">Team</span>
            </a>
          </li>
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <span class="navigation-menu-item-icon icon icon-checkmark"></span>
              <span class="navigation-menu-item-text">Statistieken</span>
            </a>
          </li>
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <span class="navigation-menu-item-icon icon icon-plus"></span>
              <span class="navigation-menu-item-text">Team</span>
            </a>
          </li>
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <span class="navigation-menu-item-icon icon icon-checkmark"></span>
              <span class="navigation-menu-item-text">Statistieken</span>
            </a>
          </li>
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <span class="navigation-menu-item-icon icon icon-plus"></span>
              <span class="navigation-menu-item-text">Team</span>
            </a>
          </li>
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <span class="navigation-menu-item-icon icon icon-checkmark"></span>
              <span class="navigation-menu-item-text">Statistieken</span>
            </a>
          </li>
          <li class="navigation-menu-item">
            <a href="#" class="navigation-menu-item-link">
              <span class="navigation-menu-item-icon icon icon-plus"></span>
              <span class="navigation-menu-item-text">Team</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <section class="pagecontent">
      <p>Put your content here</p>
      {% block content %}{% endblock %}
    </section>
  </body>
</html>
