<div class="svg-definitions">
    <svg x="0" y="0" width="0" height="0" xmlns="http://www.w3.org/2000/svg">
        <defs>

{#
            <symbol id="ico-drafts" viewBox="0 0 16.4 19">
                <path d="M8.2,0c-0.3,0-1,0.2-1,1.1c0,0.9,1,5.9,1,5.9s1-5,1-5.9C9.2,0.2,8.5,0,8.2,0z"/>
                <path d="M9.2,17.9c0-0.9-1-5.9-1-5.9s-1,5-1,5.9s0.7,1.1,1,1.1C8.5,19,9.2,18.8,9.2,17.9z"/>
                <path d="M0.1,4.5C0,4.7-0.3,5.4,0.6,5.9C1.4,6.4,6.2,8,6.2,8S2.4,4.6,1.6,4.2C0.8,3.7,0.3,4.3,0.1,4.5z"/>
                <path d="M15.8,13.1C15,12.6,10.2,11,10.2,11s3.8,3.4,4.6,3.8c0.8,0.5,1.3-0.1,1.5-0.3C16.4,14.3,16.6,13.6,15.8,13.1z"/>
                <path d="M0.1,14.5c0.1,0.2,0.6,0.8,1.5,0.3C2.4,14.4,6.2,11,6.2,11s-4.8,1.6-5.6,2.1C-0.2,13.6,0,14.3,0.1,14.5z"/>
                <path d="M14.8,4.2C14,4.6,10.2,8,10.2,8s4.8-1.6,5.6-2.1c0.8-0.5,0.6-1.2,0.5-1.4C16.1,4.3,15.6,3.7,14.8,4.2z"/>
            </symbol>
#}

            <symbol id="ico-drafts" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 36">
                <path d="M9,7.59A1.11,1.11,0,0,0,7.92,8.8c0,1,1.1,6.47,1.1,6.47s1.1-5.48,1.1-6.47A1.11,1.11,0,0,0,9,7.59Z"/>
                <path d="M10.11,27.2c0-1-1.1-6.47-1.1-6.47s-1.1,5.48-1.1,6.47a1.1,1.1,0,1,0,2.19,0Z"/>
                <path d="M.14,12.52a1.07,1.07,0,0,0,.55,1.53c.88.55,6.14,2.3,6.14,2.3a63.92,63.92,0,0,0-5-4.16A1.19,1.19,0,0,0,.14,12.52Z"/>
                <path d="M17.35,21.94c-.88-.55-6.14-2.3-6.14-2.3a63.92,63.92,0,0,0,5,4.16,1.19,1.19,0,0,0,1.64-.33A1.17,1.17,0,0,0,17.35,21.94Z"/>
                <path d="M.14,23.48a1.12,1.12,0,0,0,1.64.33,63.92,63.92,0,0,0,5-4.16S1.57,21.4.69,21.94A1.17,1.17,0,0,0,.14,23.48Z"/>
                <path d="M16.25,12.19a63.92,63.92,0,0,0-5,4.16s5.26-1.75,6.14-2.3a1.17,1.17,0,0,0,.55-1.53A1.19,1.19,0,0,0,16.25,12.19Z"/>
            </symbol>

{#
            <symbol id="ico-publications" viewBox="0 0 18 17">
                <path d="M17,1v15H1V1H17 M18,0H0v17h18V0L18,0z"/>
                <rect x="4" y="5" width="10" height="1"/>
                <rect x="4" y="8" width="10" height="1"/>
                <rect x="4" y="11" width="10" height="1"/>
            </symbol>
#}

            <symbol id="ico-publications" viewBox="0 0 18 36">
                <rect x="4" y="14.5" width="10" height="1"/>
                <path d="M17,10.5v15H1v-15H17m1-1H0v17H18V9.5Z"/>
                <rect x="4" y="17.5" width="10" height="1"/>
                <rect x="4" y="20.5" width="10" height="1"/>
            </symbol>

{#
            <symbol id="ico-files" viewBox="0 0 19 20">
                <path d="M15,16H1V1h14V16z M16,0H0v17h16V0L16,0z"/>
                <rect x="4" y="5" width="8" height="1"/>
                <rect x="4" y="8" width="8" height="1"/>
                <rect x="4" y="11" width="8" height="1"/>
                <polygon points="18,3 18,19 3,19 3,20 19,20 19,3 "/>
            </symbol>
#}

            <symbol id="ico-files" viewBox="0 0 18 36">
                <path d="M14.21,23.68H.95V9.47H14.21Zm.95-15.16H0V24.63H15.16V8.53Z"/>
                <rect x="3.79" y="13.26" width="7.58" height="0.95"/>
                <rect x="3.79" y="16.11" width="7.58" height="0.95"/>
                <rect x="3.79" y="18.95" width="7.58" height="0.95"/>
                <polygon points="17.05 11.37 17.05 26.53 2.84 26.53 2.84 27.47 18 27.47 18 11.37 17.05 11.37"/>
            </symbol>

{#
            <symbol id="ico-schedule" viewBox="0 0 18 15">
                <path d="M0,0v15h13l5-5V0H0z M12,1v3H9V1H12z M8,1v3H5V1H8z M1,1h3v3H1V1z M13,13.6V10h3.6L13,13.6z M17,9h-5v5H1V5h16V9z M17,4h-4 V1h4V4z"/>
            </symbol>
#}

            <symbol id="ico-schedule" viewBox="0 0 18 36">
                <path d="M0,10.5v15H13l5-5v-10Zm12,1v3H9v-3Zm-4,0v3H5v-3Zm-7,0H4v3H1ZM13,24.1V20.5h3.6Zm4-4.6H12v5H1v-9H17Zm0-5H13v-3h4Z"/>
            </symbol>

{#
            <symbol id="ico-featured" viewBox="0 0 19 12">
                <path d="M14,4V0H5v6H0v6h5h1h7h1h5V4H14z M5,11H1V7h4V11z M13,11H6V6V1h7v3V11z M18,11h-4V5h4V11z"/>
                <rect x="9" y="4" width="1" height="4"/>
            </symbol>
#}

            <symbol id="ico-featured" viewBox="0 0 18 36">
                <path d="M13.26,16.11V12.32H4.74V18H0v5.68H18V16.11ZM4.74,22.74H.95V18.95H4.74Zm7.58,0H5.68V13.26h6.63v9.47Zm4.74,0H13.26V17.05h3.79Z"/>
                <rect x="8.53" y="16.11" width="0.95" height="3.79"/>
            </symbol>

{#
            <symbol id="ico-daily-update" viewBox="0 0 18 13">
                <path d="M17,1v11H1V1H17 M18,0H0v13h18V0L18,0z"/>
                <polygon points="9,9.7 2.6,3.4 3.4,2.6 9,8.3 14.6,2.6 15.4,3.4 "/>
                <rect x="2.3" y="7.8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -4.4568 5.8104)" width="4.9" height="1"/>
                <rect x="12.7" y="5.8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -1.9879 11.7708)" width="1" height="4.9"/>
            </symbol>
#}

            <symbol id="ico-daily-update" viewBox="0 0 18 36">
                <path d="M17,12.5v11H1v-11H17m1-1H0v13H18v-13Z"/>
                <polygon points="9 21.2 2.6 14.9 3.4 14.1 9 19.8 14.6 14.1 15.4 14.9 9 21.2"/>
                <rect x="2.32" y="19.32" width="4.9" height="1" transform="translate(-12.62 9.18) rotate(-45)"/>
                <rect x="12.68" y="17.32" width="1" height="4.9" transform="translate(-10.12 15.11) rotate(-45)"/>
            </symbol>

{#
            <symbol id="ico-all-publications" viewBox="0 0 19 17">
                <rect x="4" y="11" width="10" height="1"/>
                <polygon points="4,8 4,9 10,9 10.3,8 "/>
                <polygon points="11.2,5 4,5 4,6 10.9,6 "/>
                <polygon points="17,9 17,16 1,16 1,1 12.4,1 12.7,0 0,0 0,17 18,17 18,9 "/>
                <path d="M12,8l2.7-8h1.6L19,8h-1.5l-0.7-2.1h-2.7L13.4,8H12z M14.3,4.8h2.2l-1-3.4l0,0L14.3,4.8z"/>
            </symbol>
#}

            <symbol id="ico-all-publications" viewBox="0 0 18 36">
                <rect x="3.79" y="20.37" width="9.47" height="0.95"/>
                <polygon points="3.79 17.53 3.79 18.47 9.47 18.47 9.76 17.53 3.79 17.53"/>
                <polygon points="10.61 14.68 3.79 14.68 3.79 15.63 10.33 15.63 10.61 14.68"/>
                <polygon points="16.11 18.47 16.11 25.11 0.95 25.11 0.95 10.89 11.75 10.89 12.03 9.95 0 9.95 0 26.05 17.05 26.05 17.05 18.47 16.11 18.47"/>
                <path d="M11.37,17.53l2.56-7.58h1.52L18,17.53H16.58l-.66-2H13.36l-.66,2Zm2.18-3h2.08l-.95-3.22h0Z"/>
            </symbol>

{#
            <symbol id="ico-all-files" viewBox="0 0 19 20">
                <rect x="4" y="11" width="8" height="1"/>
                <polygon points="18,19 3,19 3,20 19,20 19,9 18,9 "/>
                <polygon points="4,8 4,9 10,9 10.3,8 "/>
                <polygon points="11.2,5 4,5 4,6 10.9,6 "/>
                <polygon points="15,8 15,16 1,16 1,1 12.4,1 12.7,0 0,0 0,17 16,17 16,8 "/>
                <path d="M12,8l2.7-8h1.6L19,8h-1.5l-0.7-2.1h-2.7L13.4,8H12z M14.3,4.8h2.2l-1-3.4l0,0L14.3,4.8z"/>
            </symbol>
#}

            <symbol id="ico-all-files" viewBox="0 0 18 36">
                <rect x="3.79" y="18.95" width="7.58" height="0.95"/>
                <polygon points="17.05 26.53 2.84 26.53 2.84 27.47 18 27.47 18 17.05 17.05 17.05 17.05 26.53"/>
                <polygon points="3.79 16.11 3.79 17.05 9.47 17.05 9.76 16.11 3.79 16.11"/>
                <polygon points="10.61 13.26 3.79 13.26 3.79 14.21 10.33 14.21 10.61 13.26"/>
                <polygon points="14.21 16.11 14.21 23.68 0.95 23.68 0.95 9.47 11.75 9.47 12.03 8.53 0 8.53 0 24.63 15.16 24.63 15.16 16.11 14.21 16.11"/>
                <path d="M11.37,16.11l2.56-7.58h1.52L18,16.11H16.58l-.66-2H13.36l-.66,2Zm2.18-3h2.08l-.95-3.22h0Z"/>
            </symbol>

{#
            <symbol id="ico-members" viewBox="0 0 16 16">
                <rect x="12.1" y="0.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 2.2042 10.271)" width="2.8" height="4.2"/>
                <polygon points="10.3,2.7 1,12 0,16 4,15 13.3,5.7 	"/>
            </symbol>
#}

            <symbol id="ico-members" viewBox="0 0 18 36">
                <rect x="13.64" y="9.43" width="3.15" height="4.73" transform="translate(-3.88 14.21) rotate(-45)"/>
                <polygon points="11.59 12.03 1.13 22.49 0 26.99 4.5 25.87 14.97 15.4 11.59 12.03"/>
            </symbol>

{#
            <symbol id="ico-stats" viewBox="0 0 16 15">
                <rect y="12" width="9" height="3"/>
                <rect y="8" width="13" height="3"/>
                <rect y="4" width="16" height="3"/>
                <rect width="6" height="3"/>
            </symbol>
#}

            <symbol id="ico-stats" viewBox="0 0 18 36">
                <rect y="23.06" width="10.13" height="3.38"/>
                <rect y="18.56" width="14.63" height="3.38"/>
                <rect y="14.06" width="18" height="3.38"/>
                <rect y="9.56" width="6.75" height="3.38"/>
            </symbol>

{#
            <symbol id="ico-preferences" viewBox="0 0 16 16">
                <path d="M16,9V7l-2.3-0.8c-0.1-0.3-0.2-0.6-0.3-0.8L14,3l-1-1l-2.4,0.6C10.3,2.5,10,2.4,9.8,2.3L9,0H7L6.2,2.3C5.9,2.4,5.6,2.5,5.4,2.6L3,2L2,3l0.6,2.4C2.5,5.7,2.4,6,2.3,6.2L0,7v2l2.3,0.8c0.1,0.3,0.2,0.6,0.3,0.8L2,13l1,1l2.4-0.6c0.3,0.1,0.6,0.2,0.8,0.3L7,16h2l0.8-2.3c0.3-0.1,0.6-0.2,0.8-0.3L13,14l1-1l-0.6-2.4c0.1-0.3,0.2-0.6,0.3-0.8L16,9z M8,11c-1.7,0-3-1.3-3-3s1.3-3,3-3s3,1.3,3,3S9.7,11,8,11z"/>
            </symbol>
#}

            <symbol id="ico-preferences" viewBox="0 0 18 36">
                <path d="M18,19.13V16.88L15.41,16a7.75,7.75,0,0,0-.34-.9l.68-2.7-1.12-1.12-2.7.67a7.75,7.75,0,0,1-.9-.34L10.13,9H7.88L7,11.59a7.75,7.75,0,0,0-.9.34l-2.7-.67L2.25,12.38l.67,2.7a7.75,7.75,0,0,1-.34.9L0,16.88v2.25l2.59.9a7.75,7.75,0,0,0,.34.9l-.67,2.7,1.13,1.13,2.7-.68a7.75,7.75,0,0,1,.9.34L7.88,27h2.25l.9-2.59a7.75,7.75,0,0,0,.9-.34l2.7.68,1.13-1.12-.68-2.7a7.75,7.75,0,0,1,.34-.9ZM9,21.38a3.38,3.38,0,0,1,0-6.75,3.38,3.38,0,0,1,0,6.75Z"/>
            </symbol>

{#
            <symbol id="ico-tools" viewBox="0 0 15.9 15.9">
                <path d="M8.1,1.4c1.2-1.2,2.6-1.8,4.4-1.1L10,2.8l0.5,2.7L13.2,6l2.5-2.5c0.6,1.8,0,3.2-1.1,4.4C13.4,9.2,11.3,9.3,10,9l-6.4,6.3c-0.8,0.8-2.2,0.8-3,0c-0.8-0.8-0.8-2.2,0-3L7,6C6.7,4.7,6.9,2.6,8.1,1.4z"/>
            </symbol>
#}

            <symbol id="ico-tools" viewBox="0 0 18 36">
                <path d="M9.15,10.6a4.31,4.31,0,0,1,5-1.24l-2.82,2.82.56,3,3,.56L17.73,13a4.69,4.69,0,0,1-1.24,5c-1.36,1.47-3.73,1.58-5.2,1.24L4.07,26.3a2.46,2.46,0,0,1-3.39,0,2.46,2.46,0,0,1,0-3.39L7.91,15.8A6,6,0,0,1,9.15,10.6Z"/>
            </symbol>

{#
            <symbol id="ico-team" viewBox="0 0 16 13">
                <path d="M9,2V0H7v2H0v11h16V2H9z M2,10c0-1.3,0.8-1.4,1.7-1.7C3.3,8,3,7.1,3,6.5C3,5.7,3.6,5,4.5,5C5.3,5,6,5.7,6,6.6C6,7.2,5.7,8,5.2,8.2C6.1,8.5,7,8.7,7,10H2z M12,10H9V9h3V10z M14,8H9V7h5V8z M14,6H9V5h5V6z"/>
            </symbol>
#}

            <symbol id="ico-team" viewBox="0 0 18 36">
                <path d="M10.13,12.94V10.69H7.88v2.25H0V25.31H18V12.94Zm-7.87,9c0-1.46.9-1.57,1.91-1.91a3,3,0,0,1-.79-2,1.66,1.66,0,0,1,1.69-1.69,1.76,1.76,0,0,1,1.69,1.8,2,2,0,0,1-.9,1.8c1,.34,2,.56,2,2Zm11.25,0H10.13V20.81H13.5Zm2.25-2.25H10.13V18.56h5.63Zm0-2.25H10.13V16.31h5.63Z"/>
            </symbol>

{#
            <symbol id="ico-arrow" viewBox="0 0 7 11">
                <path d="M7,5.5L1.8,0L0,1.9l3.4,3.6L0,9.1L1.8,11L7,5.5z"/>
            </symbol>
#}

            <symbol id="ico-arrow" viewBox="0 0 18 36">
                <path d="M18,18,4.63,3.86,0,8.74,8.74,18,0,27.26l4.63,4.89Z"/>
            </symbol>

{#
            <symbol id="ico-warning" viewBox="0 0 16 13">
                <path d="M15.75,11.38,9,.67a1.11,1.11,0,0,0-2,0L.25,11.38C-.31,12.27.1,13,1.16,13H14.84C15.9,13,16.31,12.27,15.75,11.38ZM8,11a1,1,0,1,1,1-1A1,1,0,0,1,8,11ZM9,8H7V4H9Z"/>
            </symbol>
#}

            <symbol id="ico-warning" viewBox="0 0 18 36">
                <path d="M17.72,23.47l-7.59-12a1.25,1.25,0,0,0-2.25,0l-7.59,12c-.63,1-.17,1.82,1,1.82H16.69C17.89,25.29,18.35,24.47,17.72,23.47ZM9,23a1.12,1.12,0,1,1,1.12-1.12A1.12,1.12,0,0,1,9,23Zm1.12-3.37H7.88v-4.5h2.25Z"/>
            </symbol>

{#
            <symbol id="ico-checkmark" viewBox="0 0 10 8">
                <path d="M9.86.93,9.14.15a.45.45,0,0,0-.67,0h0L3.53,5.44l-2-2.15a.45.45,0,0,0-.67,0l-.73.78a.54.54,0,0,0,0,.72h0l2.7,2.9a.94.94,0,0,0,1.4,0l5.63-6A.54.54,0,0,0,9.86.93Z"/>
            </symbol>
#}

            <symbol id="ico-checkmark" viewBox="0 0 18 36">
                <path d="M17.72,12.48l-1.29-1.4A.81.81,0,0,0,15.28,11l-.06.06h0l-8.87,9.5L2.76,16.72a.81.81,0,0,0-1.14-.06l-.06.06L.25,18.12a1,1,0,0,0,0,1.29h0L5.1,24.62a1.69,1.69,0,0,0,2.38.13l.13-.13L17.72,13.85A1,1,0,0,0,17.72,12.48Z"/>
            </symbol>

            <symbol id="ico-message" viewBox="0 0 356.7 342">
                <path d="M294,0H62.5C28,0,0,28,0,62.5v142.8c0,34.5,28,62.5,62.5,62.5l147.4,0l70.6,70.6c2.4,2.4,5.6,3.7,8.8,3.7c1.6,0,3.2-0.3,4.8-1c4.7-1.9,7.7-6.5,7.7-11.5v-62.2c30.8-3.9,54.6-30.2,54.6-62V62.5C356.5,28,328.4,0,294,0z M331.5,205.3c0,20.7-16.8,37.5-37.5,37.5h-4.6c-6.9,0-12.5,5.6-12.5,12.5v44.1L224,246.4c-2.3-2.3-5.5-3.7-8.8-3.7H62.5c-20.7,0-37.5-16.8-37.5-37.5V62.5C25,41.8,41.8,25,62.5,25H294c20.7,0,37.5,16.8,37.5,37.5V205.3z"/>
                <path d="M270.2,88.5h-184c-6.9,0-12.5,5.6-12.5,12.5c0,6.9,5.6,12.5,12.5,12.5h184c6.9,0,12.5-5.6,12.5-12.5C282.7,94.1,277.1,88.5,270.2,88.5z"/>
                <path d="M270.2,158.5h-184c-6.9,0-12.5,5.6-12.5,12.5c0,6.9,5.6,12.5,12.5,12.5h184c6.9,0,12.5-5.6,12.5-12.5C282.7,164.1,277.1,158.5,270.2,158.5z"/>
            </symbol>

            <symbol id="ico-header-message" viewBox="0 0 40 40">
                <path d="M8,11V29H18l9,6V29h5V11ZM30,27H25v4l-6-4H10V13H30Z"/>
                <rect x="15" y="18" width="10" height="1"/>
                <rect x="15" y="21" width="10" height="1"/>
            </symbol>

            <symbol id="ico-header-mail" viewBox="0 0 40 40">
                <path d="M10,13H30V27H10ZM8,11V29H32V11Z"/>
                <polygon points="20 23.21 12.29 15.71 13 15 20 21.79 27 15 27.71 15.71 20 23.21"/>
                <polygon points="13 25 12.29 24.29 17.15 19.65 17.85 20.35 13 25"/>
                <polygon points="27 25 22.15 20.35 22.85 19.65 27.71 24.29 27 25"/>
            </symbol>

            <symbol id="ico-plus" viewBox="0 0 40 40" >
                <polygon points="40,16 24,16 24,0 16,0 16,16 0,16 0,24 16,24 16,40 24,40 24,24 40,24 "/>
            </symbol>
            
        </defs>
    </svg>
</div>
