<div class="svg-definitions">
  <svg x="0" y="0" width="0" height="0" xmlns="http://www.w3.org/2000/svg">
    <defs>

      <symbol id="ico-checkmark" viewBox="0 0 10 8">
        <path d="M9.86.93,9.14.15a.45.45,0,0,0-.67,0h0L3.53,5.44l-2-2.15a.45.45,0,0,0-.67,0l-.73.78a.54.54,0,0,0,0,.72h0l2.7,2.9a.94.94,0,0,0,1.4,0l5.63-6A.54.54,0,0,0,9.86.93Z"/>
      </symbol>

      <symbol id="ico-warning" viewBox="0 0 16 13">
        <path d="M15.75,11.38,9,.67a1.11,1.11,0,0,0-2,0L.25,11.38C-.31,12.27.1,13,1.16,13H14.84C15.9,13,16.31,12.27,15.75,11.38ZM8,11a1,1,0,1,1,1-1A1,1,0,0,1,8,11ZM9,8H7V4H9Z"/>
      </symbol>

      <svg id="ico-triangle-up" viewBox="0 0 10 5">
        <polygon points="0 5 5 0 10 5 0 5"/>
      </svg>

      <svg id="ico-triangle-down" viewBox="0 0 10 5">
        <polygon points="0 0 5 5 10 0 0 0"/>
      </svg>

    </defs>
  </svg>
</div>
