div.GridPrototypeSlideImage {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    background-color: #EAE9E9;
    padding: 20px 30px;
}

img.GridPrototypeSlideImage {
    max-width: 500px;
}
