{% extends "grid/base.twig" %}

{% block content %}

    <div class="GridPrototypeSlideImage" {{ Mimoto.realtime() }}>
        <div  {{ Mimoto.realtime('title') }}>{{ Mimoto.render('title') }}</div>
        <div>
            The grid goes here ...
        </div>
    </div>

{% endblock %}



