<div class="button" onClick="window.open('/settings/projectmanagers', '_self');">Project Managers</div>
<div class="button" onClick="window.open('/settings/clients', '_self');">Clients</div>
<div class="button" onClick="window.open('/settings/agencies', '_self');">Agencies</div>