<div class="page_title">Project Managers</div>

<div class="simplelist">
    {% for simplelist_item_data in simplelist_data %}
        {% include 'components/data/simplelist_item.twig' with { 'label': simplelist_item_data.label } %}
    {% endfor %}
</div>
<div class="button" onclick="Maido.settings.newProjectManager();">Add Project Manager +</div>