<div class="component_project">
    <div class="projectsummary">
        flexbox | actieve subprojecten | budgetverwacht | budgetakkoord | projectmanager | statusbalk<br>
        <li>{{ name|e }}</li>
        <li>{{ client|e }}</li>
        
    </div>
    <div class="projectdetails">
        Subproject | Status | Budget | Slagingskans<br>
       Aanvragen<br>
       Lopend
    </div>
</div>