 <div class="simplelist_item">
    <div class="simplelist_item_label" onClick="Maido.settings.{{ changeMethod }}({{ id }});">{{ label|e }}</div>
    <div class="simplelist_item_options">X</div>
</div>