<html>
    <head>
        <title>The Timeline</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

        <link rel="stylesheet" type="text/css" href="/static/css/thetimeline.css">

        <script src="/mimoto.cms/static/js/mimoto.js"></script>
        <script src="/mimoto.cms/static/js/mimoto.cms.js"></script>

        <script>
            MimotoX.debug = true;
        </script>
        <script src="/static/js/thetimeline.js"></script>
        <script></script>

    </head>
    <body class="TheTimeline" style="background-color:{{ Mimoto.render('backgroundColor') }}">
        {% block content %}{% endblock %}
    </body>
</html>
