<div id="panel_entitydetail_properties" class="MimotoCMS_pages_entities_EntityDetail__panel">
    <div class="MimotoCMS_pages_entities_EntityDetail__properties">
        {% include 'MimotoCMS/components/forms/input/Button/Button.twig' with { label:'Add new property', icon:'+', onclick:"Mimoto.CMS.entityPropertyNew('" ~ Aimless.meta('id') ~ "');" } %}
        <br>
        <br>
        <div class="MimotoCMS_pages_entities_EntityDetail__properties_container" {{ Aimless.realtime('properties')|raw }}>
            {{ Aimless.data('properties')|raw }}
        </div>
    </div>
</div>