/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2015, 12:55:35 PM
    Author     : apple
*/

body {
    background-color: #ffffff;
    font-family: "futura-pt", sans-serif;
    font-size: 17px;
    padding: 0;
    margin: 0;
}

div.layer_application {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
}

div.layer_overlay {
    background-color: #000000;
    background:rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

div.layer_popup {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
    padding: 25px;
}

    div.popup {
        background-color: #f5f5f5;
        border: 1px solid #eeeeee;
        width: 100%;
        max-width: 600px;
        position: relative;
        left: auto;
        padding: 5px;
        margin: 25px auto 30px auto;
    }
    
        div.popup_content {
            padding: 25px 25px 20px 25px;
            background-color: #ffffff;
        }
        
        div.popup_button_close {
            position: absolute;
            display: inline-block;
            padding: 3px 8px 3px 8px;
            background-color: #f5f5f5;
            right: 0;
            font-size: 12px;
            color: #858585;
            cursor: pointer;
        }
    
        div.popup_title, div.page_title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

.hidden {
    display: none;
}

div.menu {
    position: absolute;
    background-color: #e5e5e5;
    top: 0;
    height: 60px;
    right: 0;
    left: 0;
}

    div.menudivider {
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #c3c3c3;
        top: 59px;
    }

    div.tabmenu {
        position: absolute;
        display: inline-block;
        padding-left: 15px;
        bottom: 0;
    }

        div.tab {
            display:inline-block;
            border: solid 1px #c3c3c3;
            padding: 10px 15px 10px 15px;
            background-color: #f5f5f5;
        }
        
            div.tab_settings {
            display:inline-block;
            border: solid 1px #c3c3c3;
            padding: 10px 15px 10px 15px;
            background-color: #f5f5f5;
        }
        
        div.tab a {
            color: #000000;
            text-decoration: none;
        }
        
        div.tab a:hover {
            color: #000000;
            text-decoration: underline;
        }

        div.tab.active {
            border-bottom: solid 1px white;
            background-color: #ffffff;
        }

        div.actionmenu {
            position: absolute;
            right: 10px;
            top: 10px;
        }
        
        div.tab.secondary {
            display:inline-block;
            border: none;
            padding: 10px 15px 10px 15px;
            background: inherit;
            font-size: 12px;
            
        }
            
            div.tab.secondary a {
                color: #858585;
            }
        
        
div.page {
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
    background-color: #ffffff;
    overflow: scroll;
}

div.button {
    color: #ffffff;
    background-color: #000000;
    display: inline-block;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}

div.button_small {
    font-size: 12px;
    color: #ffffff;
    background-color: #837dbb;
    display: inline-block;
    padding: 3px 6px 3px 6px;
    cursor: pointer;
}

div.button_text {
    color: #c3c3c3;
    text-decoration: underline;
    display:inline-block;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}


div.component_project {
    background-color: #f5f5f5;
    margin-bottom: 10px;
    position: relative;
}


/* --- forms --- */

form {
    margin: 0;
}

div.form {
    max-width: 600px;
}

div.form_field_name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    color: #9ececa
}

span.optional {
    font-size: 12px;
    color: #c3c3c3;
    font-style: italic;
}

div.form_field {
    margin-bottom: 25px;
}

input.textfield {
    font-size: 20px;
    color: #555555;
    width: 100%;
    padding: 15px;
    border: 1px solid #c3c3c3;
}

textarea.textfield {
    font-size: 20px;
    color: #555555;
    width: 100%;
    padding: 15px;
    border: 1px solid #c3c3c3;
    height: 150px;
}

select {
    font-size: 20px;
    color: #555555;
    width: 100%;
    padding: 15px;
    border: 1px solid #c3c3c3;
}

div.form_menu {
    text-align: right;
    margin-top: 30px;
}



div.simplelist {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

    div.simplelist>div {
        margin-bottom: 5px;
    }
    
    div.simplelist > div:last-child {
        margin-bottom: 0;
    }


    div.simplelist_item {
        display: -webkit-flex;
        display: flex;
        width: 100%;
        max-width: 600px;
        background-color: #9ececa;
        cursor: pointer;
    }
    
        div.simplelist_item:hover {
            color: #ffffff;
            background-color: #000000;
        }
    
        div.simplelist_item_label {
            -webkit-flex: 5;
            flex: 5;
            margin: 10px;
        }
        
        div.simplelist_item_options {
            -webkit-flex: 1;
            flex: 1;
            text-align: right;
        }

        
div.project_summary {
    display: -webkit-flex;
    display: flex;
    padding: 20px 40px 20px 20px;
}

    div.project_summary div.project {
        -webkit-flex: 5;
        flex: 5;
    }
    
    div.project_subinfo {
        -webkit-flex: 1;
        flex: 1;
        text-align: center;
    }
    
    div.project_menu {
        position: absolute;
        right: 0;
        text-align: right;
        padding: 10px;
    }
    
    div.client_name {
        font-weight: bold;
        font-size: 14px;
        padding-left: 0px;
        color: #df5b57;
    }
    
    div.project_name {
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 10px;
    }
    
    span.agency_name {
        font-style: italic;
        color: #858585;
    }
    
div.project_details {
    //display: none;
    padding: 0 8px 8px 8px;
    position: relative;
}

    div.project_details_container {
        display: -webkit-flex;
        display: flex;
        background-color: #fbfbfb;
        padding: 14px;
    }
    div.project_details.show {
        display: block;
    }
    
    div.project_details_description {
        -webkit-flex: initial;
        flex: initial;
        width: 480px;
        min-width: 200px;
        margin-right: 45px;
        padding-top: 15px;
    }
    
    div.project_details_subprojects {
        -webkit-flex: 1;
        flex: 1;
        padding-top: 15px;
    }
    
div.projectmanager_avatar {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #c3c3c3
}

    div.projectmanager_avatar > img {
        width: 50px;
        height: 50px;
    }

div.projectmanager_name {
    margin-top: 5px;
}

div.project_subinfo_value {
    font-size: 30px;
    font-weight: bold;
}

div.project_subinfo_key {
    margin-top: 5px;
}


/* --- subprojects --- */


div.subproject_phase {
    margin-bottom: 20px;
}

div.subproject_title {
    font-weight: bold;
    margin-bottom: 5px;
}

div.subproject {
    margin-bottom: 1px;
}

div.subproject_container {
    display: -webkit-flex;
    display: flex;
}

    div.subproject_container>div {
        padding: 10px;
    }

    div.subproject_header {
        font-size: 12px;
        color: #df5b57;
    }
    
    div.subproject_content {
        background-color: #ffffff;
    }

    div.subproject_name {
        -webkit-flex: 3;
        flex: 3;
    }
    
    div.subproject_status {
        -webkit-flex: 2;
        flex: 2;
    }

    div.subproject_budget, div.subproject_chanceofsuccess {
        -webkit-flex: 1;
        flex: 1;
    }
    
    div.subproject_edit {
        -webkit-flex: none;
        flex: none;
        width: 50px;
        text-align: right;
    }

div.subproject_details {
    background-color: #ff0000;
}

    
    
 /* --- view options --- */
 
 div.filter {
     background-color: #ffffff;
 }
 
    div.filter_title {
        display: inline-block;
        margin-right: 10px;
        font-size: 12px;
        color: #df5b57;
    }

    div.filter_option {
        display: inline-block;
        margin-right: 5px;
        font-size: 12px;
    }
    
    
    
div.settings_page_header {
    width: 100%;
    max-width: 600px;
}
    
div.settings_page_title {
    display: inline-block;
    margin-top: 10px;
}

div.settings_header_alignright {
    float: right;
    right: 0;
}
    