/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2015, 12:55:35 PM
    Author     : apple
*/

body {
    background-color: #eeeeee;
    font-family: "futura-pt", sans-serif;
    font-size: 17px;
    padding: 0;
    margin: 0;
}

a.logo {
    text-decoration: none;
    color: #000000;
}

div.menu {
    position: relative;
    width: 100%;
    background-color: #e5e3e4;
    padding: 10px;
    margin-bottom: 25px;
}

    div.menu > .button-action {
        color: #ffffff;
        background-color: #df5b57;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        display:inline-block;
    }
    
    div.menu > .appname {
        display:inline-block;
        margin: 10px;
    }
    
    

div.datasets
{
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 0;
    padding: 25px;
}

div.dataset {
    width: 170px;
    height: 210px;
    float: left;
    position: relative;
    margin: 0 25px 35px 0;
    padding: 0px;
    background-color: #ffffff;
}

div.dataset > .innerpage {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 10px;
    color: #000000;
    background-color: #eeeeee;
}

div.dataset > .innerpage > .label {
    position: absolute;
    bottom: 8px;
    right: 14px;
}

a.dataset {
    color: #000000;
    text-decoration: none;
}

div.objectinfo {
    padding: 12px;
    background-color: #ffffff;
    border-radius: 8px;
}

div.lineHorizontal {
    width: 20px;
    height: 1px;
    background-color: #000000;
}



div.component_project {
    background-color: #ffffff;
    margin: 10px;
}