/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Sep 27, 2015, 12:55:35 PM
    Author     : apple
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "futura-pt", sans-serif;
  font-size: 17px;
  padding: 0;
  margin: 0;
}

div.layer_application {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
}

div.layer_overlay {
  background-color: #000000;
  background:rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

div.layer_popup {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
  padding: 25px;
}

div.popup {
  background-color: #f5f5f5;
  border: 1px solid #eeeeee;
  width: 100%;
  max-width: 600px;
  position: relative;
  left: auto;
  padding: 5px;
  margin: 25px auto 30px auto;
}

div.popup_content {
  padding: 25px 25px 20px 25px;
  background-color: #ffffff;
  overflow: scroll;
}

div.popup_button_close {
  position: absolute;
  display: inline-block;
  padding: 3px 8px 3px 8px;
  background-color: #f5f5f5;
  right: 0;
  font-size: 12px;
  color: #858585;
  cursor: pointer;
}

div.popup_title, div.page_title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

div.menu {
  position: absolute;
  background-color: #ffffff;
  top: 0;
  height: 70px;
  right: 0;
  left: 0;
}

div.menudivider {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d5d5d5;
  top: 69px;
}


div.menu_container {
  position: absolute;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

div.tabmenu {
  -webkit-flex: 5;
  flex: 5;
  display: inline-block;
  padding: 0 20px 0 20px;
  overflow: scroll;
  align-items: flex-end;
  height: 70px;

  display: -webkit-flex;
  display: flex;
}

div.tabmenu>div.tab {
  margin-right: 7px;
}

div.tabmenu > div:last-child {
  margin-right: 20px; // does not work
}

div.tab {
  -webkit-flex: initial;
  flex: initial;
  display: inline-block;
  border: solid 1px #c3c3c3;
  padding: 10px 20px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
}

div.tab_settings {
  display:inline-block;
  border: solid 1px #c3c3c3;
  padding: 10px 15px 10px 15px;
  background-color: #f1f1f1;
}

div.tab a {
  color: #000000;
  text-decoration: none;
}

div.tab:hover {
  color: #000000;
  text-decoration: underline;
}

div.tab.active {
  border-bottom: solid 1px #fafafa;
  background-color: #fafafa;
}

div.actionmenu {
  -webkit-flex: initial;
  flex: initial;
  padding: 15px 20px 0 25px;
  text-align: right;
  background-color: #fafafa;
  border-left: 1px solid #d5d5d5;
  display: inline-block;
}

div.tab.secondary {
  display:inline-block;
  border: none;
  padding: 10px 15px 10px 15px;
  background: inherit;
  font-size: 12px;
}

div.tab.secondary a {
  color: #858585;
}


div.page {
  position: absolute;
  top: 70px;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
  background-color: #fafafa;
  overflow: scroll;
}

div.button {
  color: #ffffff;
  background-color: #000000;
  display: inline-block;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  white-space:nowrap;
}

div.button.red {
  background-color: #ff0000;
}

div.button_small {
  font-size: 12px;
  color: #ffffff;
  background-color: #06AFEA;
  display: inline-block;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
  white-space:nowrap;
}

div.button_text {
  color: #c3c3c3;
  text-decoration: underline;
  display:inline-block;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}


div.component_project {
  background-color: #ffffff;
  margin-bottom: 10px;
  position: relative;
}


/* --- forms --- */

form {
  margin: 0;
}

div.form {
  max-width: 600px;
}

div.form_field_name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  color: #06afea
}

span.optional {
  font-size: 12px;
  color: #c3c3c3;
  font-style: italic;
}

div.form_field {
  margin-bottom: 25px;
}

input.textfield {
  font-size: 20px;
  color: #555555;
  width: 100%;
  padding: 15px;
  border: 1px solid #c3c3c3;
}

textarea.textfield {
  font-size: 20px;
  color: #555555;
  width: 100%;
  padding: 15px;
  border: 1px solid #c3c3c3;
  height: 150px;
}

select {
  font-size: 20px;
  color: #555555;
  width: 100%;
  padding: 15px;
  border: 1px solid #c3c3c3;
}



div.simplelist {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

div.simplelist>div {
  margin-bottom: 5px;
}

div.simplelist > div:last-child {
  margin-bottom: 0;
}


div.simplelist_item {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  cursor: pointer;
}

div.simplelist_item:hover {
  color: #ffffff;
  background-color: #000000;
}

div.simplelist_item_label {
  -webkit-flex: 5;
  flex: 5;
  margin: 10px;
}

div.simplelist_item_options {
  -webkit-flex: 1;
  flex: 1;
  text-align: right;
}


div.project_subinfo_container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  flex: 1;
  align-items: center;
}

@media (max-width: 600px) {

  div.project_summary {
    display: block;
    padding: 20px 20px 20px 20px;
  }

  div.project, div.project_subinfo_container
  {
    -webkit-flex: none;
    flex: none;
    clear: left
  }

  div.project_subinfo_container {
    margin-top: 15px;
    width: 100%;
    background-color: #fafafa;
  }

  div.project_subinfo {
    padding: 15px 0 10px 0;
  }
}

@media (min-width: 601px) {

  div.project_summary {
    padding: 20px 40px 20px 20px;
  }

  div.project_summary, div.project_subinfo_container {
    display: -webkit-flex;
    display: flex;
  }

  div.project, div.project_subinfo_container {
    -webkit-flex: 1;
    flex: 1;
  }
}


div.project_subinfo {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
}

div.project_menu {
  position: absolute;
  right: 0;
  text-align: right;
  padding: 10px;
}

div.client_name {

  font-size: 14px;
  padding-left: 0px;
  color: #06AFEA;
}

div.project_name {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}

span.agency_name {
  font-style: italic;
  color: #858585;
}

div.project_details {
  display: none;
  padding: 0 8px 8px 8px;
  position: relative;
}

div.project_details_container {
  display: -webkit-flex;
  display: flex;
  background-color: #fbfbfb;
  padding: 14px;
}
div.project_details.show {
  display: block;
}

div.project_details_description {
  -webkit-flex: initial;
  flex: initial;
  width: 480px;
  min-width: 200px;
  margin-right: 45px;
  padding-top: 15px;
}

div.project_details_subprojects {
  -webkit-flex: 1;
  flex: 1;
  padding-top: 15px;
}

div.projectmanager_avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #c3c3c3
}

div.projectmanager_avatar > img {
  width: 50px;
  height: 50px;
}

div.projectmanager_name {
  margin-top: 5px;
  color: #858585;
  font-size: 12px;
}

div.project_subinfo_value {
  font-size: 30px;
  font-weight: bold;
}

div.project_subinfo_key {
  margin-top: 5px;
  color: #858585;
  font-size: 12px;
}


/* --- subprojects --- */


div.subproject_phase {
  margin-bottom: 20px;
}

div.subproject_title {
  font-weight: bold;
  margin-bottom: 5px;
}

div.subproject {
  margin-bottom: 1px;
}

div.subproject_container {
  display: -webkit-flex;
  display: flex;
}

div.subproject_container>div {
  padding: 10px;
}

div.subproject_header {
  font-size: 12px;
  color: #df5b57;
}

div.subproject_content {
  background-color: #ffffff;
}

div.subproject_name {
  -webkit-flex: 3;
  flex: 3;
}

div.subproject_status {
  -webkit-flex: 2;
  flex: 2;
}

div.subproject_budget, div.subproject_chanceofsuccess {
  -webkit-flex: 1;
  flex: 1;
}

div.subproject_edit {
  -webkit-flex: none;
  flex: none;
  width: 50px;
  text-align: right;
}

div.subproject_details {
  background-color: #ff0000;
}



/* --- view options --- */

div.filter {
//background-color: #fafafa;
  margin-left: 20px;
}

div.filter_title {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  color: #06AFEA;
}

div.filter_option {
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
}



div.settings_page_header {
  width: 100%;
  max-width: 600px;
}

div.settings_page_title {
  display: inline-block;
  margin-top: 10px;
}

div.settings_header_alignright {
  float: right;
  right: 0;
}




/* --- silent demo --- */

div.silent_container {
  position: relative;
  width: 100%;
  height: 400px;
  background: url("/static/img/barchart.png") no-repeat #b6d2d0;
}

div.silent_entities, div.silent_entityshadows {
  position: absolute;
  width: 100%;
  height: 400px;
}

div.silent_entity {
  position: absolute;
  width: 41px;
  height: 32px;
}

div.silent_block {
  position: absolute;
  width: 41px;
  height: 32px;
  background: url("/static/img/block.png");
}

div.silent_shadow {
  position: absolute;
  width: 41px;
  height: 32px;
  background: url("/static/img/shadow.png");
}


div.example_page {
  background-color: #ffffff;
  padding: 25px;
}

div.form_holder {
    background-color: #f5f5f5;
    padding: 30px;
    max-width: 818px;
}

div.example_article
{
  border: #c3c3c3 solid 1px;
  background-color: #f1f1f1;
  padding: 8px;
}

img.example_avatar {
    max-width: 100%;
}

div.example_article_regular
{
  border: #c3c3c3 solid 1px;
  background-color: #ffffff;
  padding: 8px;
}

div.example_article_explainer
{
  border: #c3c3c3 solid 1px;
  background-color: #f7ecb5;
  padding: 8px;
}


div.example_feeditem1, div.example_feeditem2
{
  border: #c3c3c3 solid 1px;
  padding: 8px;
  cursor: pointer;
}

div.example_feeditem1:hover>b, div.example_feeditem2:hover>b
{
  text-decoration: underline;
}

div.example_feeditem1
{
  background-color: #ffffff;
}

div.example_feeditem2
{
  background-color: #f7ecb5;
}

div.example_feed, div.example_formfields
{
  width: 500px;
  border: #000000 solid 1px;
  background-color: #ffffff;
  padding: 10px;
}

div.example_feed>div
{
  margin-bottom: 7px;
}

div.example_feed>div:last-child
{
  margin-bottom: 0;
}


div.example_project_subprojects
{
  width: 500px;
  border: #000000 solid 1px;
  background-color: #ffffff;
  padding: 10px;
}

div.example_project_subprojects>div
{
  margin-bottom: 7px;
}

div.example_project_subprojects>div:last-child
{
  margin-bottom: 0;
}


div.example_subproject
{
  background-color: #ffffff;
  border: #c3c3c3 solid 1px;
  padding: 8px;
}

div.example_subproject_active
{
  background-color: #f7ecb5;
  color: #06afea;
  border: #c3c3c3 solid 1px;
  padding: 8px;
}

div.example_subproject_archived
{
  background-color: #fafafa;
  color: #999999;
  border: #c3c3c3 solid 1px;
  padding: 8px;
}

div.example_clientlist, div.example_entitylist {
  width: 500px;
  border: #000000 solid 1px;
  background-color: #f5f5f5;
  padding: 10px;
}

div.example_clientlist>div, div.example_entitylist>div
{
  margin-bottom: 7px;
}

div.example_clientlist>div:last-child, div.example_entitylist>div
{
  margin-bottom: 0;
}



div.examples__ProjectManager {
  display: inline-block;
  background-color: #eeeeee;
  border: 1px solid #555555;
  padding: 7px 12px 7px 7px;
}
