<div class="page_title">Clients</div>

<div id="simplelist" class="simplelist">
    {% for simplelist_item_data in simplelist_data %}
        {% include 'components/data/simplelist_item.twig' with { 'changeMethod':changeMethod, 'id':simplelist_item_data.getId, 'label':simplelist_item_data.getName, 'livescreenid__component':'client.'~simplelist_item_data.getId, 'livescreenid__component_label':'client.'~simplelist_item_data.getId~'.name' } %}
    {% endfor %}
</div>
<div class="button" onclick="Maido.settings.newClient();">Add new client +</div>
<script>Maido.notifications.connectPage('clients');</script>