{% extends "pages/SettingsPage.twig" %}

{% block page %}
    <div class="settings_page_header">
        <hr><br>
        <div class="page_title settings_page_title">Subproject States</div>
        <div class="button settings_header_alignright" onclick="Maido.data.newEntity('subprojectState');">Add state +</div>
    </div>

    <div class="simplelist">
        {{ Aimless.selection('subprojectstates')|raw }}
    </div>
{% endblock %}