div.MimotoCMS_pages_entities_EntityDetail__panel {
    margin-bottom: 25px;
    background-color: #ffffff;
    padding: 15px;
}

div.MimotoCMS_pages_entities_EntityDetail__meta {
    position: relative;
    background-color: #ffffff;

    justify-content: center;

    display: flex;
    flex-wrap: nowrap;
}

div.MimotoCMS_pages_entities_EntityDetail__meta a {
    color: $tower-gray;
}

div.MimotoCMS_pages_entities_EntityDetail__meta_info {
    flex-grow: 4;
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;

    div.MimotoCMS_pages_entities_EntityDetail__meta_info-structure {
        flex-grow: 1;
        align-items: stretch;
        padding: 8px 10px 10px 20px;
        background-color: #fcfcfc;

        span.MimotoCMS_pages_entities_EntityDetail__meta_info-structure-name {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 8px;
        }
    }

    div.MimotoCMS_pages_entities_EntityDetail__meta_info-usage {
        flex-grow: 1;
        align-items: stretch;
        padding: 10px;
    }
}

div.MimotoCMS_pages_entities_EntityDetail__meta_menu {
    flex-grow: 1;
    align-items: stretch;
    text-align: right;
    margin-left: 10px;
}

li.MimotoCMS_pages_entities_EntityDetail__property {
    margin: 5px 0 8px 0;
}

span.MimotoCMS_pages_entities_EntityDetail__property-name {
    background-color: $pale-slate;
    color: #ffffff;
    padding: 3px 7px 4px 7px;
}

span.MimotoCMS_pages_entities_EntityDetail__property-type {
    background-color: $fuzzy-wuzzy-brown;
    color: #ffffff;
    padding: 3px 7px 4px 7px;
    margin-left: 3px;
}

div.MimotoCMS_pages_entities_EntityDetail__container {
    background-color: #fcfcfc;
    padding: 3px;
}


div.MimotoCMS_pages_entities_EntityDetail__meta_info_instanceCount_container {
    display: inline-block;
    padding: 0 20px 0 20px;
    background-color: $sinbad;
    color: #ffffff;
}

div.MimotoCMS_pages_entities_EntityDetail__meta_info_instanceCount_description {
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}

div.MimotoCMS_pages_entities_EntityDetail__meta_info_instanceCount_number {
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
}