@import 'EntityProperty/EntityProperty';
@import 'EntityPropertySetting/EntityPropertySetting';
@import 'EntityPropertySettingAllowedEntityType/EntityPropertySettingAllowedEntityType';
@import 'EntityPropertySettingFormattingOption/EntityPropertySettingFormattingOption';
@import 'EntityPropertyExample/EntityPropertyExample';
@import 'ComponentListItem/ComponentListItem';
@import 'ComponentDetail/ComponentDetail';
@import 'Form/Form';


div.MimotoCMS_pages_entities_EntityDetail__codeexample {
    padding: 15px;
    overflow: scroll;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    white-space: nowrap;
}

div.MimotoCMS_pages_entities_EntityDetail__codeexample-title {
    font-weight: bold;
    margin-bottom: 10px;
}

div.MimotoCMS_pages_entities_EntityDetail__codeexample-container {
    
}

div.MimotoCMS_pages_entities_EntityDetail__block {
    padding: 15px 15px 10px 15px;
    background-color: $offwhite;
}

ul.MimotoCMS_pages_entities_EntityDetail_container, div.MimotoCMS_pages_entities_EntityDetail_Instances__container {

    padding: 1px;
    background-color: #f1f1f1;

    & > li {
        margin-bottom: 1px;
    }

    & > li:last-child {
        margin-bottom: 0;
    }
}