div.MimotoCMS_pages_entities_EntityDetail__panel {
    margin-bottom: 25px;
    background-color: #ffffff;
    padding: 15px;
}

@import 'Structure/Structure';
@import 'Properties/Properties';
@import 'More/More';
