{% extends "MimotoCMS/components/base.twig" %}

{% block content %}

    {% set extends = Aimless.data('extends.name') %}
    {# set extends_id = Aimless.meta('extends.id') #}{# todo #}
    {% set extends_id = Aimless.meta('id') %}{# todo #}


    {%
        embed "MimotoCMS/components/modules/Tabmenu/Tabmenu.twig" with {
            id: 'entitydetails',
            tabs: [
                {
                    label: 'Structure',
                    panel_id: 'panel_entitydetail_structure'
                },
                {
                    label: 'Instances',
                    panel_id: 'panel_entitydetail_instances'
                },
                {
                    label: 'More',
                    panel_id: 'panel_entitydetail_more',
                    secondary: true
                }
            ]
        }
    %}
        {% block panels %}

            <div id="panel_entitydetail_structure" class="MimotoCMS_pages_entities_EntityDetail__panel">
                {% include "MimotoCMS/components/pages/entities/EntityDetail/Structure/Structure.twig" %}
            </div>

            <div id="panel_entitydetail_instances" class="MimotoCMS_pages_entities_EntityDetail__panel">
                {% include "MimotoCMS/components/pages/entities/EntityDetail/Instances/Instances.twig" %}
            </div>

            <div id="panel_entitydetail_more" class="MimotoCMS_pages_entities_EntityDetail__panel">
                {% include "MimotoCMS/components/pages/entities/EntityDetail/More/More.twig" %}
            </div>

        {% endblock %}
    {% endembed %}


    <br>
    <br>
    // 1. Aimless.render('properties', 'property_detail')<br>
    // 2. Aimless.data('properties')<br>
    // 3. Abstract properties tonen<br>
    // 4. Only get real data? how about connection id's Aimless.connection()<br>
    <br>


{% endblock %}
