div.MimotoCMS_popups_Select {


}

div.MimotoCMS_popups_Select-header {

    padding: 10px;
}

div.MimotoCMS_popups_Select-container {

    & > div {
        margin-bottom: 1px;
    }

    & > div:last-child {
        margin-bottom: 0;
    }
}
