<div class="MimotoCMS_popups_Select">
    <div class="MimotoCMS_popups_Select-header"> </div>
    Select:

    <div class="MimotoCMS_popups_Select-container">
        {{ Mimoto.selection('items', 'ListItem') }}
    </div>
</div>
