div.MimotoCMS_users_overview_UserPreview {

    flex: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    padding: 15px 15px 20px 20px;
    background-color: #ffffff;
    min-width: 300px;
}

div.MimotoCMS_users_overview_UserPreview-info {
    flex: auto;
    text-align: left;
}

    div.MimotoCMS_users_overview_UserPreview-name {
        font-size: 20px;
        font-weight: bold;
        color: $tower-gray;
    }

    div.MimotoCMS_users_overview_UserPreview-email {
        font-style: italic;
    }

div.MimotoCMS_users_overview_UserPreview-menu {
    flex: auto;

    & > * {
        float: right;
        margin-left: 3px;
    }

    & > *:first-child {
        margin-left: 0;
    }
}

div.MimotoCMS_ListItemModule-sorthandlecontainer {
    display: inline-block;
    padding-top: 5px;
    padding-left: 10px;
}

div.MimotoCMS_users_overview_UserPreview-sorthandle {
    display: inline-block;
    overflow: hidden;
    width: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 2px;
    cursor: move;
    flex: 0 0 auto;
}

div.MimotoCMS_users_overview_UserPreview-sorthandledot {
    float: left;
    width: 3px;
    height: 3px;
    margin: 0 1px 2px;
    background-color: $tower-gray;
}

div.MimotoCMS_ListItemModule--drag {
    background-color: $white;
}

div.MimotoCMS_ListItemModule--ghost {
    opacity: 0;
}
