<div class="MimotoCMS_pages_forms_FormDetail-FormFieldValue">

    <div class="MimotoCMS_pages_forms_FormDetail-FormFieldValue__data">
        <div class="MimotoCMS_pages_forms_FormDetail-FormFieldValue__name" {{ Aimless.realtime('vartype') }}>
            {{ Aimless.render('vartype') }}
        </div>
    </div>

</div>
