<div class="MimotoCMS_pages_configuration_Overview_Section">
    <div class="MimotoCMS_pages_configuration_Overview_Section-image"></div>
    <a href="{{ sURL }}" class="MimotoCMS_pages_configuration_Overview_Section-label">{{ sLabel }}</a>
</div>
