<div class="form_field">
    <div class="form_field_name">Name</div>
    <div class="form_field_input"><input id="form_data_{{ fieldName }}" name="name" type="text" class="textfield" value="{% if data.getName is defined %}{{ data.getName }}{% endif %}" /></div>
</div>