.MimotoCMS_forms_input_ListItem {
    display: flex;
    margin: 0 0 5px;
    padding: 0 20px 0 0;
    border: 1px solid $pale-slate;
    background-color: $wild-sand;
}

    .MimotoCMS_forms_input_ListItem-figure {
        width: 72px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        flex: 0 0 auto;
    }

    .MimotoCMS_forms_input_ListItem-text {
        padding: 15px 20px;
        flex: 1 1 auto;
    }

        .MimotoCMS_forms_input_ListItem-title,
        .MimotoCMS_forms_input_ListItem-subtitle {
            font-size: rem-calc(14px);
        }

        .MimotoCMS_forms_input_ListItem-title {
            font-weight: 500;
            color: $black;
        }

        .MimotoCMS_forms_input_ListItem-subtitle {
            color: $gray;
        }

    .MimotoCMS_forms_input_ListItem-button {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
    }
