#{$pr-input}_ListItem {
    display: flex;
    margin: 0 0 5px;
    padding: 0 20px 0 0;
    border: 1px solid $pale-slate;
    align-items: center;
}

#{$pr-input}_ListItem--drag {
    background-color: $white;
}

#{$pr-input}_ListItem--ghost {
    opacity: 0;
}

    #{$pr-input}_ListItem-figure {
        width: 72px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        flex: 0 0 auto;
        align-self: stretch;
    }

    #{$pr-input}_ListItem-text {
        padding: 15px 20px;
        flex: 1 1 auto;
    }

        #{$pr-input}_ListItem-title,
        #{$pr-input}_ListItem-subtitle {
            font-size: rem-calc(14px);
        }

        #{$pr-input}_ListItem-title {
            font-weight: 500;
            color: $black;
        }

        #{$pr-input}_ListItem-subtitle {
            color: $gray;
        }

    #{$pr-input}_ListItem-button {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
    }

    #{$pr-input}_ListItem-handle {
        display: block;
        width: 30px;
        height: 30px;
        margin-left: 20px;
        cursor: move;
        background-color: $tower-gray;
        flex: 0 0 auto;
    }
