<div class="MimotoCMS_forms_input_ListItem">

    {% if list_item.image|default('') %}
        <figure class="MimotoCMS_forms_input_ListItem-figure" style="background-image: url({{ list_item.image }});"></figure>
    {% endif %}

    <div class="MimotoCMS_forms_input_ListItem-text">
        <p class="MimotoCMS_forms_input_ListItem-title">{{ list_item.title }}</p>
        <p class="MimotoCMS_forms_input_ListItem-subtitle">{{ list_item.subtitle }}</p>
    </div>

    {% if list_item.removeable|default(false) %}
        <div class="MimotoCMS_forms_input_ListItem-button">
            {{ Aimless.module('Mimoto.CMS.ButtonModule', { label: 'Remove', link: '#', types: ['grey'] }) }}
        </div>
    {% endif %}

    {% if sortable|default(false) %}
        <div class="MimotoCMS_forms_input_ListItem-handle"></div>
    {% endif %}

</div>
