div.MimotoCMS_actions_ActionOverview_Action {

    flex: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    padding: 15px 15px 20px 20px;
    background-color: #ffffff;
    min-width: 300px;
}

div.MimotoCMS_actions_ActionOverview_Action-info {
    flex: auto;
    text-align: left;
}

    div.MimotoCMS_actions_ActionOverview_Action-head {
        margin-bottom: 10px;
    }

    div.MimotoCMS_actions_ActionOverview_Action-body-section {
        margin-bottom: 15px;
    }

    div.MimotoCMS_actions_ActionOverview_Action-body-section-label {
        display: inline-block;
        margin-right: 10px;
    }

    div.MimotoCMS_actions_ActionOverview_Action-namecontainer {
        display: inline-block;
    }

    div.MimotoCMS_actions_ActionOverview_Action-name, div.MimotoCMS_actions_ActionOverview_Action-name p {
        font-size: 20px;
        font-weight: bold;
        color: $tower-gray;
    }

    div.MimotoCMS_actions_ActionOverview_Action-file {
        font-style: italic;
        font-weight: normal;
        color: $pale-slate;
    }

    div.MimotoCMS_actions_ActionOverview_Action-settings-empty {
        padding: 10px 20px 15px 0;
        font-style: italic;
        color: #858585;
    }

    div.MimotoCMS_actions_ActionOverview_Action-settings {
        padding: 10px 20px 15px 20px;
    }

div.MimotoCMS_actions_ActionOverview_Action-menu {
    float: right;
}

div.MimotoCMS_modules_ListItem-sorthandlecontainer {
    display: inline-block;
    float: right;
    padding-top: 7px;
    padding-left: 10px;
}


div.MimotoCMS_actions_ActionOverview_Action-conditionals {

    & > div {
        margin-bottom: 5px;
    }

    & > div:last-child {
        margin-bottom: 0;
    }
}

div.MimotoCMS_actions_ActionOverview_Action-conditionals-empty {
    //display: inline-block;
    font-style: italic;
    color: #858585;
}

span.MimotoCMS_actions_ActionOverview_Action-conditionals-addFirst {
    cursor: pointer;
    text-decoration: underline;
}

div.MimotoCMS_actions_ActionOverview_Action-conditionals-add {
    display: inline-block;
    font-style: italic;
    color: #858585;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 45px;
}


div.MimotoCMS_actions_ActionOverview_Action-conditionals-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    & > div {
        flex: none;
        display: inline-block;
        margin-right: 8px;

        &:last-child {
            margin-right: 10px;
        }
    }
}
