@import 'Selection/Selection';
@import 'SelectionRule/SelectionRule';


div.MimotoCMS_pages_selections_SelectionOverview {
    padding: 0 0 35px 0;
}

div.MimotoCMS_pages_selections_SelectionOverview-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    //position: relative;
    margin-bottom: 25px;
    margin-top: 30px;

    & > div {
        margin-bottom: 5px;
        margin-right: 5px;
    }

    & > div:last-child {
        margin-bottom: 0;
        margin-right: 0;
    }
}

div.MimotoCMS_pages_selections_SelectionOverview-intro {
    max-width: 500px;
}