{{ Aimless.module('Mimoto.CMS.ButtonModule', { label:'Add new selection', icon:'plus', onclick:"Mimoto.CMS.selectionNew();" }) }}

<div class="MimotoCMS_pages_selections_SelectionOverview__container" {{ Aimless.realtime('selections', 'Mimoto.CMS_selections_SelectionOverview_ListItem') }}>
    {{ Aimless.render('selections', 'Mimoto.CMS_selections_SelectionOverview_ListItem') }}
</div>
