div.GridPrototypeSlideGrid {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: #EAE9E9;
    padding: 20px 30px 30px 30px;
}

div.GridPrototype {
    padding: 20px;
    background-color: #fff;
}

div.GridPrototype-weeknumbers {
    width: 111px;
    float: left;
}

span.GridPrototype-weeknumber {
    width: 111px;
    min-height: 50px;

    margin-bottom: 1px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

div.GridPrototype-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    max-height: 306px;
    overflow: hidden;

    &:first-child {
        margin-left: 111px;
        margin-bottom: 20px;
    }
}

div.GridPrototype-items-background {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - 40px);
    display: none;
}

div.GridPrototype-item,
div.GridPrototype-day,
div.GridPrototype-category {
    position: relative;

    flex-basis: 111px;
    min-height: 50px;

    margin-bottom: 1px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    font-weight: 800;
}

div.GridPrototype-item {
    background-color: #eee;
}

div.GridPrototype-day {
    color: #000;
    font-weight: 400;
    background-color: #ddd;
}

div.GridPrototype-category {
    cursor: pointer;
}