div.GridPrototypeSlideGrid {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    background-color: #EAE9E9;
    padding: 20px 30px 30px 30px;
}

div.GridPrototype-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin: 0 auto;

    background-color: #ffffff;
}

div.GridPrototype-item,
div.GridPrototype-category {
    flex-basis: calc((100% - 6px) / 7);
    min-height: 50px;

    margin-bottom: 1px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.GridPrototype-item {
    background-color: #eee;
}

div.GridPrototype-category {
    background-color: #aaa;
}