body.MimotoPublisher {
    background-color: #E5E4E4;
    margin: 0;
    padding: 0;
}


div.MimotoPublisher-menu {
    width: 100%;
    padding: 15px 25px 15px 25px;
    background-color: #DF5B57;
    position: fixed;
    z-index: 100;

    & > div.MimotoPublisher-menu-home {

        display: inline-block;
        float: left;

        & > a {
            color: #ffffff;
            font-weight: bold;
            text-decoration: none;
        }
    }

    & > div.MimotoPublisher-menu-logo {

        display: inline-block;
        float: right;
        color: #ffffff;

    }
}

div.MimotoPublisher-footer {
    padding: 25px;
    text-align: center;
    color: #858585;
}
