div.MimotoCMS_forms_input_Button {
    color: #ffffff;
    background-color: #000000;
    display: inline-block;
    padding: 11px 18px 13px 18px;
    cursor: pointer;
    white-space:nowrap;
    font-size: 14px;
    margin: 15px 0 15px 0;
}

div.MimotoCMS_forms_input_Button>span {
    color: #06afea;
    margin-left: 14px;
    font-size: 14px;
}

div.MimotoCMS_forms_input_Button.red {
    background-color: #ff0000;
}
