div.MimotoCMS_forms_input_ImageUpload {
    position: relative;
    margin: 0 0 10px;
    border: 1px solid $pale-slate;
    background-color: $mercury;
}

div.MimotoCMS_forms_input_ImageUpload--show-preview {
    div.MimotoCMS_forms_input_ImageUpload-preview {
        display: block;
    }
}

div.MimotoCMS_forms_input_ImageUpload--hide-upload-progess {
    div.MimotoCMS_forms_input_ImageUpload-preview-upload-progress {
        opacity: 0;
    }
}

div.MimotoCMS_forms_input_ImageUpload--show-preview-image {
    img.MimotoCMS_forms_input_ImageUpload-preview-image {
        opacity: 1;
    }

    div.MimotoCMS_forms_input_ImageUpload-trigger {
        visibility: hidden;
    }
}

div.MimotoCMS_forms_input_ImageUpload-fulltrigger {
    cursor: pointer;
}

    div.MimotoCMS_forms_input_ImageUpload-trigger {
        padding: 120px 20px;
        cursor: pointer;
    }

        div.MimotoCMS_forms_input_ImageUpload-trigger-button {
            overflow: hidden;
            width: 35px;
            height: 35px;
            margin: 0 auto 15px;
            border-radius: 100%;
            background-color: $silver-chalice;
        }

            div.MimotoCMS_forms_input_ImageUpload-trigger-button-icon {
                display: block;
                width: 17px;
                height: 17px;
                margin: 9px;
                fill: $mercury;
            }

        p.MimotoCMS_forms_input_ImageUpload-trigger-text {
            font-size: rem-calc(14px);
            font-weight: 500;
            text-align: center;
            color: rgba($black, .5);
        }

img.MimotoCMS_forms_input_ImageUpload-new-preview-image {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
}

    div.MimotoCMS_forms_input_ImageUpload-preview {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
    }

        div.MimotoCMS_forms_input_ImageUpload-preview-template {
            position: relative;
            overflow: hidden;
            height: 100%;
            padding: 0 80px;
            background-color: $mercury;
        }

        div.MimotoCMS_forms_input_ImageUpload-preview-button {
            position: absolute;
            right: 0;
            bottom: -30px;
        }

        img.MimotoCMS_forms_input_ImageUpload-preview-image {
            position: relative;
            top: 50%;
            display: block;
            width: 100%;
            margin: 0 auto;
            transform: translate3d(0, -50%, 0);
            opacity: 0;
            transition: opacity 100ms ease-out;
        }

        div.MimotoCMS_forms_input_ImageUpload-preview-upload-progress {
            position: absolute;
            z-index: 100;
            top: 50%;
            left: 0;
            width: 100%;
            height: 20px;
            margin-top: -5px;
            padding: 0 120px;
            transition: opacity 100ms ease-out;
        }

            div.MimotoCMS_forms_input_ImageUpload-preview-upload-progess-bar {
                width: 0;
                height: 20px;
                border-radius: 10px;
                background-color: $tower-gray;
                transition: width 300ms ease-out;
            }

div.MimotoCMS_forms_input_ImageUpload-delete {
    text-align: right;
    font-size: 12px;
    color: #858585;
    font-style: italic;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    & > .hidden {
        display: none;
    }
}