.form-image-upload {
  margin: 0 0 10px;
  padding: 120px 20px;
  border: 1px solid $pale-slate;
  background-color: $mercury;

  .form-image-upload-button {
    overflow: hidden;
    width: 35px;
    height: 35px;
    margin: 0 auto 15px;
    cursor: pointer;
    border-radius: 100%;
    background-color: $silver-chalice;

    .form-image-upload-button-icon {
      display: block;
      width: 17px;
      height: 17px;
      margin: 9px;
      fill: $mercury;
    }
  }

  .form-image-upload-text {
    font-size: rem-calc(14px);
    text-align: center;
    color: rgba($black, .5);
    font-weight: 500;
  }
}
