<div class="form-component" data-module="views/ImageUpload" data-options='{"url": "http://httpbin.org/post"}'>
  <div class="form-component-title">Desktop afbeelding <span class="form-component-title-information">(optioneel)</span></div>

  <div class="form-component-content">
    <div class="form-component-element">
      <div class="form-image-upload js-image-upload">
        <div class="form-image-upload-trigger js-image-upload-trigger">
          <div class="form-image-upload-button"><svg class="form-image-upload-button-icon"><use xlink:href='#ico-plus'/></svg></div>
          <p class="form-image-upload-text">Klik hier of drop een afbeelding</p>
        </div>

        <div class="form-image-upload-preview js-image-upload-preview">
          <div class="form-image-upload-preview-template js-image-upload-preview-template">
            <img data-dz-thumbnail class="form-image-upload-preview-image" />
            <div class="form-image-upload-preview-upload-progress">
              <div class="form-image-upload-preview-upload-progess-bar" data-dz-uploadprogress></div>
            </div>
            <div class="form-image-upload-preview-button">
              {% include 'MimotoCMS/components/forms/input/Button/Button.twig' with {
                label: 'Verwijderen',
                attributes: ['dz-remove']
              } %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="form-component-description">De afbeelding mag max 2MB zijn. Een resolutie van 1400x900px werkt het beste.</p>
  </div>
</div>
