@import 'ListItem/ListItem';

div.MimotoCMS_pages_forms_FormDetail_FieldTypeSelector__label {
    font-family: "Futura PT W02 Book", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

div.MimotoCMS_pages_forms_FormDetail_FieldTypeSelector__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 25px;
    margin-top: 30px;

    &>li {
        margin-bottom: 5px;
        margin-right: 5px;
    }

    &>li:last-child {
        margin-bottom: 0;
    }
}
