div.MimotoCMS_pages_users_UserDetail__panel {
    margin-bottom: 25px;
    background-color: #ffffff;
    padding: 15px;
    max-width: 800px;
}

div.MimotoCMS_pages_users_UserDetail_Structure {
    position: relative;
    background-color: #ffffff;
}

div.MimotoCMS_pages_users_UserDetail_Structure__meta {

    padding: 10px 15px 15px 15px;
    margin-bottom: 5px;
    background-color: $offwhite;
    display: flex;
    flex-wrap: nowrap;

    & a {
        color: $tower-gray;
    }

    &>div.MimotoCMS_pages_users_UserDetail_Structure__meta_info {
        flex-grow: 5;
    }

    &>div.MimotoCMS_pages_users_UserDetail_Structure__meta_menu {
        flex-grow: 1;
        text-align: right;
        padding-top: 5px;
    }

    div.MimotoCMS_pages_users_UserDetail_Structure__userName {
        font-size: 24px;
        font-weight: bold;
    }

    div.MimotoCMS_pages_users_UserDetail_Structure__userEmail {
        font-size: 16px;
        font-style: italic;
        color: $tower-gray;
    }

    img.MimotoCMS_pages_users_UserDetail_Structure__userAvatar {
        margin-top: 25px;
        max-width: 400px;
    }

}


div.MimotoCMS_pages_users_UserDetail__block {
    padding: 15px 15px 10px 15px;
    background-color: $offwhite;
}


div.MimotoCMS_pages_users_UserDetail_Structure__rules_empty {

    display: flex;
    flex-wrap: nowrap;

    &>div:first-child {
        flex-grow: 5;
    }

    &>div:last-child {
        flex-grow: 1;
        text-align: right;
    }
}

div.MimotoCMS_pages_users_UserDetail_Structure__rules_menu {
    padding: 20px 0 10px 0;
    text-align: left;
}

div.MimotoCMS_pages_users_UserDetail_Structure__rules_container {

    &>div {
        margin-bottom: 5px;
    }

    &>div:last-child {
        margin-bottom: 0;
    }

}
