@import 'UserRole/UserRole';

div.MimotoCMS_pages_users_UserDetail__panel {
    margin-bottom: 25px;
    background-color: #ffffff;
    padding: 15px;
    max-width: 800px;
}

div.MimotoCMS_pages_users_UserDetail_Structure {
    position: relative;
    background-color: #ffffff;
}

div.MimotoCMS_pages_users_UserDetail_Structure__meta {

    padding: 10px 15px 15px 15px;
    margin-bottom: 5px;
    background-color: $offwhite;
    display: flex;
    flex-wrap: nowrap;

    //& a {
    //    color: $tower-gray;
    //}

    &>div.MimotoCMS_pages_users_UserDetail_Structure__meta_info {
        flex: auto;
        text-align: left;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &>div.MimotoCMS_pages_users_UserDetail_Structure__meta_menu {
        flex: auto;
        text-align: right;
        padding-top: 5px;
    }
    

    div.MimotoCMS_pages_users_Detail-avatar {
        flex: none;
        margin-right: 20px;
    }

    img.MimotoCMS_pages_users_Detail-avatar {
        width: 80px;
    }

    div.MimotoCMS_pages_users_Detail-details {
        flex: auto;
    }

    div.MimotoCMS_pages_users_Detail-name {
        font-size: 24px;
        font-weight: bold;
        color: $tower-gray;
    }

    div.MimotoCMS_pages_users_Detail-email {
        font-style: italic;
    }

}


div.MimotoCMS_pages_users_UserDetail__block {
    padding: 15px 15px 10px 15px;
    background-color: $offwhite;
}


div.MimotoCMS_pages_users_UserDetail_Structure__rules_empty {

    display: flex;
    flex-wrap: nowrap;

    &>div:first-child {
        flex-grow: 5;
    }

    &>div:last-child {
        flex-grow: 1;
        text-align: right;
    }
}

div.MimotoCMS_pages_users_UserDetail_Structure__rules_menu {
    padding: 20px 0 10px 0;
    text-align: left;
}

div.MimotoCMS_pages_users_UserDetail_Structure__rules_container {

    &>div {
        margin-bottom: 5px;
    }

    &>div:last-child {
        margin-bottom: 0;
    }

}

div.MimotoCMS_pages_users_Detail-userRoles-empty {
    font-style: italic;
    color: #858585;
}

div.MimotoCMS_pages_users_Detail-userRoles-container {

    margin-top: 10px;

    & > div {
        margin-right: 5px;
    }

    & > div:last-child {
        margin-right: 0;
    }
}
