div.MimotoCMS_pages_selections_SelectionDetail-Rule {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: #f5f5f5;
}

div.MimotoCMS_pages_selections_SelectionDetail-Rule-data {
    flex: auto;
}


div.MimotoCMS_pages_selections_SelectionDetail-Rule-menu {
    flex: auto;
    white-space: nowrap;
    padding: 10px;
    text-align: right;
}

div.MimotoCMS_pages_selections_SelectionDetail-Rule-setting {
    padding: 10px;
}
