{% extends "MimotoCMS/components/base.twig" %}

{% block content %}

    {{ Aimless.module('Mimoto.CMS.ButtonModule', { label:'Add new form', icon:'+', onclick:"Mimoto.CMS.formNew();" }) }}

    <div class="MimotoCMS_pages_forms_FormOverview__container" {{ Aimless.realtime('forms', 'Mimoto.CMS_forms_FormOverview_ListItem') }}>
        {{ Aimless.selection('forms') }}
    </div>

{% endblock %}
