div.MimotoCMS_pages_notifications_Notification {

    padding: 15px;
    color: $white;
    background-color: $sinbad;

    @include breakpoint(small up) {
        display: flex;
        flex-wrap: nowrap;
    }

    div.MimotoCMS_pages_notifications_Notification-content {
        min-width: 0;
        padding: 0 0 10px;
        word-wrap: break-word;
        flex: 1 1 auto;

        @include breakpoint(small up) {
            padding: 0 10px 0 0;
        }

        div.MimotoCMS_pages_notifications_Notification-title {
            margin-bottom: 10px;
            font-size: rem-calc(18px);
            font-weight: bold;
        }

        div.MimotoCMS_pages_notifications_Notification-subtitle {
            margin-bottom: 10px;
            font-size: rem-calc(14px);
            font-style: italic;
            color: rgba($black, .5);
        }

        span.MimotoCMS_pages_notifications_Notification-subtitle-timestamp {
            padding: 0 4px;
            color: $white;
            background-color: rgba($black, .5);
        }
    }

    div.MimotoCMS_pages_notifications_Notification {
        flex: 0 0 auto;
    }
}

div.MimotoCMS_pages_notifications_Notification--silent {
    background-color: $color-notification-silent;
}

div.MimotoCMS_pages_notifications_Notification--warning {
    background-color: $color-notification-warning;
}

div.MimotoCMS_pages_notifications_Notification--error {
    background-color: $color-notification-error;
}
