.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 230px;
  transform: translate3d(0, 0, 0);
  background-color: $black;
  transition: width .25s;

  .sidebar-content {
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
  }

  .sidebar-logo-container {
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 64px;
    border-bottom: 1px solid $black;
    background-color: $sinbad;
  }

  .sidebar-logo-large,
  .sidebar-logo-small {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    transition: transform .25s;
  }

  .sidebar-logo-large {
    top: 1px;
    background-image: url('/static/img/mimoto.cms/logo.png');
  }

  .sidebar-logo-small {
    margin-left: 23px;
    opacity: 0;
    background-image: url('/static/img/mimoto.cms/logo-folded.png');
  }

  .sidebar-collapse-toggle {
    position: absolute;
    z-index: 2;
    top: 16px;
    right: 0;
    width: 32px;
    height: 32px;
    padding: 10px;
    cursor: pointer;
    font-size: rem-calc(12px);
    transition: all .25s;

    .sidebar-collapse-toggle-icon {
      color: $white;
    }
  }

  .sidebar-collapse-toggle:hover {
    .sidebar-collapse-toggle-icon {
      color: $black;
    }
  }
}

@import 'sidebar-menu';
