.form-component {
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  margin: 0 0 20px;

  &.form-component--validated {
    .form-component-title {
      color: $tower-gray;
    }
  }

  &.form-component--has-error {
    .form-input,
    .form-select,
    .form-checkbox::after,
    .form-radiobutton::after,
    .form-image-upload {
      border-color: $fuzzy-wuzzy-brown;
    }
  }

  .form-component-title {
    position: relative;
    display: inline-block;
    margin: 0 0 10px;
    padding: 0 20px 0 0;
    font-family: $font-family-futura;
    font-size: rem-calc(14px);
    font-weight: 500;
    color: rgba($black, .9);

    .form-component-title-information {
      font-family: $font-family-helvetica;
      color: rgba($black, .5);
    }

    .form-component-title-icon {
      position: absolute;
      right: 0;
      display: block;
    }

    .form-component-title-icon.form-component-title-icon--loading {
      top: 5px;
      width: 15px;
      height: 15px;
      background-image: url('/static/img/loader.gif');
      background-position: center center;
      background-size: 15px 15px;
    }

    .form-component-title-icon.form-component-title-icon--checkmark {
      top: 5px;
      width: 13px;
      height: 12px;
      fill: $tower-gray;
    }

    .form-component-title-icon.form-component-title-icon--warning {
      top: 5px;
      width: 14px;
      height: 12px;
      fill: $fuzzy-wuzzy-brown;
    }
  }

  .form-component-content {
    display: flex;
    flex-wrap: wrap;

    &.form-component-content--no-description {
      padding: 0 percentage(1 / 3) 0 0;
    }

    .form-component-element {
      width: percentage(2 / 3);
      min-width: 400px;
      flex: 1 1 auto;
    }

    .form-component-description {
      position: relative;
      width: percentage(1 / 3);
      min-width: 200px;
      margin: 0 0 10px;
      padding: 10px 0 0 15px;
      font-size: rem-calc(13px);
      color: rgba($black, .5);
      flex: 1 1 auto;
    }

    .form-component-description::before {
      position: absolute;
      top: 0;
      left: 15px;
      display: block;
      width: 100px;
      height: 1px;
      content: '';
      background: rgba($black, .15);
    }

    .form-component-element-container {
      display: flex;
      margin: 0 0 10px;
    }

    .form-component-element-label {
      padding: 0 0 0 10px;
      cursor: pointer;
      font-size: rem-calc(14px);
      color: rgba($black, .9);
      flex: 0 1 auto;
    }

    .form-component-element-error {
      margin: 0 0 10px;
      font-size: rem-calc(13px);
      color: $fuzzy-wuzzy-brown;
    }
  }

  .form-component-button {
    margin: 0 0 10px;
  }
}
