*[class*="MimotoCMS"],
*[class*="MimotoCMS"]::after,
*[class*="MimotoCMS"]::before {
    box-sizing: border-box;
}

body[class*="MimotoCMS"] {
    font-family: $font-family-futura;
    font-size: rem-calc(16px);
    line-height: 1.5;
    background-color: $wild-sand;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

span[class*="MimotoCMS"] {
    font-family: $font-family-futura;
    font-size: rem-calc(16px);
    line-height: 1.5;
}

b[class*="MimotoCMS"] {
    font-weight: bold;
}

.svg-definitions[class*="MimotoCMS"] {
    display: none;
    visibility: hidden;
}

.hidden[class*="MimotoCMS"] {
    display: none !important;
}
