*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: $font-family-futura;
    font-size: rem-calc(16px);
    line-height: 1.5;
    background-color: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

b {
    font-weight: bold;
}

.svg-definitions {
    display: none;
    visibility: hidden;
}
