@font-face {
  font-family: 'icomoon';
  src: url('#{$icomoon-font-path}/icomoon.eot?j8quz9');
  src: url('#{$icomoon-font-path}/icomoon.eot?j8quz9#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/icomoon.woff2?j8quz9') format('woff2'),
  url('#{$icomoon-font-path}/icomoon.ttf?j8quz9') format('truetype'),
  url('#{$icomoon-font-path}/icomoon.woff?j8quz9') format('woff'),
  url('#{$icomoon-font-path}/icomoon.svg?j8quz9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i,
.icon {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-arrow-down {
  &::before {
    content: $icon-arrow-down;
  }
}

.icon-arrow-left {
  &::before {
    content: $icon-arrow-left;
  }
}

.icon-arrow-right {
  &::before {
    content: $icon-arrow-right;
  }
}

.icon-calendar {
  &::before {
    content: $icon-calendar;
  }
}

.icon-checkmark {
  &::before {
    content: $icon-checkmark;
  }
}

.icon-eyedropper {
  &::before {
    content: $icon-eyedropper;
  }
}

.icon-plus {
  &::before {
    content: $icon-plus;
  }
}

.icon-pyramid-down {
  &::before {
    content: $icon-pyramid-down;
  }
}

.icon-pyramid-up {
  &::before {
    content: $icon-pyramid-up;
  }
}

.icon-warning {
  &::before {
    content: $icon-warning;
  }
}

