<html>
    <head>
        <title>Mimoto.Aimless</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
        <script src="/static/js/jquery-2.2.0.min.js"></script>
        <script src="/static/js/MaidoProjects.js"></script>
        <script src="/static/js/Mimoto.Aimless.js"></script>
    </head>
    <body>
        <div class="layer_application">
            <div class="menu">
                <div class="menudivider"></div>
                <div class="menu_container">
                    <div class="tabmenu">
                        <div class="tab {% if section=='___projects' %}active{% endif %}" onClick="Maido.page.change('/');">Projects</div>
                        <div class="tab {% if section=='forecast' %}active{% endif %}" onClick="Maido.page.change('/forecast');">Forecast</div>
                        <div class="tab {% if section=='result' %}active{% endif %}" onClick="Maido.page.change('/result');">Result</div>
                        <div class="tab {% if section!='settings' %}secondary{% endif %} {% if section=='settings' %}active{% endif %}" onClick="Maido.page.change('/settings');">Settings</div>
                    </div>
                    <div class="actionmenu">
                        <div class="button" onClick="Maido.data.newEntity('project');">Add project +</div>
                    </div>
                </div>
            </div>
            <div class="page">
                {% block submenu %}{% endblock %}
                {% block page %}{% endblock %}
            </div>
        </div>
        <div id="layer_overlay" class="layer_overlay hidden"></div>
        <div id="layer_popup" class="layer_popup hidden">    
            <div id="popup" class="popup">
                <div class="popup_button_close" onClick="Maido.popup.close();">Close</div>
                <div id="popup_content" class="popup_content"></div>
                
            </div>
        </div>
    </body>
</html>
