<div class="entityconfig" onclick="window.open('/mimoto.cms/entity/{{ entityConfig.getId }}', '_self');">
    <div class="entityconfig_inner">
        <div class="entityconfig_title">{{ entityConfig.getName() }}</div>
        <div class="entityconfig_subtitle">id = {{ entityConfig.getId() }}</div>
    </div>
</div>