div.MimotoCMS_forms_layout_Title {
    width: 100%;
    max-width: 500px;
    margin-bottom: 25px;
    padding: 29px 29px 5px 29px;
}

div.MimotoCMS_forms_layout_Title__title {
    width: 100%;
    max-width: 500px;
    font-family: "futura-pt", sans-serif;
    font-size: 50px;
    margin-left: -3px;
}

div.MimotoCMS_forms_layout_Title__subtitle {
    font-family: "futura-pt", sans-serif;
    font-size: 15px;
    width: 100%;
    max-width: 500px;
    margin-top: 2px;
    color: #979797;
}

div.MimotoCMS_forms_layout_Title__description {
    font-family: "Helvetica neue", sans-serif;
    font-size: 14px;
    color: #303030;
    line-height: 21px;
    margin-top: 20px;
    text-align: justify;
}