<div class="MimotoCMS_pages_entities_EntityDetail_Instances">
    [search fields]
    <br>
    <br>
    {#<div class="MimotoCMS_pages_entities_EntityDetail_Properties__container" {{ Aimless.realtime('instances')|raw }}>
        {{ Aimless.data('instances')|raw }}
    </div>#}
</div>