@import 'Header/Header';
@import 'Menu/Menu';
@import 'Menu/Menu-collapsed';
@import 'Popup/Popup';



div.layer_application {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.pagecontent {

  position: absolute;
  top: $header-height-collapsed;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 30px;

  @include breakpoint(large up) {

    top: $header-height-regular;
    left: $navigation-width;

    transition: top .25s, left .25s;
  }

}
