// This is the Mimoto scss variable file
// CSS class prefix (pr) names

$pr-mimoto:                     '.MimotoCMS' !default;
$pr-forms:                      '.MimotoCMS_forms' !default;
$pr-input:                      '.MimotoCMS_forms_input' !default;
$pr-interface:                  '.MimotoCMS_interface' !default;

// Fonts
$font-family-helvetica:         "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-futura:            "Futura PT W02 Book", sans-serif !default;
$futura-font-path:              '/static/fonts/futura' !default;

// Colors
$black:                         #000;
$white:                         #fff;
$tower-gray:                    #9dbab7;
$alabaster:                     #f7f7f7;
$pale-slate:                    #c3c1c2;
$fuzzy-wuzzy-brown:             #c76255;
$bon-jour:                      #e7e5e6;
$gray:                          #818181;
$silver:                        #bebebe;
$mercury:                       #e3e3e3;
$silver-chalice:                #a3a3a3;
$offwhite:                      #fcfcfc;
$cod-gray:                      #202020;

$color-notification-silent:     #b5b3b4;
$color-notification-warning:    #867adb;
$color-notification-error:      #df5b57;

$alto:                          #e0e0e0;
$sinbad:                        #9dceca;
$mine-shaft:                    #333;
$dusty-gray:                    #9f9f9f;

// Mimoto CMS Variables
$navigation-collapsed-width:    64px !default;
$navigation-width:              230px !default;
$header-height-collapsed:       50px !default;
$header-height:                 64px !default;

// Z-index variables
$z-header:                      1000 !default;
$z-pagecontent:                 999 !default;
$z-navigation:                  1001 !default;
