// Icomoon Variables
$icomoon-font-path:             '/static/fonts/icomoon' !default;

$icon-arrow-down:               '\e900' !default;
$icon-arrow-left:               '\e901' !default;
$icon-arrow-right:              '\e902' !default;
$icon-calendar:                 '\e903' !default;
$icon-checkmark:                '\e904' !default;
$icon-eyedropper:               '\e905' !default;
$icon-plus:                     '\e906' !default;
$icon-pyramid-down:             '\e907' !default;
$icon-pyramid-up:               '\e908' !default;
$icon-warning:                  '\e909' !default;

// Fonts
$font-family-helvetica:         "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-futura:            "futura-pt", sans-serif !default;

// Colors
$black:                         #000 !default;
$white:                         #fff !default;
$tower-gray:                    #9dbab7 !default;
$alabaster:                     #f7f7f7 !default;
$pale-slate:                    #c3c1c2 !default;
$fuzzy-wuzzy-brown:             #c76255 !default;
$bon-jour:                      #e7e5e6 !default;
$gray:                          #818181 !default;
$silver:                        #bebebe !default;
$mercury:                       #e3e3e3 !default;
$silver-chalice:                #a3a3a3 !default;

// Mimoto CMS Variables
$navigation-collapsed-width:       64px    !default;
$navigation-width:                 230px    !default;

$header-height-regular: 64px;
$header-height-collapsed: 50px;

// Colors
$alto:                          #e0e0e0 !default;
$sinbad:                        #9dceca !default;
$mine-shaft:                    #333    !default;
$dusty-gray:                    #9f9f9f !default;
