// Fonts
$font-family-helvetica:         "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-futura:            Futura, "Trebuchet MS", Arial, sans-serif;

// Colors
$black:                         #000 !default;
$white:                         #fff !default;
$tower-gray:                    #9dbab7 !default;
$alabaster:                     #f7f7f7 !default;
$pale-slate:                    #c3c1c2 !default;
$fuzzy-wuzzy-brown:             #c76255 !default;
