@import 'PathElement/PathElement';

div.MimotoCMS_modules_PathEditor {
    //margin-top: 35px;
}

div.MimotoCMS_modules_PathEditor-empty {
    font-style: italic;
    color: $tower-gray;
}

div.MimotoCMS_modules_PathEditor-absolutepath {
    margin: 10px 0 15px 0;
    padding: 10px;
    display: flex;
    background-color: #f1f1f1;

    & > div {
        flex-basis: auto;
    }

    & > div:first-child {
        padding: 10px 5px 10px 0;
    }
}

div.MimotoCMS_modules_PathEditor-container {

    & > div:first-child {
        margin-left: 3px;
    }

    & > div {
        margin-right: 3px;
    }

    & > div:last-child {
        margin-right: 0;
    }
}

div.MimotoCMS_modules_PathEditor-menu {
    padding: 20px 0 10px 0;
    text-align: left;
}