<div class="MimotoCMS_pages_entities_EntityListItem" onclick="window.open('/mimoto.cms/entity/{{ Aimless.meta('id') }}/view', '_self');">
    <div class="MimotoCMS_pages_entities_EntityListItem__label" {{ Aimless.realtime('name')|raw }}>{{ Aimless.data('name') }}</div>
</div>
