{{
    Mimoto.module('Mimoto.CMS.ListModule',
    {
        button_label: 'Add new selection',
        button_icon: 'plus',
        button_directive: Mimoto.add('selections', '_Mimoto_coreform__selection'),
        property_name: 'selections',
        listitem_component: 'MimotoCMS_selections_Overview_ListItem'
    })
}}

<div {{ Mimoto.showWhenEmpty('selections') }}>
    <b>Start adding selections</b><br>
    Adding selections to your project allow you to dynamically fetch preconfigured
    sets of data from within every scope of your project. With the added benefit of
    out of the box heavy caching.
</div>
