<div id="popup" class="MimotoCMS_interface_Popup">
    <div class="MimotoCMS_interface_Popup__closebutton" onClick="Maido.popup.close();">Close</div>
    <div id="popup_content" class="MimotoCMS_interface_Popup__closebutton__content"></div>
</div>