<div class="MimotoCMS_forms_output_Description">
    <div class="MimotoCMS_forms_output_Description__title">{{ Aimless.data('title') }}</div>
    <div class="MimotoCMS_forms_output_Description__description">{{ Aimless.data('description') }}</div>
</div>

