div.MimotoCMS_pages_dashboard_Overview {
    margin-bottom: 35px;
}

div.MimotoCMS_pages_dashboard_Overview-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
}

div.MimotoCMS_pages_dashboard_Overview-introduction {
    margin-bottom: 25px;
}

h1.MimotoCMS_pages_dashboard_Overview-database {
    font-size: 24px;
    color: $fuzzy-wuzzy-brown;
    margin-bottom: 10px;
}

div.MimotoCMS_pages_dashboard_Overview-database {

    background-color: $white;
    padding: 25px 25px 35px 25px;
    width: 100%;
    max-width: 600px;

    & > div {
        margin-bottom: 20px;
    }

    & > div:last-child {
        margin-bottom: 0;
    }
}

div.MimotoCMS_pages_dashboard_Overview-warning {

    height: 40px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    max-width: 600px;
}

div.MimotoCMS_pages_dashboard_Overview-warning-label {
    flex: none;
    height: 40px;
    background-color: $fuzzy-wuzzy-brown;
    color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    & > span {
        flex: auto;
        padding: 0 15px;
    }
}

div.MimotoCMS_pages_dashboard_Overview-warning-arrow {
    width: 40px;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

div.MimotoCMS_pages_dashboard_Overview-warning-message {

    flex: auto;
    height: 40px;
    background-color: #ffffff;
    color: $fuzzy-wuzzy-brown;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-left: 20px;

    & > span {
        flex: auto;
        padding: 0 15px;
    }
}



div.MimotoCMS_pages_dashboard_Overview-database-tables-title {
    font-size: 20px;
    font-weight: bold;
    color: $sinbad;
    margin-bottom: 10px;
}

div.MimotoCMS_pages_dashboard_Overview-database-tables-container {

    padding: 1px;
    background-color: $wild-sand;

    & > div {
        margin-bottom: 1px;
    }

    & > div:last-child {
        margin-bottom: 0;
    }
}

span.MimotoCMS_pages_dashboard_Overview-database-tables-syncmessage {
    font-style: normal;
    color: $fuzzy-wuzzy-brown;
}