<b>Welcome to the new Mimoto!</b><br>
The ultra fast, fluid & realtime data management microframework<br>
<br>
<b>Currently in private beta for:</b>
<ul>
    <li>- The new momkai.com</li>
    <li>- An improved Maido.Projects</li>
    <li>- Speakers agency administration tool</li>
    <li>- The next major version of Respondens</li>
    <li>- And several others soon to be presented</li>
</ul>
