<b>Welcome <span data-mimoto-value="_Mimoto_user.{{ Mimoto.globalValue('app').session.get('user').id }}.name">{{ Mimoto.globalValue('app').session.get('user').name }}</span></b>,<br>
<br>
This is Mimoto, the ultra fast, fluid & realtime data management microframework!
