.form-component-element-checkbox-container {
  position: relative;
  width: 20px;
  height: 20px;

  .form-component-element-checkbox {
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0;
  }

  .form-component-element-checkbox:checked + .form-component-element-checkbox-overlay {
    background: $white;

    .form-component-element-checkbox-overlay-checkmark {
      display: block;
    }
  }

  .form-component-element-checkbox-overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    pointer-events: none;
    border: 1px solid $pale-slate;
    background: $alabaster;

    .form-component-element-checkbox-overlay-checkmark {
      display: none;
      width: 13px;
      height: 12px;
      margin: 3px 0 0 2px;
      fill: $tower-gray;
    }
  }
}
