div.MimotoCMS_pages_selections_SelectionOverview_Selection {

    padding: 10px;
    background-color: #ffffff;
    min-width: 450px;
}

div.MimotoCMS_pages_selections_SelectionOverview_Selection-name {

    flex: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}


div.MimotoCMS_pages_selections_SelectionOverview_Selection-label {
    display: inline-block;
    padding-bottom: 5px;
    margin-left: 12px;
}

span.MimotoCMS_pages_selections_SelectionOverview_Selection-label-label {
    float: left;
    margin-top: 5px;
    margin-right: 8px;
}

span.MimotoCMS_pages_selections_SelectionOverview_Selection-label-value {
    float: left;
    position: relative;
}

div.MimotoCMS_pages_selections_SelectionOverview_Selection-info {
    flex: auto;
    text-align: left;
}

    div.MimotoCMS_pages_selections_SelectionOverview_Selection-head {
        margin-bottom: 10px;
        padding-left: 5px;
    }

    div.MimotoCMS_pages_selections_SelectionOverview_Selection-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    div.MimotoCMS_pages_selections_SelectionOverview_Selection-section-label {

        flex: none;

        display: inline-block;
        margin-right: 10px;
        margin-top: 9px;
        min-width: 50px;
    }

    div.MimotoCMS_pages_selections_SelectionOverview_Selection-section-data {
        flex: auto;
        display: inline-block;
        padding: 5px;
    }

    div.MimotoCMS_pages_selections_SelectionOverview_Selection-namecontainer {
        display: inline-block;
    }

    div.MimotoCMS_pages_selections_SelectionOverview_Selection-name, div.MimotoCMS_pages_selections_SelectionOverview_Selection-name p {
        font-size: 20px;
        font-weight: bold;
        color: $tower-gray;
    }

    div.MimotoCMS_pages_selections_SelectionOverview_Selection-file {
        font-style: italic;
        font-weight: normal;
        color: $pale-slate;
    }

    div.MimotoCMS_pages_selections_SelectionOverview_Selection-settings-empty {
        padding: 10px 20px 15px 0;
        font-style: italic;
        color: #858585;
    }

    div.MimotoCMS_pages_selections_SelectionOverview_Selection-settings {
        padding: 0;
    }

div.MimotoCMS_pages_selections_SelectionOverview_Selection-menu {
    float: right;

    & > .MimotoCMS_pages_selections_SelectionOverview_Selection-menuitem {
        display: inline-block;
        margin-top: 4px;
    }
}

div.MimotoCMS_modules_ListItem-sorthandlecontainer {
    display: inline-block;
    float: right;
    padding-top: 7px;
    padding-left: 10px;
}


div.MimotoCMS_pages_selections_SelectionOverview_Selection-rules {

    padding: 0;

    & > div {
        margin-bottom: 5px;
    }

    & > div:last-child {
        margin-bottom: 0;
    }
}

div.MimotoCMS_pages_selections_SelectionOverview_Selection-rules-empty {
    //display: inline-block;
    font-style: italic;
    color: #858585;
    margin-left: 5px;
}

span.MimotoCMS_pages_selections_SelectionOverview_Selection-rules-addFirst {
    cursor: pointer;
    text-decoration: underline;
    margin-left: 10px;
}

div.MimotoCMS_pages_selections_SelectionOverview_Selection-rules-add {
    display: inline-block;
    font-style: italic;
    color: #858585;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 10px;
}


div.MimotoCMS_pages_selections_SelectionOverview_Selection-conditionals-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    & > div {
        flex: none;
        display: inline-block;
        margin-right: 8px;

        &:last-child {
            margin-right: 10px;
        }
    }
}


div.MimotoCMS_pages_selections_SelectionOverview_Selection-settings {

    padding: 0;

    & > div {
        margin-bottom: 5px;
    }

    & > div:last-child {
        margin-bottom: 0;
    }
}

div.MimotoCMS_pages_selections_SelectionOverview_Selection-settings-empty {
    //display: inline-block;
    font-style: italic;
    color: #858585;
}

span.MimotoCMS_pages_selections_SelectionOverview_Selection-settings-addFirst {
    cursor: pointer;
    text-decoration: underline;
}

div.MimotoCMS_pages_selections_SelectionOverview_Selection-settings-add {
    display: inline-block;
    font-style: italic;
    color: #858585;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 70px;
}


div.MimotoCMS_pages_selections_SelectionOverview_Selection-settings-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    & > div {
        flex: none;
        display: inline-block;
        margin-right: 8px;

        &:last-child {
            margin-right: 10px;
        }
    }
}
