@import 'Article/Article';
@import 'Author/Author';
@import 'Feed/Feed';
@import 'FeedItem/FeedItem';
@import 'FeedItem/FeedItemExplainer';
@import 'Comment/Comment';
@import 'Editor/Editor';


body.MimotoPublisher {
    background-color: #E5E4E4;
    margin: 0;
    padding: 0;
}


div.MimotoPublisher-menu {
    width: 100%;
    padding: 15px 25px 15px 25px;
    background-color: #DF5B57;
    position: fixed;
    z-index: 100;

    & > div.MimotoPublisher-menu-home {

        display: inline-block;
        float: left;

        & > a {
            color: #ffffff;
            font-weight: bold;
            text-decoration: none;
        }
    }

    & > div.MimotoPublisher-menu-logo {

        display: inline-block;
        float: right;
        color: #ffffff;

    }
}

div.MimotoPublisher-footer {
    padding: 25px;
    text-align: center;
    color: #858585;
}



span.infocard {
    color: $fuzzy-wuzzy-brown;
    font-weight: bold;

}
span.infocard::after {
    content: '';
    display: inline-block;
    width: 23px;
    height: 19px;
    vertical-align: sub;
    background: url('/static/images/infocard.png') 0 0 no-repeat;
    background-size: 19px 19px;
    background-position: right 0 center;
    cursor: pointer;
}



.ql-infocard::after {
    content: '';
    padding-top: 4px;
    padding-left: 19px;
    color: #ffffff;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    background: url('/static/images/infocard.png') 0 0 no-repeat;
    background-size: 19px 19px;
}




span.boldPurple {
    color: $color-notification-warning;
    font-weight: bold;
}

.ql-boldPurple::after {
    content: 'X';
    vertical-align: middle;
    padding-top: 4px;
    color: #ffffff;
}



//
//span.boldPink {
//    color: #FF9999;
//    font-weight: bold;
//    font-style: italic;
//}
//
//.ql-boldPurple::after {
//    content: 'X';
//    vertical-align: middle;
//    padding-top: 4px;
//    color: #ffffff;
//}
