<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mimoto.Publisher</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

        <link rel="stylesheet" type="text/css" href="/static/css/publisher.css">

    </head>

    <body class="MimotoPublisher">
        <div class="MimotoPublisher-menu">
            <div class="MimotoPublisher-menu-home"><a href="/publisher">Home</a></div>
            <div class="MimotoPublisher-menu-logo">De Correspondent</div>
        </div>
        <div class="MimotoPublisher-content">{% block content %}{% endblock %}</div>
        <div class="MimotoPublisher-footer">
            Built on top of Mimoto<br>The ultra fast, fluid & realtime data management microframework
        </div>


        {#{% if !Mimoto.editMode | Mimoto.isMode('edit') %}<script scr="yourinfocardscript"></script>{% endif %}#}
        <script src="/static/js/publisher.js"></script>
        <script type="text/javascript" src="/mimoto/mimoto.js"></script>
        <script type="text/javascript" src="/mimoto/mimoto.cms.js"></script>
        <script>
            Mimoto.debug = true
        </script>
    </body>
</html>
