<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mimoto.Publisher</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">


        <link href="https://cdn.quilljs.com/1.2.3/quill.bubble.css" rel="stylesheet">



        <script src="/mimoto/static/js/mimoto.js"></script>
        <script src="/mimoto/static/js/mimoto.cms.js"></script>


        <link rel="stylesheet" type="text/css" href="/static/css/publisher.css">

        {#<script src="/static/js/publisher.js"></script>#}

        {#{% if !Mimoto.editMode | Mimoto.isMode('edit') %}<script scr="yourinfocardscript"></script>{% endif %}#}


        <script>

            MimotoX.debug = true;

            document.addEventListener('DOMContentLoaded', function ()
            {
                //var popup = MimotoX.popup('/mimoto.cms/contentsection/1/edit'); // #next -> form for infocard

                //console.log('popup', popup);

                //console.log('Version = ' + MimotoX.version);

            }, false);

        </script>

    </head>
    <body class="MimotoPublisher">
        <div class="MimotoPublisher-menu">
            <div class="MimotoPublisher-menu-home"><a href="/publisher">Home</a></div>
            <div class="MimotoPublisher-menu-logo">De Correspondent</div>
        </div>
        <div class="MimotoPublisher-content">{% block content %}{% endblock %}</div>
        <div class="MimotoPublisher-footer">
            Built on top of Mimoto<br>The ultra fast, fluid & realtime data management microframework
        </div>
    </body>
</html>
