div.MimotoCMS_entities_overview_Entity {

    flex: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    padding: 15px 15px 20px 20px;
    background-color: #ffffff;
    min-width: 300px;
}

div.MimotoCMS_entities_overview_Entity-info {
    flex: auto;
    text-align: left;
}

    div.MimotoCMS_entities_overview_Entity-name {
        font-size: 20px;
        font-weight: bold;
        color: $tower-gray;
    }

    span.MimotoCMS_entities_overview_Entity-isUserExtension {
        font-style: italic;
        font-weight: normal;
        color: $silver-chalice;
    }

    div.MimotoCMS_entities_overview_Entity-properties-empty {
        padding: 10px 20px 15px 0;
        font-style: italic;
        color: #858585;
    }

    div.MimotoCMS_entities_overview_Entity-properties-userextension {
        padding: 10px 20px 10px 20px;
        font-style: italic;

        & > div.MimotoCMS_entities_overview_Entity-properties-userextension-division {
            height: 0;
            padding-top: 20px;
            border-bottom: 1px solid $mercury;
        }
    }

    div.MimotoCMS_entities_overview_Entity-properties {
        padding: 10px 20px 15px 20px;
    }

div.MimotoCMS_entities_overview_Entity-menu {
    float: right;
}

div.MimotoCMS_modules_ListItem-sorthandlecontainer {
    display: inline-block;
    float: right;
    padding-top: 7px;
    padding-left: 10px;
}

div.MimotoCMS_entities_overview_Entity-sorthandle {
    display: inline-block;
    overflow: hidden;
    width: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 2px;
    cursor: move;
    flex: 0 0 auto;
}

div.MimotoCMS_entities_overview_Entity-sorthandledot {
    float: left;
    width: 3px;
    height: 3px;
    margin: 0 1px 2px;
    background-color: $tower-gray;
}

div.MimotoCMS_modules_ListItem--drag {
    background-color: $white;
}

div.MimotoCMS_modules_ListItem--ghost {
    opacity: 0;
}
