<div class="GridPrototypeCourse" {{ Mimoto.realtime() }} onclick="window.open('/grid/course/{{ Mimoto.meta('id') }}', '_self')">
    <div  {{ Mimoto.realtime('name') }}>{{ Mimoto.data('name') }}</div>
</div>
