.form-radiobutton {
  position: relative;
  z-index: 0;
  display: block;
  width: 20px;
  height: 20px;
  flex: 0 0 auto;

  &::after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    content: '';
    cursor: pointer;
    opacity: 1;
    border: 1px solid $pale-slate;
    border-radius: 100%;
    background: $alabaster;
  }

  &::before {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    display: none;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    content: '';
    border-radius: 100%;
    background: $tower-gray;
  }
}

.form-radiobutton:checked {
  &::after {
    background: $white;
  }

  &::before {
    display: block;
  }
}
