{% embed "MimotoCMS/components/forms/form_component.twig" %}
  {% block form_component_element %}

    {% set aOptions = Aimless.fieldOptions() %}
    {% for option in aOptions %}
      <div class="form-component-element-container">
        <input {{ Aimless.input()|raw }} type="radio" value="{{ option.key }}" class="MimotoCMS_forms_input_Radiobutton" {% if Aimless.value() == option.key %}checked{% endif %}/>
        <label for="yes" class="form-component-element-label">{{ option.value }}</label>
      </div>
    {% endfor %}

  {% endblock %}
{% endembed %}
