{#
  <div {{ Aimless.field()|raw }} class="form_field">
    <input type="radio" name="gender" value="male" checked> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Other
  </div>
#}

  <div class="form-component">
    <p class="form-component-title">Is dit een radiobutton? <span class="form-component-title-information">(optioneel)</span></p>

    <div class="form-component-content form-component-content--no-description">
      <div class="form-component-element">
        <div class="form-component-element-container">
          <input type="radio" name="radiobutton" id="yes" class="form-component-element-radiobutton"/>
          <label for="yes" class="form-component-element-label">Ja, maar alleen vandaag</label>
        </div>
        <div class="form-component-element-container">
          <input type="radio" name="radiobutton" id="maybe" class="form-component-element-radiobutton"/>
          <label for="maybe" class="form-component-element-label">Misschien wel</label>
        </div>
        <div class="form-component-element-container">
          <input type="radio" name="radiobutton" id="no" class="form-component-element-radiobutton"/>
          <label for="no" class="form-component-element-label">Waarschijnlijk niet</label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-component">
    <p class="form-component-title">Is dit een radiobutton? <span class="form-component-title-information">(optioneel)</span><span class="form-component-title-icon form-component-title-icon--loading"></span></p>

    <div class="form-component-content">
      <div class="form-component-element">
        <div class="form-component-element-container">
          <input type="radio" name="radiobutton" id="yes" class="form-component-element-radiobutton"/>
          <label for="yes" class="form-component-element-label">Ja, maar alleen vandaag</label>
        </div>
        <div class="form-component-element-container">
          <input type="radio" name="radiobutton" id="maybe" class="form-component-element-radiobutton"/>
          <label for="maybe" class="form-component-element-label">Misschien wel</label>
        </div>
        <div class="form-component-element-container">
          <input type="radio" name="radiobutton" id="no" class="form-component-element-radiobutton"/>
          <label for="no" class="form-component-element-label">Waarschijnlijk niet</label>
        </div>
      </div>
      <p class="form-component-description">Kies één van de opties</p>
    </div>
  </div>

  <div class="form-component form-component--validated">
    <p class="form-component-title">Is dit een radiobutton? <span class="form-component-title-information">(optioneel)</span><svg class="form-component-title-icon form-component-title-icon--checkmark"><use xlink:href='#ico-checkmark'/></svg></p>

    <div class="form-component-content form-component-content--no-description">
      <div class="form-component-element">
        <div class="form-component-element-container">
          <input type="radio" name="radiobutton" id="yes" class="form-component-element-radiobutton"/>
          <label for="yes" class="form-component-element-label">Ja, maar alleen vandaag</label>
        </div>
        <div class="form-component-element-container">
          <input type="radio" name="radiobutton" id="maybe" class="form-component-element-radiobutton"/>
          <label for="maybe" class="form-component-element-label">Misschien wel</label>
        </div>
        <div class="form-component-element-container">
          <input type="radio" name="radiobutton" id="no" class="form-component-element-radiobutton"/>
          <label for="no" class="form-component-element-label">Waarschijnlijk niet</label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-component form-component--has-error">
    <p class="form-component-title">Is dit een radiobutton? <span class="form-component-title-information">(optioneel)</span><svg class="form-component-title-icon form-component-title-icon--warning"><use xlink:href='#ico-warning'/></svg></p>

    <div class="form-component-content form-component-content--no-description">
      <div class="form-component-element">
        <div class="form-component-element-container">
          <input type="radio" name="radiobutton" id="yes" class="form-component-element-radiobutton"/>
          <label for="yes" class="form-component-element-label">Ja, maar alleen vandaag</label>
        </div>
        <div class="form-component-element-container">
          <input type="radio" name="radiobutton" id="maybe" class="form-component-element-radiobutton"/>
          <label for="maybe" class="form-component-element-label">Misschien wel</label>
        </div>
        <div class="form-component-element-container">
          <input type="radio" name="radiobutton" id="no" class="form-component-element-radiobutton"/>
          <label for="no" class="form-component-element-label">Waarschijnlijk niet</label>
        </div>
        <p class="form-component-element-error">U moet één van de waardes kiezen.</p>
      </div>
    </div>
  </div>

{#<div {{ Aimless.field()|raw }} class="form_field">
    <input type="radio" name="gender" value="male" checked> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Other
</div>#}
