@import 'input/Checkbox/Checkbox';
@import 'input/DatePicker/DatePicker';
@import 'input/MultiSelect/MultiSelect';
@import 'input/Dropdown/Dropdown';
@import 'input/Image/Image';
@import 'input/List/List';
@import 'input/List/ListItem/ListItem';
@import 'input/RadioButton/RadioButton';
@import 'input/Textblock/Textblock';
@import 'input/Textline/Textline';
@import 'input/Video/Video';

@import 'output/Title/Title';

@import 'layout/GroupStart/GroupStart';
@import 'layout/GroupEnd/GroupEnd';
@import 'layout/Divider/Divider';


div.MimotoCMS_forms_Form-holder {
    max-width: 750px;
    margin-bottom: 30px;
}

div.MimotoCMS_forms_Form-menu {
    width: 100%;
    text-align: right;
    margin-top: 30px;
}
