div.MimotoCMS_forms_FormField {
    position: relative;
    overflow: visible;
    max-width: 1000px;
    margin-bottom: 20px;
}

div.MimotoCMS_forms_FormField--is-validated {
    .MimotoCMS_forms_FormField-title {
        color: $tower-gray;
    }
}

div.MimotoCMS_forms_FormField--has-error {
    input.MimotoCMS_forms_input_Textline,
    input.MimotoCMS_forms_input_Textline:focus,
    input.MimotoCMS_forms_input_Textline:focus + span.MimotoCMS_forms_FormField-element-prefix,
    div.MimotoCMS_forms_input_Textblock,
    div.MimotoCMS_forms_input_Textblock:focus,
    span.MimotoCMS_forms_FormField-element-prefix,
    select.MimotoCMS_forms_input_Dropdown,
    input.MimotoCMS_forms_input_Checkbox::after,
    input.MimotoCMS_forms_input_RadioButton::after,
    div.MimotoCMS_forms_input_ImageUpload {
        border-color: $fuzzy-wuzzy-brown;
    }
}

    div.MimotoCMS_forms_FormField-header {
        display: flex;
        padding-right: percentage(1 / 3);
        align-items: center;
    }

        label.MimotoCMS_forms_FormField-title {
            position: relative;
            display: inline-block;
            margin: 0 0 10px;
            padding: 0 20px 0 0;
            //font-family: $font-family-futura;
            font-family: Futura, "Trebuchet MS", Arial, sans-serif;
            font-size: rem-calc(14px);
            font-weight: 500;
            color: rgba($black, .9);
        }

            span.MimotoCMS_forms_FormField-title-information {
                font-family: $font-family-helvetica;
                color: rgba($black, .5);
            }

            svg.MimotoCMS_forms_FormField-title-icon {
                position: absolute;
                top: -4px;
                right: 0;
                display: none;
                width: 15px;
                height: 30px;
            }

            svg.MimotoCMS_forms_FormField-title-icon--checkmark {
                display: block;
                fill: $tower-gray;
            }

            svg.MimotoCMS_forms_FormField-title-icon--warning {
                display: block;
                fill: $fuzzy-wuzzy-brown;
            }

        div.MimotoCMS_forms_FormField-button {
            display: flex;
            margin: 0 0 10px;
            flex: 1 1 auto;
            justify-content: flex-end;
        }

    div.MimotoCMS_forms_FormField-content {
        display: flex;
        flex-wrap: wrap;
    }

    div.MimotoCMS_forms_FormField-content--no-description {
        padding: 0 percentage(1 / 3) 0 0;
    }

        div.MimotoCMS_forms_FormField-element {
            width: percentage(2 / 3);
            min-width: 400px;
            flex: 1 1 auto;
        }

            div.MimotoCMS_forms_FormField-element-container {
                display: flex;
                margin-bottom: 10px;
                align-items: center;
            }

            div.MimotoCMS_forms_FormField-element-container--has-prefix {
                margin-bottom: 0;

                input.MimotoCMS_forms_input_Textline {
                    padding-left: 0;
                    border-left: 0;
                    order: 2;
                }
            }

                span.MimotoCMS_forms_FormField-element-prefix {
                    display: block;
                    height: 50px;
                    margin-bottom: 10px;
                    padding-left: 15px;
                    user-select: none;
                    font-family: $font-family-helvetica;
                    font-size: rem-calc(14px);
                    line-height: rem-calc(48px);
                    color: $tower-gray;
                    border: 1px solid $pale-slate;
                    border-right: 0;
                    outline: none;
                    background: $alabaster;
                    transition: all 100ms ease-out;
                    flex: 0 0 auto;
                    order: 1;
                }

                label.MimotoCMS_forms_FormField-element-label {
                    display: block;
                    padding: 0 0 0 10px;
                    cursor: pointer;
                    font-size: rem-calc(14px);
                    line-height: rem-calc(20px);
                    color: rgba($black, .9);
                    flex: 0 1 auto;
                }

            p.MimotoCMS_forms_FormField-element-error {
                margin: 0 0 10px;
                font-size: rem-calc(13px);
                color: $fuzzy-wuzzy-brown;
            }

        p.MimotoCMS_forms_FormField-description {
            position: relative;
            width: percentage(1 / 3);
            min-width: 200px;
            margin: 0 0 10px;
            padding: 10px 0 0 15px;
            font-size: rem-calc(13px);
            color: rgba($black, 5);
            flex: 1 1 auto;

            &::before {
                position: absolute;
                top: 0;
                left: 15px;
                display: block;
                width: 100px;
                height: 1px;
                content: '';
                background: rgba($black, .15);
            }
        }

            a.MimotoCMS_forms_FormField-description-link {
                text-decoration: underline;
                color: rgba($black, 5);
            }
