<div class="MimotoCMS_forms_Form-holder">
    <div class="MimotoCMS_forms_Form__fields">
        {{ Mimoto.form() }}
    </div>
    <div class="MimotoCMS_forms_Form-menu">
        {{ Mimoto.module('MimotoCMS_modules_Button', { label:"Cancel", types:['text'], onclick:"Mimoto.closePopup();" }) }}
        <span {{ Mimoto.submit() }}>
            {{ Mimoto.module('MimotoCMS_modules_Button', { label:"Save" }) }}
        </span>
    </div>
</div>
