<div class="MimotoCMS_forms_Form">
  <div class="MimotoCMS_forms_Form__fields">
    {{ Aimless.form()|raw }}
  </div>
  <div class="MimotoCMS_forms_Form__menu">
    {% include 'Mimoto.CMS/forms/input/ButtonText/ButtonText.twig' with { label:'Cancel', action:"Maido.popup.close();" } %}
    <span {{ Aimless.submit()|raw }}>{% include 'Mimoto.CMS/forms/input/Button/Button.twig' with { label:'Save' } %}</span>
  </div>
</div>
