{% extends "MimotoCMS/components/base.twig" %}

{% block content %}
    <div class="form_holder">
        <div class="example_form_fields">
            {{ Aimless.form()|raw }}
        </div>
        <div class="MimotoCMS_forms_Form__menu">
            <span {{ Aimless.submit()|raw }}>
                {% include "MimotoCMS/components/forms/input/Button/Button.twig" with { label:"Opslaan", onclick:"Mimoto.form.submit();" } %}
            </span>
        </div>
    </div>
{% endblock %}
