<div class="form_holder">
    <div class="MimotoCMS_forms_Form__fields">
        {{ Aimless.form() }}
    </div>
    <div class="MimotoCMS_forms_Form__menu">
        {{ Aimless.module('Mimoto.CMS.ButtonModule', { label:"Cancel", types:['text'], onclick:"Mimoto.popup.close();" }) }}
        <span {{ Aimless.submit() }}>
            {{ Aimless.module('Mimoto.CMS.ButtonModule', { label:"Save" }) }}
        </span>
    </div>
</div>
