<div data-mimotocms-tabmenu class="MimotoCMS_modules_Tabmenu">
    <div data-mimotocms-tabmenu-tabcontainer class="MimotoCMS_modules_Tabmenu-tabcontainer">
        {% block tabs %}{% endblock %}
    </div>
    <div data-mimotocms-tabmenu-panelcontainer class="MimotoCMS_modules_Tabmenu-panelcontainer">
        {% block panels %}{% endblock %}
    </div>
</div>
