<div class="settings_page_header">
    <hr><br>
    <div class="page_title settings_page_title">Project Managers</div>
    <div class="button settings_header_alignright" onclick="Maido.data.newEntity('projectmanager');">Add new project manager +</div>
</div>

<div id="simplelist" class="simplelist" mls_container="projectmanager" mls_childtemplate="ProjectManagerListItem">
    {% for projectManager in projectManagers %}
        {% include 'pages/settings/projectmanagers/ProjectManagerListItem.twig' with { projectManger:projectManager } %}
    {% endfor %}
</div>