<div class="MimotoCMS_layout_Selection">
    <h1 class="MimotoCMS_layouts_Selection-title">{{ Mimoto.getVar('sLabel') }}</h1>

    <div class="MimotoCMS_layout_Selection-container">
        {{ Mimoto.container('selection') }}
    </div>

</div>
