<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    #RewriteBase /path/to/app
    RewriteRule ^static/ - [L,NC]
    RewriteRule ^dynamic/ - [L,NC]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
    RedirectMatch 302 "^/$" "http://afstudeerproject-prototype.lusenet.com/mimoto.cms"

</IfModule>
